#textdomain wesnoth-gce
[unit_type]
	id=Battalion Lord
	name= _ "Battalion Lord"
	race=undead
	image="units/zombie-banner/battalion_lord.png"
	hitpoints=83
	movement_type=smallfoot
	movement=7
	experience=150
	level=4
	alignment=chaotic
	advances_to=Brain Eater Lord
	cost=60
	usage=fighter
	description=_ "Zombie Lord is a skilled Zombie Leader who can lead more undead units. That's really a dream of corpses. Maybe."
	[resistance]
		arcane=120
	[/resistance]
	[movement_costs]
		deep_water=4
	[/movement_costs]
	[defense]
		deep_water=90
	[/defense]
	[defend]
		start_time=-126
		flag_start_time=-126
		[frame]
			image="units/battalion/battalion.png":1,"units/battalion/battalion-defend.png":250,"units/battalion/battalion.png":1
		[/frame]
		[flag_frame]
			image="units/zombie-banner/base.png":1,"units/zombie-banner/defend.png":250,"units/zombie-banner/base.png":1
			auto_vflip=no
		[/flag_frame]
		# Do not change to SOUND:HIT, this has to remain a hit_sound_frame
		[if]
			hit_sound_start_time=-25
			hits=hit
			[hit_sound_frame]
				sound={SOUND_LIST:ZOMBIE_HIT}
			[/hit_sound_frame]
		[/if]
	[/defend]
	die_sound={SOUND_LIST:ZOMBIE_HIT}
	[attack]
		name=touch
		description=_ "touch"
		icon=attacks/touch-zombie.png
		type=impact
		range=melee
		damage=12
		number=5
		[specials]
			{WEAPON_SPECIAL_PLAGUE}
		[/specials]
	[/attack]
	[abilities]
		{ABILITY_LEADERSHIP}
	[/abilities]
	[death]
		start_time=0
		flag_start_time=0
		[frame]
			image="units/battalion/battalion-die-[1~2].png:150"
		[/frame]
		[flag_frame]
			image="units/zombie-banner/die-[1~2].png:[150]"
			auto_vflip=no
		[/flag_frame]
		[frame]
			image="units/undead/soulless-die-[3~10].png:150"
		[/frame]
	[/death]
	[attack_anim]
		[filter_attack]
			name=touch
		[/filter_attack]
		direction=s
		start_time=-200
		flag_start_time=-200
		flag_offset="0~0.6:200,0.6~0:200"
		[frame]
			image="units/battalion/battalion-attack-s.png:400"
			sound=zombie-attack.wav
		[/frame]
		[flag_frame]
			image="units/zombie-banner/attack-s.png:400"
			auto_vflip=no
		[/flag_frame]
	[/attack_anim]
	[attack_anim]
		[filter_attack]
			name=touch
		[/filter_attack]
		direction=n
		start_time=-200
		flag_start_time=-200
		flag_offset="0~0.6:200,0.6~0:200"
		[frame]
			image="units/battalion/battalion-attack-n.png:400"
			sound=zombie-attack.wav
		[/frame]
		[flag_frame]
			image="units/zombie-banner/attack-n.png:400"
			auto_vflip=no
		[/flag_frame]
	[/attack_anim]
	[attack_anim]
		[filter_attack]
			name=touch
		[/filter_attack]
		direction=se,sw,ne,nw
		start_time=-200
		flag_start_time=-200
		flag_offset="0~0.6:200,0.6~0:200"
		[frame]
			image="units/battalion/battalion-attack.png:400"
			sound=zombie-attack.wav
		[/frame]
		[flag_frame]
			image="units/zombie-banner/attack.png:400"
			auto_vflip=no
		[/flag_frame]
	[/attack_anim]
[/unit_type]
