#textdomain wesnoth-gce
[textdomain]
    name="wesnoth-gce"
    path="data/add-ons/GCE/translations"
[/textdomain]

#ifdef MULTIPLAYER

	{~add-ons/Era_of_Magic/campaign.cfg} #import Era of Magic units
	
	[binary_path]
		path=data/campaigns/Liberty
	[/binary_path]

	[units]
		{campaigns/Liberty/units}
	[/units]
	
	[binary_path]
		path=data/add-ons/GCE
	[/binary_path]	
	
	{~add-ons/GCE/eras}
	[units]
		{~add-ons/GCE/units/DarwyBfW}
	[/units]
#endif