#textdomain wesnoth-gce
[textdomain]
    name="wesnoth-gce"
    path="data/add-ons/GCE/translations"
[/textdomain]

#ifdef MULTIPLAYER

	{~add-ons/Era_of_Magic/campaign.cfg} #import Era of Magic units
	
	[binary_path]
		path=data/campaigns/Liberty
	[/binary_path]

	[units]
		{campaigns/Liberty/units}
	[/units]
	
	[binary_path]
		path=data/campaigns/Heir_To_The_Throne
	[/binary_path]
	
	[units]
		{campaigns/Heir_To_The_Throne/units/Fighter.cfg}
		{campaigns/Heir_To_The_Throne/units/Commander.cfg}
		{campaigns/Heir_To_The_Throne/units/Lord.cfg}
	[/units]
	
	[binary_path]
		path=data/campaigns/Descent_Into_Darkness
	[/binary_path]

	[units]
		{campaigns/Descent_Into_Darkness/units/Apprentice_Mage.cfg}
		{campaigns/Descent_Into_Darkness/units/Apprentice_Necromancer.cfg}
		{campaigns/Descent_Into_Darkness/units/Dark_Mage.cfg}
	[/units]
	
	[binary_path]
		path=data/add-ons/GCE
	[/binary_path]
	
	{~add-ons/GCE/utils}
	{~add-ons/GCE/eras}
	[units]
		{~add-ons/GCE/units/units.cfg}
		{~add-ons/GCE/units/human-aragwaithi.cfg}
		{~add-ons/GCE/units/truelementals.cfg}
		{~add-ons/GCE/units/windsong.cfg}
		{~add-ons/GCE/units/khthon_race.cfg}
		{~add-ons/GCE/units/DarwyBfW}
		{~add-ons/GCE/units/Refumee}
		{~add-ons/GCE/units/Aurelix}
		{~add-ons/GCE/units/GG45}
		{~add-ons/GCE/units/Lynch}
		{~add-ons/GCE/units/Lighting}
		{~add-ons/GCE/units/Konrad2}
		{~add-ons/GCE/units/Ihmcheck}
	[/units]
#endif