#textdomain wesnoth-gce

	[about]
		title = "Refumee"
		[entry]
			name = _ "Creator"
		[/entry]
	[/about]
	[about]
		title = "patience_reloaded"
		[entry]
			name = _ "patience faction"
		[/entry]
	[/about]
	[about]
		title = "aurelix"
		[entry]
			name = _ "aurelix faction"
		[/entry]
	[/about]
	[about]
		title = "DarwyBfW"
		[entry]
			name = _ "DarwyBfW faction"
		[/entry]
	[/about]
	[about]
		title = "Sir Schraddeel the Potato Lord"
		[entry]
			name = _ "GottGestalt45 faction"
		[/entry]
	[/about]
	[about]
		title = "lighting"
		[entry]
			name = _ "lighting faction"
		[/entry]
	[/about]
	[about]
		title = "Konrad2"
		[entry]
			name = _ "Konrad2 faction"
		[/entry]
	[/about]
	[about]
		title = "Ihmcheck"
		[entry]
			name = _ "Ihmcheck faction"
		[/entry]
	[/about]
	[/about]
		[about]
		title = "ForestDragon"
		[entry]
			name = _ "Balacing the factions"
		[/entry]
	[/about]