#textdomain wesnoth-gce

	[about]
        title = "Refumee"
        [entry]
            name = _ "Creator"
        [/entry]
    [/about]
	[about]
        title = "patience_reloaded"
        [entry]
            name = _ "patience faction"
        [/entry]
    [/about]