#textdomain wesnoth-gce

#define GCE_ERA_MACRO
	{~add-ons/GCE/factions/patience-default.cfg}
	{~add-ons/GCE/factions/darwybfw-default.cfg}
	{ENABLE_ADVANCEMENT "Rogue Mage" "Arcane Enforcer" ()}
	{ENABLE_WOSE_SHAMAN}
#enddef

[era]
    id=era_gce
    name= _ "GCE Era"
    require_era=yes
    description=_ "The GCW era for Wesnoth multiplayer."

	{GCE_ERA_MACRO}
[/era]
[era]
    id=era_gce_default
    name= _ "GCE Era + Default"
    require_era=yes
    description=_ "The GCW era and the standard era for Wesnoth multiplayer."

	{ERA_DEFAULT}
	{multiplayer/factions/dunefolk-default.cfg}
	{GCE_ERA_MACRO}
[/era]