#textdomain wesnoth-gce

[era]
    id=era_base_gce
    name= _ "Base GCE Era"
    require_era=yes
    description=_ "The standard era for Wesnoth multiplayer. Consists of six factions and is generally balanced."

	{ERA_DEFAULT}
	{multiplayer/factions/dunefolk-default.cfg}
	{~add-ons/GCE/factions/patience-default.cfg}
	{~add-ons/GCE/factions/darwybfw-default.cfg}
	{ENABLE_ADVANCEMENT "Rogue Mage" "Arcane Enforcer" ()}
	{ENABLE_WOSE_SHAMAN}
[/era]