#textdomain wesnoth-gce
#define GCE_COMPLETE_UNIT_LIST
	{RSP_SAURIAN_UNIT_IMPORT}
	[+units]
		{~add-ons/A_New_Human_Era/units/}
		{~add-ons/A_New_Human_Era/units/humans/}
		{~add-ons/A_New_Human_Era/units/humans/archer/}
		{~add-ons/A_New_Human_Era/units/humans/caretaker/}
		{~add-ons/A_New_Human_Era/units/humans/clubman/}
		{~add-ons/A_New_Human_Era/units/humans/doctor/}
		{~add-ons/A_New_Human_Era/units/humans/magi/}
		{~add-ons/A_New_Human_Era/units/humans/noble/}
		{~add-ons/A_New_Human_Era/units/humans/raider/}
		{~add-ons/A_New_Human_Era/units/humans/spearfighter/}
		{~add-ons/A_New_Human_Era/units/humans/summoner/}
		{~add-ons/A_New_Human_Era/units/humans/swordfighter/}
	[/units]
	[units]
		{~add-ons/GCE/units/units.cfg}
		{~add-ons/GCE/units/human-aragwaithi.cfg}
		{~add-ons/GCE/units/truelementals.cfg}
		{~add-ons/GCE/units/windsong.cfg}
		{~add-ons/GCE/units/khthon_race.cfg}
		{~add-ons/GCE/units/DarwyBfW}
		{~add-ons/GCE/units/Refumee}
		{~add-ons/GCE/units/Aurelix}
		{~add-ons/GCE/units/GG45}
		{~add-ons/GCE/units/Lynch}
		{~add-ons/GCE/units/Konrad2}
		{~add-ons/GCE/units/Konrad2/undead}
		{~add-ons/GCE/units/Ihmcheck}
		{~add-ons/GCE/units/Patience}
		{~add-ons/GCE/units/Heindal}
	[/units]
	[+units]
		{~add-ons/Era_of_Magic/units/units.cfg}
		{~add-ons/Era_of_Magic/units/Runemasters}
		{~add-ons/Era_of_Magic/units/Barbarians}
		{~add-ons/Era_of_Magic/units/Sky_Kingdom}
		{~add-ons/Era_of_Magic/units/Kharos}
		{~add-ons/Era_of_Magic/units/Summoners}
		{~add-ons/Era_of_Magic/units/Tharis}
		{~add-ons/Era_of_Magic/units/Dark_Blood_Alliance}
		{~add-ons/Era_of_Magic/units/Destroyers}
	[/units]
#enddef

#define GCE_ERA_MACRO
	{~add-ons/GCE/factions/patience-default.cfg}
	{~add-ons/GCE/factions/darwybfw-default.cfg}
	{~add-ons/GCE/factions/refumee-default.cfg}
	{~add-ons/GCE/factions/aurelix-default.cfg}
	{~add-ons/GCE/factions/gg45-default.cfg}
	{~add-ons/GCE/factions/lynch-default.cfg}
	{~add-ons/GCE/factions/lighting-default.cfg}
	{~add-ons/GCE/factions/konrad2-default.cfg}
	{~add-ons/GCE/factions/ihmcheck-default.cfg}
	{~add-ons/GCE/factions/heindal-default.cfg}
	{ENABLE_ADVANCEMENT "Rogue Mage" "Arcane Enforcer" ()}
	{ENABLE_ADVANCEMENT Soulless (Running Corpse) (set_experience=80)}
	{ENABLE_WOSE_SHAMAN}
	{ENABLE_SAURIAN_SPEARTHROWER}
	{GLOBAL__UNIVERSAL_AMLAS}
	{EVENTS_FOR_MOOG_ABILITIES}
	{ZOMBIE_INIT_GCE}
	{ZOMBIES_GCE}
	[load_resource]
		id=EoMa_events_resource
	[/load_resource]
	[load_resource]
		id=EoMa_pvp_events_resource
	[/load_resource]
	[load_resource]
		id=gce_pvp_events_resource
	[/load_resource]
	[modify_unit_type]
		type=Saurian Skirmisher
		add_advancement=Saurian Spearthrower
	[/modify_unit_type]
	[load_resource]
		id=vp_ability_events
	[/load_resource]
#enddef

[era]
	id=era_gce
	name= _ "GCE Era"
	require_era=yes
	description=_ "The GCE era for Wesnoth multiplayer."
	
	{GCE_COMPLETE_UNIT_LIST}
	{RANDOM_SIDE}
	{GCE_ERA_MACRO}
	{QUICK_4MP_LEADERS}
[/era]