#textdomain wesnoth-gce
[multiplayer_side]
	id=GCE_aurelix
	name=_ "Aurelixs Army"
	image="units/heroes/aurelix.png"
	type=random
	leader=FOW Aquatic Orc,Bandit,Outlaw,Trapper,Naga Warrior,Naga Ringcaster,Pirate Carrack,Aurelix
	random_leader=FOW Aquatic Orc,Bandit,Outlaw,Trapper,Naga Warrior,Naga Ringcaster,Pirate Carrack,Aurelix,Aurelix Captain
	recruit=EoMa_Water_Elemental,FOW Sea Orc,Skiff,Thug,Thief,Poacher,Footpad,Naga Fighter,Naga Dirkfang
	#terrain_liked=Hh, Ha, Ds, Ss
	description="<img>src='units/heroes/aurelix_captain.png~SCALE_SHARP(288,288)' align='middle'</img>

"+_"<bold>text='Aurelix'</bold> has a faction of pirates, naga, and warships united under the banner of the infamous sea lord Aurelix. Their forces excel in aquatic terrain, where their mobility and combat prowess surpass that of most other factions.

The strength of Aurelix lies in controlling waterways and coastlines. Their ships provide powerful support, while Naga and pirates strike swiftly from rivers and seas. Though some of their units are less effective away from water, they are among the most dangerous factions whenever the battle is fought near the shore."
[/multiplayer_side]