#textdomain wesnoth-gce
[multiplayer_side]
    id=GCE_aurelix
    name=_ "Aurelixs Army"
    image="units/transport/pirate-galleon.png"
    type=random
    leader=FOW Aquatic Orc,Bandit,Outlaw,Trapper,Naga Warrior,Naga Ringcaster,Pirate Carrack
	random_leader=FOW Aquatic Orc,Bandit,Outlaw,Trapper,Naga Warrior,Naga Ringcaster,Pirate Carrack
    recruit=EoMa_Water_Elemental,FOW Sea Orc,Skiff,Thug,Thief,Poacher,Footpad,Naga Fighter,Naga Dirkfang
    #terrain_liked=Hh, Ha, Ds, Ss
	description="<img>src='portraits/undead/spectre.webp~BG()' align='middle'</img>

"+_"The <bold>text='Undead'</bold> are a faction of <ref>text='undead' dst='..race_undead'</ref> creatures and <ref>text='human' dst='..race_human'</ref> practitioners of dark arts that usually accompany them. Often, these “Dark Adepts” are the units that do the most damage for the faction, but they have a major vulnerability — their practicing of this forbidden, evil magic has consumed all their energy and so they have no melee attack at all. The Undead are a very aggressive faction and the most powerful <ref>text='Default Era' dst='..era_era_default'</ref> faction at nighttime."
[/multiplayer_side]