#textdomain wesnoth-gce
[multiplayer_side]
	id=GCE_darwybfw
	name=_ "DarwyBfWs Army"
#ifver WESNOTH_VERSION <= 1.18.7
	image="units/human-outlaws/shadow-lord.png"
#endif
#ifver WESNOTH_VERSION > 1.18.7
	image="units/rogue-mage/shadow-lord.png"
#endif
	type=random
	leader=Shadow Mage,Arcane Enforcer,Elvish Pikeman GCE,Naga Marksman,Bandit,Elvish Trapper,Aragwaith Strongbow,Aragwaith Enchantress,Naga Maiden,Naga Adept
	random_leader=Shadow Mage,Arcane Enforcer,Elvish Pikeman GCE,Naga Marksman,Bandit,Elvish Trapper,Aragwaith Strongbow,Aragwaith Enchantress,Naga Maiden,Naga Adept
	recruit=Rogue Mage,Wose Sapling,Elvish Spearman GCE,Naga Hunter,Thug,Elvish Hunter,Aragwaith Archer,Aragwaith Adept,Naga Initiate
	#terrain_liked=Hh, Ha, Ds, Ss
#ifver WESNOTH_VERSION <= 1.18.7
	description="<img>src='units/human-outlaws/shadow-lord.png~SCALE_SHARP(288,288)' align='middle'</img>

"+_"The <bold>text='DarwyBfW'</bold> has a faction of elves, Aragwaithi, naga, and exiled humans united in service to the guardian of the Forest Darwy. Bound by loyalty rather than origin, these diverse peoples stand together to protect their homeland, a vast woodland crossed by countless rivers and streams.

The strength of DarwyBfW lies in its mastery of both forests and waterways. Elves and Aragwaithi hold the woodland paths, naga patrol the rivers, and skilled mages provide precise magical support from afar. Most units possess balanced melee and ranged attacks, allowing the faction to adapt to a wide variety of threats without relying on a single style of warfare.

Though their warriors are rarely the strongest specialists, their versatility, accuracy, and control of favorable terrain make them a formidable faction in the hands of a patient commander."
#endif
#ifver WESNOTH_VERSION > 1.18.7
	description="<img>src='units/rogue-mage/shadow-lord.png~SCALE_SHARP(288,288)' align='middle'</img>

"+_"The <bold>text='DarwyBfW'</bold> has a faction of elves, Aragwaithi, naga, and exiled humans united in service to the guardian of the Forest Darwy. Bound by loyalty rather than origin, these diverse peoples stand together to protect their homeland, a vast woodland crossed by countless rivers and streams.

The strength of DarwyBfW lies in its mastery of both forests and waterways. Elves and Aragwaithi hold the woodland paths, naga patrol the rivers, and skilled mages provide precise magical support from afar. Most units possess balanced melee and ranged attacks, allowing the faction to adapt to a wide variety of threats without relying on a single style of warfare.

Though their warriors are rarely the strongest specialists, their versatility, accuracy, and control of favorable terrain make them a formidable faction in the hands of a patient commander."
#endif
[/multiplayer_side]