#textdomain wesnoth-gce
[multiplayer_side]
	id=GCE_gg45
	name=_ "GottGestalt45s Army"
	image="units/frakcja5/land-mage.png"
	type=random
	leader=White Mage,Red Mage,Troll,Troll Rocklobber,EoMa_Bishop,EoMa_Child_of_Light,EoMa_Fire_Priestess,FLDwladcaz
	random_leader=White Mage,Red Mage,Troll,Troll Rocklobber,EoMa_Bishop,EoMa_Child_of_Light,EoMa_Fire_Priestess,FLDwladcaz
	recruit=FLDgolem,Mage,Troll Whelp,EoMa_Bone_Beast,EoMa_Sister_of_Light,EoMa_Cleric,FLDmagz,EoMa_Golem,Phantom Statue
	description="<img>src='units/frakcja5/land-mage.png~SCALE_SHARP(288,288)' align='middle'</img>

"+_"<bold>text='GottGestalt45'</bold> has a faction of skilled mages and the golems they command. Through ancient magical arts, these spellcasters shape stone, metal, bone, crystal, and even gold into powerful constructs that march tirelessly into battle.

The strength of GottGestalt45 lies in the combination of resilient frontline fighters and versatile magical support. Golems form durable battle lines capable of withstanding tremendous punishment, while mages provide powerful ranged attacks and valuable support for their allies. Some of the most accomplished spellcasters can even summon golems directly onto the battlefield, allowing the faction to reinforce its ranks in the midst of combat.

Although many of their units rely on magical guidance and coordination, the diversity of their constructs allows them to adapt to a wide variety of situations, making them a formidable faction in both offense and defense."
[/multiplayer_side]