#textdomain wesnoth-gce
[multiplayer_side]
    id=GCE_heindal
    name= _ "Heindals Army"
    image=units/animals/lynx.png
    type=Lynx
    leader=Big Bernard,Young Lion,Big Oryx,quetzal spirit,Big Lynx
	random_leader=Big Bernard,Young Lion,Big Oryx,quetzal spirit,Big Lynx
    recruit=Orca Baby,Mole,cat,quetzal,squirrel,Oryx,racoon,Spider,Owl,Lynx,hedgedog,Duck,Butterflies,Bernard
[/multiplayer_side]
