#textdomain wesnoth-gce
[multiplayer_side]
    id=GCE_ihmcheck
    name=_ "Ihmchecks Army"
    image="units/darkblood-saurians/shaman-magic1.png"
    type=random
    leader=EoMa_Clan_Leader,EoMa_Corrupted_Shaman,EoMa_Jungle_Guardian,EoMa_Jungle_Crossbowman,Pyradalon,AE_ext_monsters_Wingless_Dragon
	random_leader=EoMa_Clan_Leader,EoMa_Corrupted_Shaman,EoMa_Jungle_Guardian,EoMa_Jungle_Crossbowman,Pyradalon,AE_ext_monsters_Wingless_Dragon
    recruit=EoMa_Jungle_Pikeman,EoMa_Shamanistic_Adept,EoMa_Jungle_Blowgunner,EoMa_Wyvern,EoMa_Hydra,Ram,Terrapin,Blue_Lizard,AE_ext_monsters_Wingless_Dragon
	description="<img>src='units/darkblood-saurians/shaman-magic1.png~SCALE_SHARP(288,288)' align='middle'</img>

"+_"The <bold>text='Ihmcheck'</bold> has a faction of jungle saurians and wild scaled creatures drawn from the deepest and most untamed regions of the wilderness. Agile saurian hunters fight alongside ferocious beasts, ranging from small cunning predators to towering monsters capable of crushing entire battle lines.

The strength of Ihmcheck lies in its flexibility. Swift saurian warriors excel at scouting, flanking, and exploiting openings, while powerful monsters provide overwhelming strength at the cost of a significant investment of gold. Smaller creatures serve as inexpensive support units, and some possess the unusual ability to seize control of enemy units, turning their foes' strength against them.

Though their forces can vary greatly in size and power, commanders who successfully combine mobility, monstrous might, and cunning tactics will find Ihmcheck to be a formidable faction capable of adapting to many different situations."
[/multiplayer_side]