#textdomain wesnoth-gce

[multiplayer_side]
	id=GCE_lighting
	name=_"Lightings Army"
	image="units/humans/caretaker/Succubus.png"
	leader=EMMR_Arcmage,EMMR_Assa,EMMR_Crossbow,EMMR_Healer,EMMR_Heavyclub,EMMR_Incubus,EMMR_Lancer,EMMR_Princess,EMMR_Enchantress,EMMR_Succubus
	random_leader=EMMR_Arcmage,EMMR_Assa,EMMR_Crossbow,EMMR_Healer,EMMR_Heavyclub,EMMR_Incubus,EMMR_Lancer,EMMR_Princess,EMMR_Enchantress,EMMR_Succubus
	recruit=EMMR_Apprentice,EMMR_Pea,EMMR_Noob,EMMR_Doctor,EMMR_Summoner,EMMR_Clubman,EMMR_Archer,EMMR_Raider,EMMR_Caretaker
	[ai]
		recruitment_pattern=scout,fighter,mixed fighter,fighter,archer,healer,mixed fighter
	[/ai]
	description="<img>src='units/humans/caretaker/Succubus.png~SCALE_SHARP(288,288)' align='middle'</img>

"+_"<bold>text='Lighting'</bold> has a faction of adaptable humans whose greatest strength lies not in what they are, but in what they can become. Through rigorous training, forbidden rituals, divine blessings, and mastery of the elements, their warriors can follow many different paths as they gain experience.

The strength of Lighting lies in its extensive advancement system. Compared to most factions, its units possess an exceptional variety of advancement options, allowing commanders to shape their army to meet almost any challenge. Ordinary humans may ascend into angels, embrace the powers of demons, command the forces of the elements, or even return as undead, each path granting new strengths and abilities.

Though their inexperienced recruits are unremarkable on their own, their unmatched potential rewards careful planning and long-term strategy. A well-trained army of Lighting can evolve to counter nearly any opponent, making the faction one of the most versatile in Wesnoth."
[/multiplayer_side]
