#textdomain wesnoth-gce
[multiplayer_side]
    id=GCE_lynch
    name=_ "Lynchs Army"
    image="units/orcs/nightblade-defend-se-1-3.png"
    type=random
    leader=Shadow Mage,Orcish Warrior,Orcish Slayer,Naga Warrior,Apprentice Necromancer
	random_leader=Shadow Mage,Orcish Warrior,Orcish Slayer,Naga Warrior,Apprentice Necromancer
    recruit=Rogue Mage, Giant Scorpion, Ghost, Orcish Grunt, Orcish Assassin, Naga Fighter, Apprentice Mage,Screamer
	description="<img>src='units/orcs/nightblade.png~SCALE_SHARP(288,288)' align='middle'</img>

"+_"<bold>text='Lynch'</bold> has a faction of dark mages, necromancers, orcish warriors, and naga united under the banner of the infamous nightblade Lynch. Combining ruthless orcish aggression with forbidden magic, their armies advance in great numbers, supported by shadow and death.

The strength of Lynch lies in overwhelming enemies through a combination of numerous frontline fighters and powerful magical support. Orcs and naga swarm the battlefield, tying down enemy forces while dark mages unleash destructive spells from afar. Necromancers command dark powers and bolster the faction's mastery over death, while poison slowly weakens even the toughest opponents.

For reconnaissance and harassment, Lynch employs undead Screamers, swift creatures that scout enemy positions and strike where defenses are weakest. Though many of their warriors are individually expendable, the relentless pressure of their hordes and the devastating power of their spellcasters make Lynch a dangerous faction in any prolonged conflict."
[/multiplayer_side]