#textdomain wesnoth-gce
[multiplayer_side]
    id=GCE_patience
    name=_ "Patiences Army"
    image="units/heroes/pr_major.png"
    type=random
    leader=EoMa_Mara,EoMa_Great_Jinni,EoMa_Efreeti,Patience Major
	random_leader=EoMa_Mara,EoMa_Great_Jinni,EoMa_Efreeti,Patience Major
    recruit=Ghost,Vampire Bat,EoMa_Dark_Portal,EoMa_Nightmare,EoMa_Pirafly,EoMa_Air_Elemental,EoMa_Jinni,EoMa_Perfect_Drone
    [ai]
        recruitment_pattern=fighter,mixed fighter,archer,scout,scout,scout
    [/ai]
    #terrain_liked=Hh, Ha, Ds, Ss
	description="<img>src='portraits/undead/spectre.webp~BG()' align='middle'</img>

"+_"The <bold>text='Undead'</bold> are a faction of <ref>text='undead' dst='..race_undead'</ref> creatures and <ref>text='human' dst='..race_human'</ref> practitioners of dark arts that usually accompany them. Often, these “Dark Adepts” are the units that do the most damage for the faction, but they have a major vulnerability — their practicing of this forbidden, evil magic has consumed all their energy and so they have no melee attack at all. The Undead are a very aggressive faction and the most powerful <ref>text='Default Era' dst='..era_era_default'</ref> faction at nighttime."
[/multiplayer_side]