#textdomain wesnoth-gce
[multiplayer_side]
    id=GCE_refumee
    name=_ "Refumees Army"
    image="units/saurians/prophet/prophet-se-die1.png"
    type=random
    leader=Saurian Oracle,Saurian Soothsayer,Saurian Spearthrower,Saurian Ambusher,Beast Saurian
	random_leader=Saurian Oracle,Saurian Soothsayer,Saurian Spearthrower,Saurian Ambusher,Beast Saurian
    recruit=Saurian Skirmisher, Saurian Augur, Giant Mudcrawler, Fire Guardian, Giant Scorpion, Dragonfly,Snow Golem, Wild Saurian, Dust Devil
    terrain_liked=Ss,Sm,Dd,Ds
	description="<img>src='units/saurians/beast.png~SCALE_SHARP(288,288)' align='middle'</img>

"+_"<bold>text='Refumee'</bold> has a faction of saurians, summoned elementals, and tamed beasts under the leadership a legendary saurian shapeshifter Refumee. Drawing upon ancient rites, Saurian Augurs and Oracles call elemental spirits to their aid, while fierce creatures of the wilderness fight alongside them.

The strength of Refumee lies in swamps and wetlands, where their warriors move with remarkable speed and agility. Most of their units possess relatively few hitpoints, relying on mobility and careful positioning rather than endurance. Though vulnerable in prolonged battles, their ability to outmaneuver opponents and exploit difficult terrain makes them a formidable faction in the hands of a skilled commander."
[/multiplayer_side]