#textdomain wesnoth-gce
[multiplayer_side]
	id=GCE_refumee
	name=_ "Refumees Army"
	image="units/saurians/beast.png"
	type=random
	leader=Saurian Oracle,Saurian Soothsayer,Saurian Spearthrower,Saurian Ambusher,Beast Saurian,Saurian Wretch,Saurian Pathfinder,Ref Saurian Mireblade,Deep Fire Ant Rider,Deep Saurian Fighter,Deep Saurian Craftsman,Deep Saurian Pikemen,Deep Saurian Armorer,Ref Deep Saurian Peltast,Swamp Alchemist
	random_leader=Saurian Oracle,Saurian Soothsayer,Saurian Spearthrower,Saurian Ambusher,Beast Saurian,Saurian Wretch,Saurian Pathfinder,Ref Saurian Mireblade,Deep Fire Ant Rider,Deep Saurian Craftsman,Deep Saurian Pikemen,Deep Saurian Armorer,Ref Deep Saurian Peltast,Swamp Alchemist
	recruit=Saurian Skirmisher, Saurian Augur, Ref Dragonfly Rider, Saurian Scout, Deep Saurian Blacksmith, Deep Saurian Rider,Saurian Husk,Witch Doctor,Deep Saurian Fighter
	terrain_liked=Ss,Sm,Dd,Ds
	description="<img>src='units/saurians/beast.png~SCALE_SHARP(288,288)' align='middle'</img>

"+_"<bold>text='Refumee'</bold> has a faction of saurians united under the leadership of the legendary saurian shapeshifter Refumee. Drawn from distant swamps, marshes, and mountain settlements, these tribes have formed a rare coalition, combining their strengths under a single banner.

The strength of Refumee lies in mobility and adaptability. Their warriors move with remarkable speed and agility, especially in swamps and other difficult terrain where many enemies struggle to maneuver. Most of their units possess relatively few hitpoints, relying on careful positioning and swift movement rather than endurance. Though vulnerable in prolonged battles, their ability to outmaneuver opponents and exploit terrain makes them a formidable faction in the hands of a skilled commander."
[/multiplayer_side]