#textdomain wesnoth-gce
[unit_type]
    id=Naga Maiden
    name= _ "Naga Maiden"
    race=naga
    gender=male,female
    image="units/nagas/maiden.png"
    profile=portraits/nagas/fighter.png
    hitpoints=43
    movement_type=naga
    movement=7
    experience=66
    level=2
    alignment=neutral
    advances_to=Naga Priestess
    cost=27
    usage=fighter
    description= _ "The young warriors of the naga aspire to the day when they merit their second blade. Their martial practice of using twin blades is wholly unlike that of the Orcs and other races, for they have begun to learn the art of using their serpentine form to best effect, twisting and turning to dodge from blows. This makes them potent on land, but the friction of water greatly impedes the technique."
    die_sound=naga-die.ogg
    {DEFENSE_ANIM "units/nagas/maiden.png" "units/nagas/maiden.png" {SOUND_LIST:NAGA_HIT} }
    [defense]
        flat=60
        sand=50
    [/defense]


    [abilities]
        
{ABILITY_CURES}
    
[/abilities]



 [healing_anim]
        start_time=-525
        [frame]
            duration=75
            image="units/nagas/maiden.png" ### magic-1
        [/frame]
        [frame]
            duration=75
            image="units/nagas/maiden.png" ### magic-2
        [/frame]
        [frame]
            duration=75
            image="units/nagas/maiden.png" ### magic-3
            halo=halo/holy/halo6.png
        [/frame]
        [frame]
            duration=75
            image="units/nagas/maiden.png" ### magic-3
            halo=halo/holy/halo1.png
        [/frame]
        [frame]
            duration=75
            image="units/nagas/maiden.png" ### magic-3
            halo=halo/holy/halo2.png
        [/frame]
        [frame]
            duration=75
            image="units/nagas/maiden.png" ### magic-3
            halo=halo/holy/halo3.png
        [/frame]
        [frame]
            duration=75
            image="units/nagas/maiden.png" ### magic-3
            halo=halo/holy/halo4.png
        [/frame]
        [frame]
            duration=75
            image="units/nagas/maiden.png" ### magic-3
            halo=halo/holy/halo5.png
        [/frame]
        [frame]
            duration=75
            image="units/nagas/maiden.png" ### magic-3
            halo=halo/holy/halo6.png
        [/frame]
        [frame]
            duration=75
            image="units/nagas/maiden.png" ### magic-2
        [/frame]
        [frame]
            duration=75
            image="units/nagas/maiden.png" ### magic-1
        [/frame]
    [/healing_anim]


   [attack]
        
name=staff
        
description=_"staff"
       
 icon=attacks/staff-ruby.png
      
  type=impact
      
  range=melee
       
 damage=5
        
number=3
   
 [/attack]



    [attack]
        
name=water spray
        
description=_"water spray"
        
icon=attacks/waterspray.png
        
type=impact
       
 range=ranged
       
 [specials]
           
 {WEAPON_SPECIAL_MAGICAL}
       
 [/specials]
       
 damage=14
       
 number=2
    
[/attack]
   





 [attack_anim]

       
 [filter_attack]
           
 name=water spray
      
  [/filter_attack]
       
 [missile_frame]
          
  begin=-165
          
  end=0
           
 image="projectiles/water-spray.png"
           
 image_diagonal="projectiles/water-spray.png"
       
 [/missile_frame]
       
 start_time=-420

      
  [missile_frame]
          
  begin=-165
           
 end=0
            
image="projectiles/water-spray.png"
           
 image_diagonal="projectiles/water-spray.png"
       
 [/missile_frame]
      
  {MERMAID_WATER_BLAST_HALO}
      
  {MERMAID_STAFF_FLARE 16 -12}

       
 [frame]
          
  duration=70
          
  image="units/nagas/maiden.png" ### magic-1
       
 [/frame]
       
 [frame]
         
   duration=230
          
  image="units/nagas/maiden.png" ### magic-2
      
  [/frame]
      
  [frame]
           
 duration=50
         
   image="units/nagas/maiden.png" ### magic-2
        
    sound=water-blast.wav
     
   [/frame]
      
  [frame]
        
    duration=80
          
  image="units/nagas/maiden.png" ### magic-1
       
 [/frame]
 
  
 [/attack_anim]
 




    [attack_anim]
        [filter_attack]
            name=staff
        [/filter_attack]
        offset=0.0~0.3,0.3~0.5,0.5~0.60,0.60~0.3,0.3~0.0
        start_time=-250
        [frame]
            duration=130
            image="units/nagas/maiden.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=100
                image="units/nagas/maiden.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=100
                image="units/nagas/maiden.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]

    [/attack_anim]
    [female]
        name= _ "Nagini Maiden"
        gender=female
        description= _ "Many of the young warriors of the nagini aspire for the day when they merit their second blade. Their martial practice of using twin blades is wholly unlike that of the Orcs and other races, for they have begun to learn the art of using their serpentine form to best effect, twisting and turning to dodge from blows. This makes them potent on land, but the friction of water greatly impedes their ability to do this."
    [/female]
[/unit_type]
