#textdomain wesnoth-gce
[unit_type]
    id=Naga Sorceress
    name= _ "Naga Sorcerer"
    race=naga
    gender=male,female
    image="units/nagas/sorceress.png"
    profile=portraits/nagas/fighter.png
    hitpoints=49
    movement_type=naga
    movement=7
    experience=150
    level=3
    alignment=neutral
    advances_to=null
    {AMLA_DEFAULT}
    cost=48
    usage=fighter
    # wmllint: local spelling blademasters
    description= _ "The most practiced of the naga blademasters are initiated into the caste of the Myrmidon, masters of their twin-bladed art. They strike as fast as the snakes which they resemble, and dance away from attacks with grace. Not only are they potent enemies on any open terrain, but their ability to swim allows them deadly mobility in water."
    die_sound=naga-die.ogg
    {DEFENSE_ANIM "units/nagas/sorceress.png" "units/nagas/sorceress.png" {SOUND_LIST:NAGA_HIT} }
    [defense]
        flat=50
        sand=40
    [/defense]
    [attack]
        
name=staff
        
description=_"staff"
       
 icon=attacks/staff-plague.png
      
  type=impact
      
  range=melee
       
 damage=8
        
number=2  
 [/attack]



    [attack]
        
name=water spray
        
description=_"water spray"
        
icon=attacks/waterspray.png
        
type=impact
       
 range=ranged
       
 [specials]
           
 {WEAPON_SPECIAL_MAGICAL}
       
 [/specials]
       
 damage=14
       
 number=3   
[/attack]
   



 [attack]
       
 name=shadow wave
        
description=_"shadow wave"
       
 type=arcane
      
  [specials]
            
{WEAPON_SPECIAL_MAGICAL}
        
[/specials]
       
 range=ranged
       
 damage=9
      
  number=2
       
 icon=attacks/dark-missile.png
   
 [/attack]
    


 [attack_anim]

       
 [filter_attack]
           
 name=water spray
      
  [/filter_attack]
       
 [missile_frame]
          
  begin=-165
          
  end=0
           
 image="projectiles/water-spray.png"
           
 image_diagonal="projectiles/water-spray.png"
       
 [/missile_frame]
       
 start_time=-420

      
  [missile_frame]
          
  begin=-165
           
 end=0
            
image="projectiles/water-spray.png"
           
 image_diagonal="projectiles/water-spray.png"
       
 [/missile_frame]
      
  {MERMAID_WATER_BLAST_HALO}
      
  {MERMAID_STAFF_FLARE 16 -12}

       
 [frame]
          
  duration=70
          
  image="units/nagas/sorceress.png" ### magic-1
       
 [/frame]
       
 [frame]
         
   duration=230
          
  image="units/nagas/sorceress.png" ### magic-2
      
  [/frame]
      
  [frame]
           
 duration=50
         
   image="units/nagas/sorceress.png" ### magic-2
        
    sound=water-blast.wav
     
   [/frame]
      
  [frame]
        
    duration=80
          
  image="units/nagas/sorceress.png" ### magic-1
       
 [/frame]
 
  
 [/attack_anim]
 

[attack_anim]
      
  [filter_attack]
          
  name=shadow wave      
 [/filter_attack]
      
  [missile_frame]
        
    begin=-100
          
  end=100
           
 image="projectiles/darkmissile-n.png"
         
   image_diagonal="projectiles/darkmissile-ne.png"
     
   [/missile_frame]

       
 [frame]
           
 begin=-300
          
  end=-225
          
  image="units/nagas/sorceress.png"
     
   [/frame]
       
 [frame]
            begin=-225
            end=-150
            image="units/nagas/sorceress.png"
        [/frame]
        [frame]
            begin=-150
            end=-75
            image="units/nagas/sorceress.png"
            halo=halo/undead/black-magic-1.png
        [/frame]
        [if]
            hits=yes
            [frame]
                begin=-75
                end=0
                image="units/nagas/sorceress.png"
                sound=magic-dark.ogg
                halo=halo/undead/black-magic-2.png
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-75
                end=0
                image="units/nagas/sorceress.png"
                sound=magic-dark-miss.ogg
                halo=halo/undead/black-magic-2.png
            [/frame]
        [/else]
        [frame]
            begin=0
            end=75
            image="units/nagas/sorceress.png"
            halo=halo/undead/black-magic-3.png
        [/frame]
        [frame]
            begin=75
            end=150
            image="units/nagas/sorceress.png"
            halo=halo/undead/black-magic-4.png
        [/frame]

        [frame]
            begin=150
            end=200
            image="units/nagas/sorceress.png"
            halo=halo/undead/black-magic-5.png
        [/frame]
        [frame]
            begin=200
            end=250
            image="units/nagas/sorceress.png"
        [/frame]
        [frame]
            begin=250
            end=300
            image="units/nagas/sorceress.png"
        [/frame]
    [/attack_anim]



    [attack_anim]
        [filter_attack]
            name=staff
        [/filter_attack]
        offset=0.0~0.3,0.3~0.5,0.5~0.60,0.60~0.3,0.3~0.0
        start_time=-250
        [frame]
            duration=130
            image="units/nagas/sorceress.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=100
                image="units/nagas/sorceress.png"
                sound={SOUND_LIST:SWORD_SWISH}
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=100
                image="units/nagas/sorceress.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]

    [/attack_anim]
    [female]
        name= _ "Nagini Sorceress"
        gender=female
        description= _ "Many of the young warriors of the nagini aspire for the day when they merit their second blade. Their martial practice of using twin blades is wholly unlike that of the Orcs and other races, for they have begun to learn the art of using their serpentine form to best effect, twisting and turning to dodge from blows. This makes them potent on land, but the friction of water greatly impedes their ability to do this."
    [/female]
[/unit_type]
