#textdomain wesnoth-gce
[unit_type]
	id=Elvish Pikeman GCE
	name= _ "Elvish Pikeman"
	race=elf	
	gender=male,female
	image="units/elves-wood/pikeman.png"
	profile="portraits/elves/halberdier.png"
	hitpoints=47
	movement_type=woodland
	movement=5
	{LESS_NIMBLE_ELF}
	experience=90
	level=2
	alignment=neutral
	advances_to=Elvish Arbiter GCE
	cost=32
	usage=fighter
	description= _ "He who thinks their reputation for archery would deter elves from stabbing foes with a pike, is overly idealistic. They are swift to learn and skills once acquired do not fade for lack of practice."
	die_sound={SOUND_LIST:ELF_HIT}
	{DEFENSE_ANIM "units/elves-wood/pikeman-defend.png" "units/elves-wood/pikeman.png" {SOUND_LIST:ELF_HIT} }
	[attack]
		name=pike
		description=_"pike"
		icon=attacks/pike.png
		type=pierce
		range=melee
		damage=12
		number=3
		[specials]
			{WEAPON_SPECIAL_FIRSTSTRIKE}
		[/specials]
	[/attack]
	[attack_anim]
		[filter_attack]
			name=pike
		[/filter_attack]
		[frame]
			begin=-200
			end=-175
			image="units/elves-wood/pikeman-attack-1.png"
		[/frame]
		[frame]
			begin=-175
			end=-100
			image="units/elves-wood/pikeman-attack-1.png"
		[/frame]
		[if]
			hits=yes
			[frame]
				begin=-100
				end=100
				image="units/elves-wood/pikeman-attack-2.png"
				sound=spear.ogg
			[/frame]
		[/if]
		[else]
			hits=no
			[frame]
				begin=-100
				end=100
				image="units/elves-wood/pikeman-attack-2.png"
				sound=spear-miss.ogg
			[/frame]
		[/else]
		[frame]
			begin=100
			end=175
			image="units/elves-wood/pikeman-attack-2.png"
		[/frame]
		[frame]
			begin=175
			end=225
			image="units/elves-wood/pikeman-attack-1.png"
		[/frame]
	[/attack_anim]
[/unit_type]
