#define 118_119_GCE
	#ifver WESNOTH_VERSION <= 1.18.7
		[binary_path]
			path=data/campaigns/Liberty
		[/binary_path]

		[units]
			{campaigns/Liberty/units}
		[/units]
	#endif

	#ifver WESNOTH_VERSION <= 1.18.7
		[binary_path]
			path=data/campaigns/Heir_To_The_Throne
		[/binary_path]
		
		[units]
			{campaigns/Heir_To_The_Throne/units/Fighter.cfg}
			{campaigns/Heir_To_The_Throne/units/Commander.cfg}
			{campaigns/Heir_To_The_Throne/units/Lord.cfg}
		[/units]
	#endif
	### 1.19
	#ifver WESNOTH_VERSION > 1.18.7
		{internal/Rogue_Mage}
	#endif
	#ifver WESNOTH_VERSION > 1.18.7
		[binary_path]
			path=data/campaigns/Heir_To_The_Throne
		[/binary_path]
		
		[binary_path]
			path=data/campaigns/Heir_To_The_Throne_Classic
		[/binary_path]
		
		[units]
			{campaigns/Heir_To_The_Throne_Classic/units/Fighter.cfg}
			{campaigns/Heir_To_The_Throne_Classic/units/Commander.cfg}
			{campaigns/Heir_To_The_Throne_Classic/units/Lord.cfg}
		[/units]
	#endif
#enddef