#textdomain wesnoth-gce
###################################################################### NAGA HUNTER ABILITIES ##########################################################

#define WEAPON_SPECIAL_PRECISION
    [chance_to_hit]
        id=precision
        name= _ "precision"
        description= _ "When used offensively, this attack always has at least a 70% chance to hit."
        special_note= _ "This unit's attack has a high chance (70%) of hitting targeted enemies, but only on the attack."
        value=70
        cumulative=yes
        active_on=offense
    [/chance_to_hit]
#enddef

###################################################################### TRUE ELEMENTAL ABILITIES ##########################################################

#define ABILITY_EARTH_FOREST_RECUPERATION
    [regenerate]
        [filter_self]
            [filter_location]
                terrain=Mm,Md,Uh,Uh^li,Uu,Uu^li,Hh,Dd^Dr,Uue,Hhd,Hh*,*^F*, *^Uf, *^Ufi, *^Gvs
            [/filter_location]
        [/filter_self]
        value=10
        id=healing
        name= _ "earth and forest recuperation"
        description= _ "This unit will repair its body with the rocks and the plants found on forested, mountainous or hilly terrain, recovering 10 hp in the process."
        name_inactive= _ "earth and forest recuperation"
        description_inactive=_ "This unit will repair its body with the rocks and the plants found on forested, mountainous or hilly terrain, recovering 10 hp in the process."
        affect_self=yes
        special_note=_"This unit will repair its body with the rocks and the plants found on forested, mountainous or hilly terrain, recovering 10 hp in the process."
    [/regenerate]
#enddef

#define ABILITY_FIRE_RENEWAL
    [regenerate]
        [filter_self]
            [filter_location]
                terrain=Qlf,Qlfz,Ql,Dd,Ds,Ql^Bs|,Ql^Bs/,Ql^Bs\,Gg^Fy,Gs^Fy,Uu^Fy,Dd^Fy
            [/filter_location]
        [/filter_self]
        value=10
        id=healing
        name= _ "fire renewal"
        description= _ "This unit will burn brighter whenever it is on or floating above lava, thus recovering 10 HP. It will also absorb heat from other warm terrain like sand."
        affect_self=yes
        special_note=_"This unit will burn brighter whenever it is on or floating above lava, thus recovering 10 HP. It will also absorb heat from other warm terrain like sand."
    [/regenerate]
#enddef

#define ABILITY_WATER_REGENERATION
    [regenerate]
        [filter_self]
            [filter_location]
                terrain=Wo,Ww,Wwf,Chw,Khw,Ss,Chs,Khs
            [/filter_location]
        [/filter_self]
        value=10
        id=healing
        poison=cured
        name= _ "water regeneration"
        description= _ "This unit will use nearby water - such as from pure water, swamps and even mud and blood pools to replenish itself. In water and swamps, it will recover 10 hp, whilst in mud and blood pools, it will recover only 4 hp."
        affect_self=yes
        special_note=_"This unit will use nearby water - such as from pure water, swamps and even mud and blood pools to replenish itself. In water and swamps, it will recover 10 hp, whilst in mud and blood pools, it will recover only 4 hp."
    [/regenerate]
    [regenerate]
        [filter_self]
            [filter_location]
                terrain=Sm,Wwb
            [/filter_location]
        [/filter_self]
        value=4
        id=healing
        poison=cured
        name= _ "water regeneration"
        description= _ "This unit will use nearby water - such as from pure water, swamps and even mud and blood pools to replenish itself. In water and swamps, it will recover 10 hp, whilst in mud and blood pools, it will recover only 4 hp."
        affect_self=yes
    [/regenerate]
#enddef

#define WEAPON_SPECIAL_EXPLOSIVE
    [damage]
        id=explosive
        name= _ "explosive"
        description= _ "When this attack is used, all units adjacent to the target take 75% of the damage, allies included, and even those behind them will take a few if the damage is sufficiently high."
        special_note=_"When this attack is used, all units adjacent to the target take 75% of the damage, allies included, and even those behind them will take a few if the damage is sufficiently high."
    [/damage]
#enddef

#define WEAPON_SPECIAL_WHIRLWIND
    [attacks]
        id=whirlwind
        name= _ "whirlwind"
        name_inactive= _ "whirlwind"
        description= _ "When this attack is used, all units adjacent the attacker take the damage."
        description_inactive= _ "When this attack is used, all units adjacent the attacker take the damage."
        apply_to=opponent
        special_note=_ "When this attack is used, all units adjacent the attacker take the damage, and cannot be countered."
    [/attacks]
#enddef


#define WEAPON_SPECIAL_LESSER_LIFE_CONSUMER
    [dummy]
        id=weapon_lesser_life_consumer
        name= _ "lesser life consumer"
        name_inactive= _ "lesser life consumer"
        description= _ "The power needed for this attack is so great that it causes the unit to lose 8 hp, but never killing it."
        description_inactive= _ "The power needed for this attack is so great that it causes the unit to lose 8 hp, but never killing it."
        apply_to=self
        special_note=_ "The power needed for this attack is so great that it causes the unit to lose 8 hp, and even cause its death if its life reaches 0 or below."
    [/dummy]
#enddef

#define WEAPON_SPECIAL_ATTACK_ONLY
    [disable]
        id=attack_only
        name= _ "attack only"
        description= _ "This weapon will never be used on defence."
        active_on=defense
    [/disable]
#enddef

#define ABILITY_PROTECTION
    [resistance]
        id=protection
        add=20
        max_value=50
        apply_to=blade,pierce,impact,fire,cold,arcane,electric,arcane_focus,energy
        name= _ "protection"
        description= _ "Adjacent units of lower level from this side receive a +20% bonus to all resistances (up to a maximum of 50%)."
        affect_self=no
        [filter_base_value]
            less_than=50
        [/filter_base_value]
        [affect_adjacent]
            [filter]
                formula="level < other.level"
            [/filter]
        [/affect_adjacent]
    [/resistance]
#enddef

###################################################################### MOOG ABILITIES ##########################################################

#define ABILITY_HATRED
    [dummy]
        id=hatred
        name= _ "hatred"
        female_name= _ "female^hatred"
        description= _ "Buffs when kills an enemy."
    [/dummy]
#enddef

###################################################################### KTHON ABILITIES ##########################################################

#define ARCHAIC_ABILITY_DUMMYKHEAL
    # Placeholder dummy trait for khthon to be shown in help files
    [dummy]
        id=aa_khthon_heal
        name= _ "khthon self-heal"
        description= _ "All Khthon heal and regenerate, but the precise effect depends upon the unit level."
    [/dummy]
#enddef

#define ARCHAIC_ABILITY_AQUALUNG
    [hides]
        id=aa_aqualung
        name=_"aqualung"
        female_name=_"female^aqualung"
        description=_"This unit can move underwater, unobserved by opponents, in either deep water or swamps.  While they can move under shallow water too, there is no way to hide, so they are visible to opponents."
        affect_self=yes
        [filter_self]
            [filter_location]
                terrain=Ss*^*,Sm*^*,Chs*^*,Khs*^*,Wo*^*
            [/filter_location]
        [/filter_self]
    [/hides]
#enddef

#define ARCHAIC_ABILITY_HEALSELF AMT
    # Canned definition to be included in an
    # [abilities] clause.  Crappier version of mainline ABILITY_REGENERATES
    [regenerate]
        value={AMT}
        id=aa_selfheal
        name= _ "self-heal ("+{AMT}+")"
        description= _ "This unit heals {AMT} HP per turn.  If poisoned, it will remove the poison."
        affect_self=yes
        poison=cured
    [/regenerate]
#enddef

#define ARCHAIC_ABILITY_SELFHEAL
    {ARCHAIC_ABILITY_HEALSELF 4}
#enddef