#define WEAPON_SPECIAL_PRECISION
    [chance_to_hit]
        id=precision
        name= _ "precision"
        description= _ "When used offensively, this attack always has at least a 70% chance to hit."
        special_note= _ "This unit's attack has a high chance (70%) of hitting targeted enemies, but only on the attack."
        value=70
        cumulative=yes
        active_on=offense
    [/chance_to_hit]
#enddef