#textdomain fluffy_era

#define WEAPON_SPECIAL_WOUND

    [dummy]
        id=wound
        name= _ "wound"
        name_inactive= _ "wound"
        description= _ "Any unit hit by this attack receives a wound, that reduces the hitpoints by 2 each round. The unit can not be killed by a wound."
        apply_to=opponent
    [/dummy]

#enddef

#define ABILITY_WOUNDED
    [dummy]
        id=wounded
        name= _ "wounded"
        name_inactive= _ "wounded"
        description= _ "This unit has received a wound. It will constantly lose 2 hp each turn, until this wound is sealed!"
        affect_self=yes
    [/dummy]
#enddef

#define WEAPON_SPECIAL_HIT_AND_RUN
    [dummy]
        id=hitandrun
        name= _ "hit and run"
        description= _ "When this attack is used, the unit will keep it's movement and can therefore move after an attack."
    [/dummy]

#enddef

#define ABILITY_DISTRACT

    [leadership]
        id=distract
        value=-25
        max_value=-75
        cumulative=yes
        name= _ "Distract"
        female_name= _ "female^Distract"
        description= _ "Distract reduces the damage of all enemies around you by 25% and is cumulative. It also allows you to ignore the Zones of Control."
        affect_self=no
        affect_allies=no
        affect_enemies=yes
        [affect_adjacent]
            adjacent=n,ne,se,s,sw,nw
        [/affect_adjacent]
    [/leadership]
    [skirmisher]
        id=skirmisher
        name= _ "skirmisher"
        description= _ "This unit ignores the Zones of control."
        affect_self=yes
    [/skirmisher]
#enddef

#define FLUFFY_EVENTS

    [event]
        name=attacker_hits
        first_time_only=no

        [filter_attack]
            special=wound
        [/filter_attack]
        [filter_second]
            [not]
                [filter_wml]
                    [status]
                        not_living="yes"
                    [/status]
                [/filter_wml]
            [/not]
        [/filter_second]

        [object]
            silent=yes
            [filter]
                x,y=$x2,$y2
            [/filter]
            [effect]
                apply_to=new_ability
                [abilities]
                    {ABILITY_WOUNDED}
                [/abilities]
            [/effect]
        [/object]
    [/event]
	
	
    [event]
        name=new turn
        first_time_only=no
        [if]
            [have_unit]
                ability=wounded
            [/have_unit]
            [then]
                [store_unit]
                    [filter]
                        ability=wounded
                    [/filter]
                    variable=unit
                [/store_unit]

                {VARIABLE_OP unit.hitpoints add -2}

                [if]
                    [variable]
                        name=herorace
                        equals=vampire
                    [/variable]
                    [then]
                        {VARIABLE_OP unit.hitpoints add -4}
                    [/then]
                [/if]

                [if]
                    [variable]
                        name=unit.hitpoints
                        less_than=1
                    [/variable]
                    [then]
                        [set_variable]
                            name=unit.hitpoints
                            value=1
                        [/set_variable]
                    [/then]
                [/if]

                [unstore_unit]
                    variable=unit
                    find_vacant=no
                    text= _ "2"
                    red,green,blue=150,0,0
                [/unstore_unit]

                {CLEAR_VARIABLE unit}
            [/then]
        [/if]
    [/event]
	
#enddef