
#define SHIP_RAMMING_ANIM BASE_FRAME IMAGE_MOD
    [attack_anim]
        [filter_attack]
            name=ram
        [/filter_attack]
        start_time=-850
        boat_start_time=-850
        boat_offset=0:500,0.0~0.7:350,0.7~0.0:250
        [boat_frame]
            image={BASE_FRAME}:1100
            auto_vflip=no
            image_mod={IMAGE_MOD}
            sound=ship-ram-windup.ogg
        [/boat_frame]
        [frame]
            image="misc/blank-hex.png:1100"
        [/frame]
        {SOUND:HIT_AND_MISS water-blast.wav mace-miss.ogg -100}
    [/attack_anim]
#enddef

#define SHIP_ARCHERS_ANIM X BASE_FRAME IMAGE_MOD
    [attack_anim]
        [filter_attack]
            name=archers
        [/filter_attack]
        start_time=-200
        missile_start_time=-150
        boat_start_time=-200
        [missile_frame]
            duration=150
            image=projectiles/missile-n.png
            image_diagonal=projectiles/missile-ne.png
            x,y={X},10
        [/missile_frame]
        [boat_frame]
            image={BASE_FRAME}:400
            auto_vflip=no
            image_mod={IMAGE_MOD}
        [/boat_frame]
        [frame]
            image="misc/blank-hex.png:400"
        [/frame]
        {SOUND:HIT_AND_MISS bow-puny.ogg bow-puny-miss.ogg -150}
    [/attack_anim]
#enddef

#define SHIP_FIREARCHERS_ANIM X BASE_FRAME IMAGE_MOD
    [attack_anim]
        [filter_attack]
            name=firearchers
        [/filter_attack]
        start_time=-200
        missile_start_time=-150
        boat_start_time=-200
        [missile_frame]
            duration=150
            image=projectiles/missile-fire-n.png
            image_diagonal=projectiles/missile-fire-ne.png
            x,y={X},10
        [/missile_frame]
        [if]
            hits=no
        [/if]
        [else]
            hits=yes
            missile_offset=0~0.8:150
            {FIRE_BURST_SMALL}
        [/else]
        [boat_frame]
            image={BASE_FRAME}:400
            auto_vflip=no
            image_mod={IMAGE_MOD}
        [/boat_frame]
        [frame]
            image="misc/blank-hex.png:400"
        [/frame]
        {SOUND:HIT_AND_MISS bow-puny-fire.ogg bow-puny-fire-miss.ogg -230}
    [/attack_anim]
#enddef

#define GENERIC_STAFF_ANIM NAME IMAGE
    [attack_anim]
        [filter_attack]
            name={NAME}
        [/filter_attack]

        start_time=-125

        [frame]
            image={IMAGE}:300
        [/frame]

        {SOUND:HIT_AND_MISS staff.wav {SOUND_LIST:MISS} -75}
    [/attack_anim]
#enddef

	### elemental ###
#define MISSILE_FRAME_GEB_NESHNY
    halo_auto_vflip=false
    [halo_frame]
        duration=245
        halo="halo/geb-neshny-[1~7,6~1].png:[30*6,130,70*6]"
    [/halo_frame]
#enddef

#define SOUND_LIST:LUCENT_SUPREME
union-1.ogg,union-3.ogg,union-4.ogg #enddef

#define MISSILE_FRAME_NEFTHYS_HEPET
    halo_auto_vflip=false
    [halo_frame]
        duration=420
        halo=halo/nefthys-hepet-[1~7].png:60
    [/halo_frame]
#enddef

#define MISSILE_FRAME_NETJER_SEDJET MAGE_NAME DIRECTION_SUFFIX DIRECTION

    direction={DIRECTION}
    start_time = -1000
    [frame]
        image="units/{MAGE_NAME}.png"
    [/frame]
    missile_start_time = -800
    [missile_frame]
        halo="halo/supreme-crimson/sedjet-netjer-{DIRECTION_SUFFIX}-[1~4].png:50"
        offset=0.7
    [/missile_frame]
    [missile_frame]
        sound=dragon-flames.ogg
        halo="halo/supreme-crimson/sedjet-netjer-{DIRECTION_SUFFIX}-22.png:50"
        offset=0.7
    [/missile_frame]
    [missile_frame]
        halo="halo/supreme-crimson/sedjet-netjer-{DIRECTION_SUFFIX}-[23~27].png:50"
        offset=0.7
    [/missile_frame]
    [missile_frame]
        halo="halo/supreme-crimson/sedjet-netjer-{DIRECTION_SUFFIX}-[28~49].png:50"
        offset=0.7
    [/missile_frame]
    [missile_frame]
        halo="halo/supreme-crimson/sedjet-netjer-{DIRECTION_SUFFIX}-[28~49].png:50"
        offset=0.7
    [/missile_frame]
    [missile_frame]
        halo="halo/supreme-crimson/sedjet-netjer-{DIRECTION_SUFFIX}-[50~58].png:50"
        offset=0.7
    [/missile_frame]
#enddef