#textdomain wesnoth-gce

#define WEAPON_SPECIAL_EMMR_DISTANT_ATTACK
	[attacks]
		id=distant attack
		name= _ "distant attack"
		name_inactive= _ "distant attack"
		description= _ "When this attack is used, the enemy will not counter."
		description_inactive= _ "When this attack is used, the enemy will not counter."
		value=0
		apply_to=opponent
		active_on=offense
	[/attacks]
#enddef

#define WEAPON_SPECIAL_EMMR_LESSER_BERSERK
	# Canned definition of the Berserk ability to be included in a
	# [specials] clause.
	[berserk]
		id=berserk
		name= _ "berserk"
		description= _ "Whether used offensively or defensively, this attack presses the engagement until one of the combatants is slain, or 10 rounds of attacks have occurred."
		value=10
	[/berserk]
#enddef

#define WEAPON_SPECIAL_EMMR_SNIPE
	# Canned definition of the Marksman ability to be included in a
	# [specials] clause.
	[chance_to_hit]
		id=snipe
		name= _ "snipe"
		description= _ "When used offensively, this attack always has at least a 80% chance to hit."
		value=80
		cumulative=yes
		active_on=offense
	[/chance_to_hit]
#enddef

#define ABILITY_EMMR_DOCTOR
	# A doc can heal you.
	[heals]
		value=2
		id=doctor
		affect_allies=yes
		name= _ "heals +2"
		female_name= _ "female^heals +2"
		description=  _ "Allows the unit to heal adjacent allied units at the beginning of our turn.

A unit cared for by this doctor may heal up to 2 HP per turn, or heal poison."
		affect_self=no
		poison=cured
		[affect_adjacent]
		[/affect_adjacent]
	[/heals]
#enddef

#define ABILITY_EMMR_HEAL
	# A doc can heal you.
	[heals]
		value=4
		id=doctor
		affect_allies=yes
		name= _ "heals +4"
		female_name= _ "female^heals +4"
		description=  _ "Allows the unit to heal adjacent allied units at the beginning of our turn.

A unit cared for by this doctor may heal up to 4 HP per turn, or heal poison."
		affect_self=no
		poison=cured
		[affect_adjacent]
		[/affect_adjacent]
	[/heals]
#enddef

#define ABILITY_EMMR_GREAT_HEAL
	# A doc can heal you.
	[heals]
		value=6
		id=doctor
		affect_allies=yes
		name= _ "heals +6"
		female_name= _ "female^heals +6"
		description=  _ "Allows the unit to heal adjacent allied units at the beginning of our turn.

A unit cared for by this doctor may heal up to 6 HP per turn, or heal poison."
		affect_self=no
		poison=cured
		[affect_adjacent]
		[/affect_adjacent]
	[/heals]
#enddef

#define ABILITY_EMMR_HOLY_HEAL
	# A doc can heal you.
	[heals]
		value=8
		id=doctor
		affect_allies=yes
		name= _ "heals +8"
		female_name= _ "female^heals +8"
		description=  _ "Allows the unit to heal adjacent allied units at the beginning of our turn.

A unit cared for by this doctor may heal up to 8 HP per turn, or heal poison."
		affect_self=no
		poison=cured
		[affect_adjacent]
		[/affect_adjacent]
	[/heals]
#enddef

#define ABILITY_EMMR_MIRACLE_HEAL
	# A doc can heal you.
	[heals]
		value=10
		id=doctor
		affect_allies=yes
		name= _ "heals +10"
		female_name= _ "female^heals +10"
		description=  _ "Allows the unit to heal adjacent allied units at the beginning of our turn.

A unit cared for by this doctor may heal up to 10 HP per turn, or heal poison."
		affect_self=no
		poison=cured
		[affect_adjacent]
		[/affect_adjacent]
	[/heals]
#enddef

#define ABILITY_EMMR_SANCTUUM_HEAL
	# A doc can heal you.
	[heals]
		value=12
		id=doctor
		affect_allies=yes
		name= _ "heals +12"
		female_name= _ "female^heals +12"
		description=  _ "Allows the unit to heal adjacent allied units at the beginning of our turn.

A unit cared for by this doctor may heal up to 12 HP per turn, or heal poison."
		affect_self=no
		poison=cured
		[affect_adjacent]
		[/affect_adjacent]
	[/heals]
#enddef

#define ABILITY_EMMR_ANGEL_HEAL
	# A doc can heal you.
	[heals]
		value=14
		id=doctor
		affect_allies=yes
		name= _ "heals +14"
		female_name= _ "female^heals +14"
		description=  _ "Allows the unit to heal adjacent allied units at the beginning of our turn.

A unit cared for by this doctor may heal up to 14 HP per turn, or heal poison."
		affect_self=no
		poison=cured
		[affect_adjacent]
		[/affect_adjacent]
	[/heals]
#enddef

#define ABILITY_EMMR_LESS_REGENERATE
	# Canned definition of the Regenerate ability to be included in an [abilities]
	# clause.
	[regenerate]
		value=4
		id=regenerates
		name= _ "regenerates"
		female_name= _ "female^regenerates"
		description= _ "The unit will heal itself 4 HP per turn. If it is poisoned, it will remove the poison instead of healing."
		affect_self=yes
		poison=cured
	[/regenerate]
#enddef

#define ABILITY_EMMR_REGENERATE
	# Canned definition of the Regenerate ability to be included in an [abilities]
	# clause.
	[regenerate]
		value=6
		id=regenerates
		name= _ "regenerates"
		female_name= _ "female^regenerates"
		description= _ "The unit will heal itself 6 HP per turn. If it is poisoned, it will remove the poison instead of healing."
		affect_self=yes
		poison=cured
	[/regenerate]
#enddef

#define ABILITY_EMMR_HIGH_REGENERATE
	# Canned definition of the Regenerate ability to be included in an [abilities]
	# clause.
	[regenerate]
		value=8
		id=regenerates
		name= _ "regenerates"
		female_name= _ "female^regenerates"
		description= _ "The unit will heal itself 8 HP per turn. If it is poisoned, it will remove the poison instead of healing."
		affect_self=yes
		poison=cured
	[/regenerate]
#enddef


#define EMMR_SEDUCE
[event]
	name=attack
	first_time_only=no
	
	[filter_attack]
		special=weapon_charm2
	[/filter_attack]
	
	[store_unit]
		[filter]
			x,y=$x1,$y1
		[/filter]
		variable=unit_att_with_charm
		mode=append
	[/store_unit]	
	[set_variable]
		name=unit_att_with_charm.variables.charm_has_worked
		value=no
	[/set_variable]	
	[unstore_unit]
		variable=unit_att_with_charm
	[/unstore_unit]
	
	{CLEAR_VARIABLE unit_att_with_charm}
[/event]


# event that creates a "charm has worked" variable
# and sets it to "yes" if the attacker hits at least once.
[event]
	name=attacker_hits
	first_time_only=no
	
	[filter_attack]
		special=weapon_charm2
	[/filter_attack]
	
	[store_unit]
		[filter]
			x,y=$x1,$y1
		[/filter]
		variable=unit_att_with_charm
		mode=append
	[/store_unit]
	[set_variable]
		name=unit_att_with_charm.variables.charm_has_worked
		value=yes
	[/set_variable]
	[unstore_unit]
		variable=unit_att_with_charm
	[/unstore_unit]
	
	{CLEAR_VARIABLE unit_att_with_charm}
[/event]


# event that shifts a unit to the other side
# if the defending unit
#	   - was not lvl1 or lvl0 
#	   - and was not a recruiting unit 
#	   - and was a not a "non-living" creature
# then :
# -> if the attacker hit once at least, the defender goes to the attacker side.
[event]
	name=attacker hits
	first_time_only=no
	
	[filter_attack]
		special=weapon_charm2
	[/filter_attack]
	[filter_second]
		canrecruit=no
		[and]
			[not]
			[filter_wml]
				[status]
					not_living=yes
				[/status]
			[/filter_wml]
			[/not]
		[/and]
		[and]
		gender=male
		[/and]
	[/filter_second]


	[store_unit]
		[filter]
			x,y=$x1,$y1
		[/filter]
		variable=charmer
		mode=append
	[/store_unit]
	
	[store_unit]
		[filter]
			x,y=$x2,$y2
		[/filter]
		variable=charmed
		mode=append
	[/store_unit]
	
	[if]
		[variable]
			name=charmer.variables.charm_has_worked
			equals=no
		[/variable]
		[then]
			[unstore_unit]
				variable=charmer
				text=" "
				{COLOR_HARM}
			[/unstore_unit]
		[/then]
		[else]
					
			[set_variable]
				name=charmed.side
				value=$charmer.side
			[/set_variable]
			[unstore_unit]
				variable=charmed
				text=" "
 				{COLOR_HEAL}
			[/unstore_unit]				
	[/else]
	[/if]

	{CLEAR_VARIABLE charmer}
	{CLEAR_VARIABLE charmed}
[/event]
#enddef

#define ABILITY_EMMR_PRINCESS_LEADERSHIP
	# Canned definition of the Leadership ability to be included in an
	# [abilities] clause.
	[leadership]
		id=leadership
		value="5"
		cumulative=no
		name= _ "leadership"
		female_name= _ "female^leadership"
		description= _ "This unit can lead your own units that are next to it, making them fight better.

Adjacent own units will do more damage in battle. When a unit adjacent to and on the same side as a unit with Leadership engages in combat, its attacks do 5% more damage."
		affect_self=no
	   [affect_adjacent]		 
	   [/affect_adjacent]
	[/leadership]
#enddef

#define ABILITY_EMMR_HEIR_LEADERSHIP
	# Canned definition of the Leadership ability to be included in an
	# [abilities] clause.
	[leadership]
		id=leadership		
		value="(if(other.level=0,10,10*other.level))"
		cumulative=no
		name= _ "leadership"
		female_name= _ "female^leadership"
		description= _ "This unit can lead your own units that are next to it, making them fight better.

Adjacent own units will do more damage in battle. When a unit adjacent to and on the same side as a unit with Leadership engages in combat, its attacks do 10% more damage times level of the atacking unit."
		affect_self=no
	   [affect_adjacent]		 
	   [/affect_adjacent]
	[/leadership]
#enddef

#define ABILITY_EMMR_QUEEN_LEADERSHIP
	# Canned definition of the Leadership ability to be included in an
	# [abilities] clause.
	[leadership]
		id=leadership		
		value="(if(other.level=0,15,15*other.level))"
		cumulative=no
		name= _ "leadership"
		female_name= _ "female^leadership"
		description= _ "This unit can lead your own units that are next to it, making them fight better.

Adjacent own units will do more damage in battle. When a unit adjacent to and on the same side as a unit with Leadership engages in combat, its attacks do 15% more damage times level of the atacking unit."
		affect_self=no
	   [affect_adjacent]		 
	   [/affect_adjacent]
	[/leadership]
#enddef

#define ABILITY_EMMR_HIGHQUEEN_LEADERSHIP
	# Canned definition of the Leadership ability to be included in an
	# [abilities] clause.
	[leadership]
		id=leadership		
		value="(if(other.level=0,20,20*other.level))"
		cumulative=no
		name= _ "leadership"
		female_name= _ "female^leadership"
		description= _ "This unit can lead your own units that are next to it, making them fight better.

Adjacent own units will do more damage in battle. When a unit adjacent to and on the same side as a unit with Leadership engages in combat, its attacks do 20% more damage times level of the atacking unit."
		affect_self=no
	   [affect_adjacent]		 
	   [/affect_adjacent]
	[/leadership]
#enddef

#define ABILITY_EMMR_EMPRESS_LEADERSHIP
	# Canned definition of the Leadership ability to be included in an
	# [abilities] clause.
	[leadership]
		id=leadership		
		value="(if(other.level=0,25,25*other.level))"
		cumulative=no
		name= _ "leadership"
		female_name= _ "female^leadership"
		description= _ "This unit can lead your own units that are next to it, making them fight better.

Adjacent own units will do more damage in battle. When a unit adjacent to and on the same side as a unit with Leadership engages in combat, its attacks do 25% more damage times level of the atacking unit."
		affect_self=no
	   [affect_adjacent]		 
	   [/affect_adjacent]
	[/leadership]
#enddef

#define ABILITY_EMMR_CONQUERESS_LEADERSHIP
	# Canned definition of the Leadership ability to be included in an
	# [abilities] clause.
	[leadership]
		id=leadership		
		value="(if(other.level=0,30,30*other.level))"
		cumulative=no
		name= _ "leadership"
		female_name= _ "female^leadership"
		description= _ "This unit can lead your own units that are next to it, making them fight better.

Adjacent own units will do more damage in battle. When a unit adjacent to and on the same side as a unit with Leadership engages in combat, its attacks do 30% more damage times level of the atacking unit."
		affect_self=no
	   [affect_adjacent]		 
	   [/affect_adjacent]
	[/leadership]
#enddef
