[resource]
	id=gce_pvp_events_resource
	#patch leaders to balance things out
	[event]
		name=prestart
		[modify_unit]
			[filter]
				canrecruit=yes
				formula="max_moves=7"
			[/filter]
			{TRAIT_SLOW}
		[/modify_unit]
		[heal_unit][/heal_unit]
	[/event]
[/resource]