#define ZOMBIE_INIT_GCE
    [event]
        name=prestart
        #wmllint: markcheck off
        # TODO: Most of the sota_variation strings could probably reuse race names from core and just add the parentheses in the Lua code
        # sota_variation will be used in the zombie recruit dialog
        [set_variables]
            name=zombies
            [value]
                type=GCE Soulless_Bat
                # po: shown instead of the unit_type name in the recruitment dialog
                sota_name_in_recruit_dialog= _ "recruit^Soulless (Bat)"
                allow_recruit=yes
            [/value]
            [value]
                type=GCE Soulless_Rat
                sota_name_in_recruit_dialog= _ "recruit^Soulless (Rat)"
                allow_recruit=yes
            [/value]
            [value]
                type=GCE Soulless_Wolf
                sota_name_in_recruit_dialog= _ "recruit^Soulless (Wolf)"
                allow_recruit=yes
            [/value]
            [value]
                type=GCE Soulless_Human
                sota_name_in_recruit_dialog= _ "recruit^Soulless (Human)"
                allow_recruit=yes
            [/value]
            [value]
                type=GCE Soulless_Mounted
                sota_name_in_recruit_dialog= _ "recruit^Soulless (Mounted)"
                allow_recruit=yes
            [/value]
            [value]
                type=GCE Soulless_Wolf Rider
                sota_name_in_recruit_dialog= _ "recruit^Soulless (Wolf Rider)"
                allow_recruit=yes
            [/value]
            [value]
                type=GCE Soulless_Swimmer
                sota_name_in_recruit_dialog= _ "recruit^Soulless Corpse"
                allow_recruit=yes
            [/value]
            [value]
                type=GCE Soulless_Saurian
                sota_name_in_recruit_dialog= _ "recruit^Soulless (Saurian)"
                allow_recruit=yes
            [/value]
            [value]
                type=GCE Soulless_Wose
                sota_name_in_recruit_dialog= _ "recruit^Soulless (Wose)"
                allow_recruit=yes
            [/value]
            [value]
                type=GCE Soulless_Goblin
                sota_name_in_recruit_dialog= _ "recruit^Soulless (Goblin)"
                allow_recruit=yes
            [/value]
            [value]
                type=GCE Soulless_Gryphon
                sota_name_in_recruit_dialog= _ "recruit^Soulless (Gryphon)"
                allow_recruit=yes
            [/value]
            [value]
                type=GCE Soulless_Spider
                sota_name_in_recruit_dialog= _ "recruit^Soulless (Spider)"
                allow_recruit=yes
            [/value]
            [value]
                type=GCE Soulless_Troll
                sota_name_in_recruit_dialog= _ "recruit^Soulless (Troll)"
                allow_recruit=yes
            [/value]
            [value]
                type=GCE Soulless_Dwarf
                sota_name_in_recruit_dialog= _ "recruit^Soulless (Dwarf)"
                allow_recruit=yes
            [/value]
        [/set_variables]
        #wmllint: markcheck on
    [/event]
#enddef

#define ZOMBIES_GCE
    [event]
        name=prerecruit
        first_time_only=no
        [filter]
            type = GCE Walking Corpse_Dummy
        [/filter]
        # This lua function creates a dialog box for choosing a walking corpse type.
        # It sets two WML variables: recruitedZombieType and recruitedZombieCost.
        # If nothing was recruited after all, recruitedZombieType is set to "cancel".
        [lua]
            code = "wesnoth.dofile '~add-ons/Factions_of_Wesnoth/macros/zombie_recruit_dialog.lua'"
        [/lua]
        [if]
            [variable]
                name = recruitedZombieType
                equals = "cancel"
            [/variable]
            [then]
                [kill]
                    id=$unit.id
                [/kill]
            [/then]
            [else]
                [transform_unit]
                    id=$unit.id
                    transform_to=$recruitedZombieType
                [/transform_unit]
                # At the moment, the new unit has the original single hitpoint, so:
                {FULL_HEAL id=$unit.id}
                # The player has already paid one gold (the minimum), but we still need
                # to take away the rest.
                [gold]
                    side=$side_number
                    amount = "$(($recruitedZombieCost-1) * -1)"
                [/gold]
            [/else]
        [/if]
        [clear_variable]
            name=recruitedZombieType, recruitedZombieCost
        [/clear_variable]
    [/event]

    # This event shouldn't ever be fired, but a lua error in the recruit dialog would
    # allow the dummy unit to actually be recruited. This event prevents that.
    [event]
        name=recruit
        first_time_only=no
        [filter]
            type=GCE Walking Corpse_Dummy
        [/filter]
        [kill]
            id=$unit.id
        [/kill]
        [message]
            speaker=narrator
            message= _ "A lua error has occurred, and a corpse cannot be recruited."
        [/message]
    [/event]
#enddef