#define TRAIT_OCEANGOING_MUSTHAVE
    # Units with the Oceangoing trait have altered defense while on certain mixed terrains
    #
    # I've implemented this as a trait instead of an ability because our UI makes it hard to read names when units have more than 2 traits/abilities.
    # Some ships will have 2 abilities (heals & cures), but by default they all only have the "mechanical" trait, so there'll be plenty of room in the UI to display this.
    # Explaining terrain defense in a trait also follows the precedent set by the Feral trait.
    [trait]
        id=oceangoing
        name=_"oceangoing"
        #po: this is a defense reduction - without this ability most oceangoing ships would have 30% defense on these terrains
        description=_"This unit is limited to 20% defense while in ford, bridge, oasis, or water-based village/castle terrain."
        availability=musthave
        [effect]
            apply_to=new_ability
            [abilities]
                [defense]
                    value=20
                    affect_self=yes
                    [filter_self]
                        [filter_location]
                            terrain=Wwf*^*,*^B*,*^Do*,Khw*^*,Khs*^*,Km*^*,Chw*^*,Chs*^*,Cm*^*,W*^V*,S*^*
                        [/filter_location]
                    [/filter_self]
                [/defense]
            [/abilities]
        [/effect]
    [/trait]
#enddef