#define TRAIT_OCEANGOING_MUSTHAVE
    # Units with the Oceangoing trait have altered defense while on certain mixed terrains
    #
    # I've implemented this as a trait instead of an ability because our UI makes it hard to read names when units have more than 2 traits/abilities.
    # Some ships will have 2 abilities (heals & cures), but by default they all only have the "mechanical" trait, so there'll be plenty of room in the UI to display this.
    # Explaining terrain defense in a trait also follows the precedent set by the Feral trait.
    [trait]
        id=oceangoing
        name=_"oceangoing"
        #po: this is a defense reduction - without this ability most oceangoing ships would have 30% defense on these terrains
        description=_"This unit is limited to 20% defense while in ford, bridge, oasis, or water-based village/castle terrain."
        availability=musthave
        [effect]
            apply_to=new_ability
            [abilities]
                [defense]
                    value=20
                    affect_self=yes
                    [filter_self]
                        [filter_location]
                            terrain=Wwf*^*,*^B*,*^Do*,Khw*^*,Khs*^*,Km*^*,Chw*^*,Chs*^*,Cm*^*,W*^V*,S*^*
                        [/filter_location]
                    [/filter_self]
                [/defense]
            [/abilities]
        [/effect]
    [/trait]
#enddef

#define ARCHAIC_TRAIT_PHANTOM
    # Units with trait Phantom cannot be drained, poisoned or plagued.  This is just cosmetic <- no it's not, but is 'not_living' being deprecated?  It's not in mainline anymore
    [trait]
        id=aa_phantom
        availability="musthave"
        male_name= _ "phantom"
        female_name= _ "female^phantom"
        description=_"Immune to drain, poison, and plague"
        [effect]
            apply_to=status
            add=not_living
        [/effect]
    [/trait]
#enddef

	#traits for elementals
#define TRAIT_RUBY
    [trait]
        id=ruby
        name= _ "ruby"
        description= _ "+1 melee damage, +1 HP"
        [effect]
            apply_to=attack
            range=melee
            increase_damage=1
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=1
        [/effect]
    [/trait]
#enddef

#define TRAIT_AMETHYST
    [trait]
        id=amethyst
        name= _ "amethyst"
        description= _ "+1 ranged damage"
        [effect]
            apply_to=attack
            range=ranged
            increase_damage=1
        [/effect]
    [/trait]
#enddef

#define TRAIT_DIAMOND
    [trait]
        id=diamond
        name= _ "diamond"
        description= _ "+1 MP, -5% HP"
        [effect]
            apply_to=movement
            increase=1
        [/effect]
        [effect]
            apply_to=hitpoints
            increase_total=-5%
        [/effect]
    [/trait]
#enddef

#define TRAIT_SAPPHIRE
    [trait]
        id=sapphire
        name= _ "sapphire"
        description= _ "Requires 20% less experience to advance"
        [effect]
            apply_to=max_experience
            increase=-20%
        [/effect]
    [/trait]
#enddef

#define TRAIT_EMERALD
    [trait]
        id=emerald
        name= _ "emerald"
        description= _ "+4 HP, +1 HP per level"
        [effect]
            apply_to=hitpoints
            increase_total=4
        [/effect]
        [effect]
            apply_to=hitpoints
            times=per level
            increase_total=1
        [/effect]
    [/trait]
#enddef

#define FIRE_TRUEELEMENTAL_TRAITS
    {TRAIT_ELEMENTAL}
    {TRAIT_RUBY}
    {TRAIT_DIAMOND}
    {TRAIT_EMERALD}
    {TRAIT_AMETHYST}
#enddef

#define WATER_TRUEELEMENTAL_TRAITS
    {TRAIT_ELEMENTAL}
    {TRAIT_SAPPHIRE}
    {TRAIT_DIAMOND}
    {TRAIT_EMERALD}
    {TRAIT_RUBY}
#enddef

#define EARTH_TRUEELEMENTAL_TRAITS
    {TRAIT_ELEMENTAL}
    {TRAIT_EMERALD}
    {TRAIT_SAPPHIRE}
    {TRAIT_RUBY}
#enddef

#define AIR_TRUEELEMENTAL_TRAITS
    {TRAIT_ELEMENTAL}
    {TRAIT_DIAMOND}
    {TRAIT_SAPPHIRE}
    {TRAIT_AMETHYST}
    {TRAIT_RUBY}
#enddef

#define ARCHAIC_TRAIT_FEARLESS3
    # A clone of fearless + unplageable that would be generated even if random
    # trait generation is not used. This is needed for primevals and lesser_khthon
    [trait]
        id=aa_mh_fearless
        availability="musthave"
        male_name= _ "fearless"
        female_name= _ "female^fearless"
        description= _ "Fights normally during unfavorable times of day/night, and is unplageable"
        [effect]
            apply_to=status
            add=unplagueable
        [/effect]
        [effect]
            apply_to="fearless"
        [/effect]
    [/trait]
#enddef