#textdomain wesnoth-trader
[unit_type]
    id=Bernard
    name= _ "Bernard"
    race=monster
    image="units/animals/Bernard.png"
    profile=portraits/wolves/wolf-chewing.webp
    hitpoints=30
    movement_type=orcishfoot
    movement=5
    experience=48
    level=1
    alignment=neutral
    advances_to=Big Bernard,Bierhund
    cost=15
    usage=healer
    description= _ "The Bernard, or Saint Bernard Dogs, have adapted to the frozen terrain in the North and there kind nature makes them ultimate companions for the mountain guards."
    {DEFENSE_ANIM "units/animals/Bernard.png~O(80%)" "units/animals/Bernard.png~O(80%)" wolf-hit.wav}
    die_sound={SOUND_LIST:WOLF_DIE}
    [defense]
        frozen=50
    [/defense]
    [movement_costs]
        frozen=1
    [/movement_costs]
    [resistance]
        blade=100
        pierce=110
        impact=80
        fire=150
        cold=50
        arcane=100
    [/resistance]
    [abilities]
        {ABILITY_HEALS}
    [/abilities]
    die_sound={SOUND_LIST:HUMAN_DIE}
    undead_variation=mounted
    [attack]
        name=fangs
        description=_"fangs"
        type=pierce
        range=melee
        damage=4
        number=3
        icon=attacks/fangs.png
    [/attack]
[/unit_type]
