#textdomain wesnoth-trader
[unit_type]
    id=Bierhund
    name= _ "Bierhund"
    race=monster
    image="units/animals/Bierhund.png"
    profile=portraits/wolves/wolf-chewing.webp
    hitpoints=40
    movement_type=orcishfoot
    movement=5
    experience=90
    level=2
    alignment=neutral
    advances_to=null
    cost=32
    usage=healer
    description= _ "The guards best friend, the Bierhund provides cool or hot drinks for those in need. Some lewd tongues say that he is carrying whiskey in his barrel, but we all now the truth it is Bier err beer."
    {DEFENSE_ANIM "units/animals/Bierhund.png~O(80%)" "units/animals/Bierhund.png~O(80%)" wolf-hit.wav}
    die_sound={SOUND_LIST:WOLF_DIE}
    [defense]
        frozen=50
    [/defense]
    [movement_costs]
        frozen=1
    [/movement_costs]
    [resistance]
        blade=100
        pierce=100
        impact=70
        fire=150
        cold=50
        arcane=100
    [/resistance]
    [abilities]
        {ABILITY_HEALS}
        {ABILITY_STEADFAST}
        {ABILITY_LEADERSHIP}
    [/abilities]
    die_sound={SOUND_LIST:HUMAN_DIE}
    undead_variation=mounted
    [attack]
        name=fangs
        description=_"fangs"
        type=pierce
        range=melee
        damage=5
        number=3
        icon=attacks/fangs.png
    [/attack]
[/unit_type]
