#textdomain wesnoth-fluffy-era
[unit_type]
    id=Firewings
    name= _ "Firewings"
    race=monster
    image="units/animals/butterfly_firewings.png"
    hitpoints=38
	movement_type=smallfly
    movement=6
    experience=96
    level=2
    alignment=lawful
    advances_to=null
    cost=28
    usage=scout
    description= _ "Firewings are butterflies that have mastered the power of fire. Whatever wicked spirit or mad sorcerer gave them this ability, they are now a worthy opponent - for a butterfly."
    {DEFENSE_ANIM "units/animals/butterfly_firewings.png" "units/animals/butterfly_firewings.png" {SOUND_LIST:HUMAN_HIT} }
    die_sound={SOUND_LIST:HUMAN_DIE}
    undead_variation=mounted
	
    [abilities]
		{ABILITY_REGENERATES}
		{ABILITY_ILLUMINATES}
    [/abilities]

	[attack]
        name=firefly
        description= _ "firefly"
        type=fire
        range=melee
        damage=2
        number=7
        icon=attacks/torch.png
        [specials]
			{WEAPON_SPECIAL_SWARM}
        [/specials]
    [/attack]  
	
	[attack]
        name=firebreath
        description= _ "firebreath"
        type=fire
        range=ranged
        damage=2
        number=7
        icon=attacks/fire-breath-drake.png
        [specials]
			{WEAPON_SPECIAL_SWARM}
        [/specials]
    [/attack]  
    
	[attack_anim]
        [filter_attack]
            name=firebreath
        [/filter_attack]
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/fireball-fail-1.png"
            image_diagonal="projectiles/muzzle-flash-ne-1.png"
        [/missile_frame]
        [if]
            hits=yes
            [frame]
                begin=-350
                end=-100
                sound=fuse.ogg
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-350
                end=-100
                sound=fuse.ogg
            [/frame]
        [/else]
    [/attack_anim]
[/unit_type]
