#textdomain wesnoth-trader
[unit_type]
    id=Nightflyer
    name= _ "Nightflyer"
    race=monster
    image="units/animals/butterfly_swarm.png~CS(-50,-50,-50)"
    hitpoints=28
	movement_type=smallfly
    movement=5
    experience=48
    level=1
    alignment=chaotic
    advances_to=null
    cost=14
    usage=scout
    description= _ "Nightflyers attack at night and while there attacks itself are weak, the threat of an unknown enemy in the dark has a psychological effect on those."
    {DEFENSE_ANIM "units/animals/butterfly_swarm.png~CS(-50,-50,-50)" "units/animals/butterfly_swarm.png~CS(-50,-50,-50)" {SOUND_LIST:HUMAN_HIT} }
    die_sound={SOUND_LIST:HUMAN_DIE}
    undead_variation=mounted
	
    [abilities]
		{ABILITY_REGENERATES}
		{ABILITY_DISTRACT}
    [/abilities]

	[attack]
        name=darkness
        description= _ "darkness"
        type=arcane
        range=melee
        damage=2
        number=7
        icon=attacks/wail.png
        [specials]
			{WEAPON_SPECIAL_SWARM}
        [/specials]
    [/attack]  
    
[/unit_type]
