#textdomain wesnoth-trader
[unit_type]
    id=Butterflies
    name= _ "Butterflies"
    race=monster
    image="units/animals/butterfly_swarm.png"
    hitpoints=20
	movement_type=smallfly
    movement=5
    experience=8
    level=0
    alignment=lawful
    advances_to=Fire Butterflies, Nightflyer
    cost=6
    usage=scout
    description= _ "As a last ressort, butterflies can distract enemies and block them from reaching specific locations."
    {DEFENSE_ANIM "units/animals/butterfly_swarm.png" "units/animals/butterfly_swarm.png" {SOUND_LIST:HUMAN_HIT} }
    die_sound={SOUND_LIST:HUMAN_DIE}
    undead_variation=mounted
	
    [abilities]
		{ABILITY_REGENERATES}
    [/abilities]

    
[/unit_type]
