#textdomain wesnoth-trader
[unit_type]
    id=Fire Butterflies
    name= _ "Fire Butterflies"
    race=monster
    image="units/animals/butterfly_swarm.png~CS(150,0,0)"
    hitpoints=28
	movement_type=smallfly
    movement=5
    experience=48
    level=1
    alignment=lawful
    advances_to=null
    cost=14
    usage=scout
    description= _ "Fire butterflies can spread fire amongst the enemies. How this is done, is a miracle."
    {DEFENSE_ANIM "units/animals/butterfly_swarm.png~CS(150,0,0)" "units/animals/butterfly_swarm.png~CS(150,0,0)" {SOUND_LIST:HUMAN_HIT} }
    die_sound={SOUND_LIST:HUMAN_DIE}
    undead_variation=mounted
	
    [abilities]
		{ABILITY_REGENERATES}
		{ABILITY_ILLUMINATES}
    [/abilities]

	[attack]
        name=firefly
        description= _ "firefly"
        type=fire
        range=melee
        damage=2
        number=7
        icon=attacks/torch.png
        [specials]
			{WEAPON_SPECIAL_SWARM}
        [/specials]
    [/attack]  
    
[/unit_type]
