#textdomain wesnoth-trader
[unit_type]
    id=cat
    name= _ "cat"
    race=monster
    image="units/animals/cat.png"
    hitpoints=15
	movement_type=smallfoot
    movement=6
    experience=20
    level=0
    alignment=neutral
    advances_to=Stray
    cost=9
    usage=fighter
    description= _ "Unlike their wilder versions like the bobcat, these street cats roam the streets of the cities and have a home in mills and farms to protect the precious harvest from smaller pests."
    {DEFENSE_ANIM "units/animals/cat-defend.png" "units/animals/cat-defend.png" {SOUND_LIST:HUMAN_HIT} }
    die_sound={SOUND_LIST:HUMAN_DIE}
    undead_variation=mounted
    [defense]
        village=70
    [/defense]
    [abilities]
		{ABILITY_DISTRACT}
    [/abilities]

    [attack]
        name=claws
        description=_"claws"
        type=blade
        range=melee
        damage=4
        number=1
        icon=attacks/claws.png
    [/attack]
    [attack_anim]
        [filter_attack]
            name=claws
        [/filter_attack]
        hits=no
        [frame]
            begin=-50
            end=100
            image="units/animals/cat-attack.png"
            sound=miss-1.ogg
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=claws
        [/filter_attack]
        hits=yes
        [frame]
            begin=-50
            end=100
            image="units/animals/cat-attack.png"
            sound=sword-1.ogg
        [/frame]
    [/attack_anim]
	[movement_anim]
        [frame]
            begin=0
            end=150
            image="units/animals/cat-moving1.png"
        [/frame]
        [frame]
            begin=150
            end=300
            image="units/animals/cat-moving2.png"
        [/frame]
    [/movement_anim]
    
[/unit_type]
