#textdomain wesnoth-trader
[unit_type]
    id=Young Lion
    name= _ "Young Lion"
    race=monster
    image="units/animals/lion.png"
    hitpoints=60
    movement_type=dunefoot
    movement=6
    experience=90
    level=2
    alignment=lawful
    advances_to=Lion
    cost=28
    usage=fighter
    description= _ "Turns out the 'cat' was secretly a lion all along. These majestic creatures are fiercesome enemies."
    {DEFENSE_ANIM "units/animals/lion.png" "units/animals/lion.png" "yeti-hit.ogg" }
    die_sound=yeti-die.ogg
    undead_variation=mounted

    [abilities]
		{ABILITY_LEADERSHIP}
    [/abilities]

    [attack]
        name=claws
        description=_"claws"
        type=blade
        range=melee
        damage=5
        number=4
        icon=attacks/claws.png
    [/attack]
    [attack]
        name=bite
        description=_"bite"
        type=pierce
        range=melee
        damage=20
        number=1
        icon=attacks/fangs.png
		{WEAPON_SPECIAL_BACKSTAB}
    [/attack]
   
    
[/unit_type]
