#textdomain wesnoth-trader
[unit_type]
    id=Bastet
    name= _ "Bastet"
    race=monster
    image="units/animals/cat.png"
    hitpoints=20
    movement_type=elusivefoot
    movement=7
    experience=45
    level=2
    alignment=neutral
    advances_to=Bastet,Lion
    cost=28
    usage=fighter
    description= _ "Street cats with experience that gained some fighting experience often leave their homes and become strays. They are nimbler can even do some damage to an experienced soldier, but they are flexible in their ways, using charm and distracting instead of brute force."
    {DEFENSE_ANIM "units/animals/cat.png" "units/animals/cat.png" {SOUND_LIST:HUMAN_HIT} }
    die_sound={SOUND_LIST:HUMAN_DIE}
    undead_variation=mounted
    [defense]
        village=70
    [/defense]
	
    [abilities]
		{ABILITY_DISTRACT}
    [/abilities]

    [attack]
        name=claws
        description=_"claws"
        type=blade
        range=melee
        damage=4
        number=2
        icon=attacks/claws.png
    [/attack]
    [attack]
        name=bite
        description=_"bite"
        type=pierce
        range=melee
        damage=10
        number=1
        icon=attacks/fangs.png
		{WEAPON_SPECIAL_DRAIN}
    [/attack]
    [attack_anim]
        [filter_attack]
            name=claws
        [/filter_attack]
        hits=no
        [frame]
            begin=-50
            end=100
            image="units/animals/cat-attack.png"
            sound=miss-1.ogg
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=claws
        [/filter_attack]
        hits=yes
        [frame]
            begin=-50
            end=100
            image="units/animals/cat-attack.png"
            sound=sword-1.ogg
        [/frame]
    [/attack_anim]
	[movement_anim]
        [frame]
            begin=0
            end=150
            image="units/animals/cat-moving1.png"
        [/frame]
        [frame]
            begin=150
            end=300
            image="units/animals/cat-moving2.png"
        [/frame]
    [/movement_anim]
    
[/unit_type]
