#textdomain wesnoth-trader
[unit_type]
    id=Duck
    name= _ "Duck"
    race=monster
    image="units/animals/duck.png"
    hitpoints=22
    movement_type=naga
    movement=6
    experience=25
    level=1
    alignment=neutral
    advances_to=Big Duck 
    undead_variation=swimmer
    cost=12
    usage=fighter
    description= _ "A duck can annoy and distract enemies with their noise, while otherwise being a poor fighter."
    {DEFENSE_ANIM "units/animals/duck.png" "units/animals/duck.png" mermen-hit.wav}
    
	[attack]
        name=nagnag
        description= _ "nag nag"
        type=arcane
        range=ranged
        damage=5
        number=2
        icon=attacks/wail.png
        [specials]
			{WEAPON_SPECIAL_SLOW}
        [/specials]
    [/attack]  
	
    [abilities]
        {ABILITY_SUBMERGE}
    [/abilities]
	
	
	[attack_anim]
        [filter_attack]
            name=nagnag
        [/filter_attack]
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/wailprojectile-n-1.png"
            image_diagonal="projectiles/wailprojectile-ne-1.png"
        [/missile_frame]
        [if]
            hits=yes
            [frame]
                begin=-350
                end=-100
                sound=throw-1.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-350
                end=-100
                sound=throw-2.wav
            [/frame]
        [/else]
    [/attack_anim]
	
[/unit_type]
