#textdomain wesnoth-trader
[unit_type]
    id=hedgedog
    name= _ "hedgedog"
    race=monster
    image="units/animals/hedgedog.png"
    hitpoints=25
	movement_type=smallfoot
    movement=4
    experience=25
    level=1
    alignment=lawful
    advances_to=Big Hedgedog
    cost=14
    usage=tank
    description= _ "Peaceful creatures with a powerful defense and dangerous spikes. Men and animals a like fear to attack it."
    {DEFENSE_ANIM "units/animals/hedgedog_defending.png" "units/animals/hedgedog_defending.png" {SOUND_LIST:HUMAN_HIT} }
    die_sound={SOUND_LIST:HUMAN_DIE}
    undead_variation=mounted
	
    [abilities]
	[resistance]
        id=spiked defence
        multiply=2
        max_value=50
        # applies to any type if we leave it out
        #apply_to=blade,pierce,impact,fire,cold,arcane
        [filter_base_value]
            greater_than=0
            less_than=50
        [/filter_base_value]
        name= _ "spiked defence"
        female_name= _ "female^spiked defence"
        description= _ "Doubles its resistance when attacked, up to a maximum of 50%. Vulnerabilities are not affected."
        affect_self=yes
        active_on=defense
    [/resistance]
    [/abilities]
	
    [attack]
        name=spikes
        description=_"spikes"
        type=pierce
        range=melee
        damage=3
        number=3
        icon=attacks/scarab-horn.png
    [/attack]

[/unit_type]
