#textdomain wesnoth-gce
[unit_type]
    id=Heindal Bandit
    name= _ "Heindal"
    race=human
    image="units/heroes/bandit.png"
    profile="portraits/humans/bandit.webp"
    hitpoints=50
    movement_type=smallfoot
    movement=5
    level=2
    alignment=chaotic
    experience=61
    advances_to=Heindal Highwayman
    cost=22
    usage=fighter
    description= _ "Todo."
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/heroes/bandit-defend-2.png" "units/heroes/bandit-defend-1.png" {SOUND_LIST:HUMAN_HIT} }
    [idle_anim]
        {STANDARD_IDLE_FILTER}
        start_time=0
        [frame]
            image="units/heroes/bandit-idle-[1~6,5,4,3,2,1].png:200"
        [/frame]
    [/idle_anim]
    [attack]
        name=mace-spiked
        description=_"morning star"
        type=impact
        range=melee
        damage=8
        number=4
    [/attack]
    [attack_anim]
        [filter_attack]
            name=mace-spiked
        [/filter_attack]
        offset=0.0~0.2,0.2~0.6,0.6~0.4,0.4~0.0
        start_time=-500
        [frame]
            image="units/heroes/bandit-melee-[1~8].png:100"
        [/frame]
        {SOUND:HIT_AND_MISS staff.ogg staff-miss.ogg -125}
    [/attack_anim]
[/unit_type]

[unit_type]
    id=Heindal Highwayman
    name= _ "Heindal"
    race=human
    image="units/heroes/highwayman.png"
    profile="portraits/humans/bandit.webp"
    hitpoints=70
    movement_type=smallfoot
    movement=5
    experience=150
    level=3
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=46
    usage=fighter
    description= _ "Todo."
    die_sound={SOUND_LIST:HUMAN_DIE}
    {DEFENSE_ANIM "units/heroes/highwayman-defend-2.png" "units/heroes/highwayman-defend-1.png" {SOUND_LIST:HUMAN_HIT} }
    [attack]
        name=mace-spiked
        description= _ "morning star"
        type=impact
        range=melee
        damage=11
        number=4
    [/attack]
    [attack_anim]
        [filter_attack]
            name=mace-spiked
        [/filter_attack]
        offset=0.0~0.2,0.2~0.6,0.6~0.4,0.4~0.0
        start_time=-500
        {SOUND:HIT_AND_MISS mace.ogg mace-miss.ogg -100}
        [frame]
            image="units/heroes/highwayman-melee-[1~8].png:100"
        [/frame]
    [/attack_anim]
[/unit_type]
