#textdomain wesnoth-trader
[unit_type]
    id=Lion
    name= _ "Lion"
    race=monster
    image="units/animals/lion.png"
    hitpoints=80
    movement_type=dunefoot
    movement=7
    experience=150
    level=3
    alignment=lawful
    advances_to=null
    cost=36
    usage=fighter
    description= _ "The king of the animals."
    {DEFENSE_ANIM "units/animals/lion.png" "units/animals/lion.png" "yeti-hit.ogg" }
    die_sound=yeti-die.ogg
    undead_variation=mounted

    [abilities]
		{ABILITY_LEADERSHIP}
    [/abilities]

    [attack]
        name=claws
        description=_"claws"
        type=blade
        range=melee
        damage=6
        number=4
        icon=attacks/claws.png
    [/attack]
    [attack]
        name=bite
        description=_"bite"
        type=pierce
        range=melee
        damage=35
        number=1
        icon=attacks/fangs.png
		{WEAPON_SPECIAL_BACKSTAB}
    [/attack]
    [attack]
        name=roar
        description=_"roar"
        type=arcane
        range=ranged
        damage=10
        number=1
        icon=attacks/wail.png
		{WEAPON_SPECIAL_SLOW}
    [/attack]
   
[/unit_type]
