#textdomain wesnoth-trader

[unit_type]
    id=Big Lynx
    name= _ "Big Lynx"
    race=monster
    image="units/animals/lynx.png~SCALE(120%,120%)"
    hitpoints=38
	movement_type=orcishfoot
    movement=5
    experience=96
    level=2
    alignment=neutral
    advances_to=null
    cost=26
    usage=fighter
    description= _ "Lynx are the ground force for the animal factions. Aside from their small stature, they can be dangerous enemies for any unaware foe."
    {DEFENSE_ANIM "units/animals/lynx.png~SCALE(120%,120%)" "units/animals/lynx.png~SCALE(120%,120%)" {SOUND_LIST:HUMAN_HIT} }
    die_sound={SOUND_LIST:HUMAN_DIE}
    undead_variation=mounted
	
    [attack]
        name=wild attack
        description=_"wild attack"
        type=blade
        range=melee
        damage=4
        number=4
        icon=attacks/claws.png
    [/attack]  
    [attack]
        name=reckless attack
        description=_"reckless attack"
        type=blade
        range=melee
        damage=3
        number=4
        icon=attacks/claws.png
        [specials]
			{WEAPON_SPECIAL_BERSERK}
        [/specials]
    [/attack]  
	
[/unit_type]
