#textdomain wesnoth-trader

[unit_type]
    id=Lynx
    name= _ "Lynx"
    race=monster
    image="units/animals/lynx.png"
    hitpoints=28
	movement_type=orcishfoot
    movement=5
    experience=48
    level=1
    alignment=neutral
    advances_to=Big Lynx
    cost=12
    usage=fighter
    description= _ "Lynx are the ground force for the animal factions. Aside from their small stature, they can be dangerous enemies for any unaware foe."
    {DEFENSE_ANIM "units/animals/lynx.png" "units/animals/lynx.png" {SOUND_LIST:HUMAN_HIT} }
    die_sound={SOUND_LIST:HUMAN_DIE}
    undead_variation=mounted
	
    [attack]
        name=wild attack
        description=_"wild attack"
        type=blade
        range=melee
        damage=3
        number=4
        icon=attacks/claws.png
    [/attack]  
	
[/unit_type]
