#textdomain wesnoth-trader
[unit_type]
    id=Big Mole
    name= _ "Big Mole"
    race=monster
    image="units/animals/mole.png"
    hitpoints=25
	movement_type=smallfoot
    movement=6
    experience=56
    level=2
    alignment=chaotic
    advances_to=null
    cost=28
    usage=scout
    description= _ "Moles prefer to stay underground or come out at night. They can quickly burry through the ground, suprising enemy and making formidable scouts."
    {DEFENSE_ANIM "units/animals/mole.png" "units/animals/mole.png" {SOUND_LIST:HUMAN_HIT} }
    die_sound={SOUND_LIST:HUMAN_DIE}
    undead_variation=mounted
	
    [abilities]
	[teleport]
        id=dig
        name= _ "dig"
        female_name= _ "female^dig"
        description= _ "This unit may dig from one gras tile to another."
        special_note={INTERNAL:SPECIAL_NOTES_TELEPORT}
        [tunnel]
            id=village_teleport
            [source]
                terrain=*Gg*
                formula="
                    owner_side = teleport_unit.side_number and (unit = teleport_unit or not unit)
                where
                    unit = unit_at(loc)
                "
            [/source]

            [target]
                terrain=*Gg*
                formula="owner_side = teleport_unit.side_number and not unit_at(loc)"
            [/target]

            [filter]
                ability=dig
            [/filter]
        [/tunnel]
    [/teleport]
    [hides]
        id=mole
        name= _ "mole"
        female_name= _ "female^mole"
        description= _ "Moles can hide on gras tiles, digging into the earth."
        affect_self=yes
        [filter]
            [filter_location]
                terrain=Gg
            [/filter_location]
        [/filter]
    [/hides]
    [/abilities]
	
	[attack]
        name=throw earth
        description= _ "throw earth"
        type=impact
        range=melee
        damage=6
        number=2
        icon=attacks/mud-missile.png
        [specials]
			{WEAPON_SPECIAL_SLOW}
        [/specials]
    [/attack]  
	[attack]
        name=throw earth
        description= _ "throw earth"
        type=impact
        range=ranged
        damage=4
        number=2
        icon=attacks/mud-missile.png
        [specials]
			{WEAPON_SPECIAL_SLOW}
        [/specials]
    [/attack]  

    
[/unit_type]
