#textdomain wesnoth-trader
[unit_type]
    id=Young Orca
    name= _ "Young Orca"
    race=monster
    image="units/animals/orca.png~SCALE(60%,60%)"
    hitpoints=60
    movement_type=float
    [movement_costs]
        frozen=3
		desert=3
    [/movement_costs]
    movement=7
    experience=92
    level=3
    alignment=neutral
    advances_to=Orca
    undead_variation=swimmer
    cost=32
    usage=fighter
    description= _ "A young Orca whale, is already a force to consider, when taking out your boat for fishing."
    {DEFENSE_ANIM "units/animals/orca.png~SCALE(60%,60%)" "units/animals/orca.png~SCALE(60%,60%)" mermen-hit.wav}
    [attack]
        name=bite
        description= _ "bite"
        type=blade
        range=melee
        damage=20
        number=1
        icon=attacks/fangs-angler.png
    [/attack]
	
[/unit_type]
