#textdomain wesnoth-trader
[unit_type]
    id=Orca
    name= _ "Orca"
    race=monster
    image="units/animals/orca.png"
    hitpoints=150
    movement_type=float
    [movement_costs]
        frozen=3
		desert=3
    [/movement_costs]
    movement=8
    experience=90
    level=3
    alignment=neutral
    advances_to=null
    undead_variation=swimmer
    cost=80
    usage=fighter
    description= _ "A gigantic whale, sometimes seen with strange fish-like hats, which likes to attack boats. If out of curiosity, hunger or sheer aggressiveness, the boats will be crushed by their pure brute force."
    {DEFENSE_ANIM "units/animals/orca.png" "units/animals/orca.png" mermen-hit.wav}
    [attack]
        name=bite
        description= _ "bite"
        type=blade
        range=melee
        damage=25
        number=1
        icon=attacks/fangs-angler.png
    [/attack]
	[attack]
        name=crush
        description= _ "crush"
        type=impact
        range=melee
        damage=25
        number=1
        icon=attacks/rock_thrown.png
    [/attack]
	
[/unit_type]
