#textdomain wesnoth-trader
[unit_type]
    id=Orca Baby
    name= _ "Orca Baby"
    race=monster
    image="units/animals/orca.png~SCALE(30%,30%)"
    hitpoints=40
    movement_type=float
    [movement_costs]
        frozen=3
		desert=3
    [/movement_costs]
    movement=6
    experience=36
    level=1
    alignment=neutral
    advances_to=Young Orca
    undead_variation=swimmer
    cost=16
    usage=fighter
    description= _ "A small cute orca, but already a worthy predator."
    {DEFENSE_ANIM "units/animals/orca.png~SCALE(30%,30%)" "units/animals/orca.png~SCALE(30%,30%)" mermen-hit.wav}
    [attack]
        name=bite
        description= _ "bite"
        type=blade
        range=melee
        damage=15
        number=1
        icon=attacks/fangs-angler.png
    [/attack]
	
[/unit_type]
