#textdomain wesnoth-trader

[unit_type]
    id=Big Oryx
    name= _ "Big Oryx"
    race=monster
    image="units/animals/oryx.png"
    hitpoints=45
	movement_type=dunefoot
    movement=6
    experience=48
    level=2
    alignment=neutral
    advances_to=null
    cost=36
    usage=fighter
    description= _ "Oryx are tenacious animals, which can use their hard skull or their horns to attack unaware travelers, that roam the deserts."
    {DEFENSE_ANIM "units/animals/oryx.png" "units/animals/oryx.png" {SOUND_LIST:HUMAN_HIT} }
    die_sound={SOUND_LIST:HUMAN_DIE}
    undead_variation=mounted
	
    [attack]
        name=skull attack
        description=_"skull attack"
        type=impact
        range=melee
        damage=18
        number=1
        icon=attacks/ram.png
        [specials]
			{WEAPON_SPECIAL_CHARGE}
        [/specials]
    [/attack]  
    [attack]
        name=horn attack
        description=_"horn attack"
        type=pierce
        range=melee
        damage=9
        number=2
        icon=attacks/scarab-horn.png
    [/attack]  
	
[/unit_type]
