#textdomain wesnoth-trader
[unit_type]
    id=Owl
    name= _ "Owl"
    race=monster
    image="units/animals/owl.png"
    hitpoints=20
	movement_type=smallfly
    movement=5
    experience=45
    level=1
    alignment=chaotic
    advances_to=Night Owl,Old Owl
    cost=13
    usage=fighter
    description= _ "Owls are shy nightactive predators. In combat they prefer hit and run tactics. Due to their nature as predator, they prefer to hide in the woods."
    {DEFENSE_ANIM "units/animals/owl.png" "units/animals/owl.png" {SOUND_LIST:HUMAN_HIT} }
    die_sound={SOUND_LIST:HUMAN_DIE}
    undead_variation=mounted
    [defense]
        village=70
    [/defense]
	
    [abilities]
		{ABILITY_AMBUSH}
		{ABILITY_SKIRMISHER}
    [/abilities]

    [attack]
        name=claws
        description=_"claws"
        type=blade
        range=melee
        damage=5
        number=2
        movement_used=0
        icon=attacks/claws-animal.png
            {WEAPON_SPECIAL_HIT_AND_RUN}
    [/attack]
    
	[movement_anim]
        [frame]
            begin=0
            end=200
            image="units/animals/owl_moving.png"
        [/frame]
    [/movement_anim]
[/unit_type]
