#textdomain wesnoth-trader
[unit_type]
    id=Old Owl
    name= _ "Old Owl"
    race=monster
    image="units/animals/owl_old.png"
    hitpoints=35
	movement_type=smallfly
    movement=4
    experience=90
    level=2
    alignment=chaotic
    advances_to=null
    cost=30
    usage=fighter
    description= _ "Owls are shy night active predators. In combat they prefer hit and run tactics. Due to their nature as predator, they prefer to hide in the woods."
    {DEFENSE_ANIM "units/animals/owl.png" "units/animals/owl.png" {SOUND_LIST:HUMAN_HIT} }
    die_sound={SOUND_LIST:HUMAN_DIE}
    undead_variation=mounted
    [defense]
        village=70
    [/defense]
	
    [abilities]
		{ABILITY_AMBUSH}
    [/abilities]

    [attack]
        name=claws
        description=_"claws"
        type=blade
        range=melee
        damage=5
        number=3
        movement_used=0
        icon=attacks/claws-animal.png
            {WEAPON_SPECIAL_WOUND}
            {WEAPON_SPECIAL_HIT_AND_RUN}
    [/attack]
	[movement_anim]
        [frame]
            begin=0
            end=200
            image="units/animals/owl_old_moving.png"
        [/frame]
    [/movement_anim]
    
[/unit_type]
