#textdomain wesnoth-trader

[unit_type]
    id=Porcupine
    name= _ "Porcupine"
    race=monster
    image="units/animals/porcupine.png"
    hitpoints=25
	movement_type=woodland
    movement=7
    experience=48
    level=1
    alignment=neutral
    advances_to=Big Porcupine 
    cost=12
    usage=archer
    description= _ "These porcupines have learned to shoot their needles with high precision."
    {DEFENSE_ANIM "units/animals/porcupine.png" "units/animals/porcupine.png" {SOUND_LIST:HUMAN_HIT} }
    die_sound={SOUND_LIST:HUMAN_DIE}
    undead_variation=mounted
	
    [attack]
        name=needles
        description=_"needles"
        type=pierce
        range=ranged
        damage=3
        number=3
        movement_used=0
        icon=attacks/dark-missile.png
    [/attack]   
    [attack]
        name=stitch
        description=_"stitch"
        type=pierce
        range=melee
        damage=3
        number=3
        movement_used=0
        icon=attacks/claws-shadow.png
    [/attack] 
	
	[attack_anim]
        [filter_attack]
            name=needles
        [/filter_attack]
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/thorns.png"
            image_diagonal="projectiles/thorns-ne.png"
        [/missile_frame]
        [if]
            hits=yes
            [frame]
                begin=-350
                end=-100
                sound=throw-1.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-350
                end=-100
                sound=throw-2.wav
            [/frame]
        [/else]
    [/attack_anim]

[/unit_type]
