#textdomain wesnoth-trader
[unit_type]
    id=quetzal spirit
    name= _ "quetzal spirit"
    race=monster
    image="units/animals/quetzal.png"
	profile="portraits/quetzal.png"
    hitpoints=35
	movement_type=smallfly
    movement=7
    experience=90
    level=2
    alignment=lawful
    advances_to=null
    cost=36
    usage=scout
    description= _ "Beautiful foreign birds, from the deepth of the jungle. They can inspire hearts of the nearby allies."
    {DEFENSE_ANIM "units/animals/quetzal.png" "units/animals/quetzal.png" {SOUND_LIST:HUMAN_HIT} }
    die_sound={SOUND_LIST:HUMAN_DIE}
    undead_variation=mounted
	
    [abilities]
		{ABILITY_LEADERSHIP}
    [/abilities]
    [abilities]
	[resistance]
        id=greater inspiration
        multiply=2
        max_value=60
        # applies to any type if we leave it out
        #apply_to=blade,pierce,impact,fire,cold,arcane
        [filter_base_value]
            greater_than=0
            less_than=60
        [/filter_base_value]
        name= _ "inspiration"
        female_name= _ "female^inspiration"
        description= _ "Inspires allied adjacent units and doubles their resistances, up to a maximum of 60%. Vulnerabilities are not affected."
        affect_self=yes
		affect_allies=yes
		[affect_adjacent]
			adjacent=n,ne,se,s,sw,nw
		[/affect_adjacent]
    [/resistance]
    [/abilities]
	
    [attack]
        name=claws
        description=_"claws"
        type=blade
        range=melee
        damage=3
        number=2
        icon=attacks/claws-animal.png
    [/attack]
	
	
    [attack]
        name=hypnosis
        description=_"hypnosis"
        type=arcane
        range=ranged
        damage=6
        number=3
        icon=attacks/claws-animal.png
        [specials]
			{WEAPON_SPECIAL_SLOW}
        [/specials]
    [/attack]	
	
	[attack_anim]
        [filter_attack]
            name=hypnosis
        [/filter_attack]
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/wailprojectile-n-1.png"
            image_diagonal="projectiles/wailprojectile-ne-1.png"
        [/missile_frame]
        [if]
            hits=yes
            [frame]
                begin=-350
                end=-100
                sound=throw-1.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-350
                end=-100
                sound=throw-2.wav
            [/frame]
        [/else]
    [/attack_anim]

[/unit_type]
