#textdomain wesnoth-trader

[unit_type]
    id=racoon
    name= _ "Racoon"
    race=monster
    image="units/animals/racoon.png"
    hitpoints=15
	movement_type=elusivefoot
    movement=6
    experience=48
    level=1
    alignment=neutral
    advances_to=Big Racoon
    cost=12
    usage=fighter
    description= _ "These little creatures can be a real pest. While not particularly dangerous, the can be a harm to unprepared travellers."
    {DEFENSE_ANIM "units/animals/racoon.png" "units/animals/racoon.png" {SOUND_LIST:HUMAN_HIT} }
    die_sound={SOUND_LIST:HUMAN_DIE}
    undead_variation=mounted
	
    [attack]
        name=scratch
        description=_"scratch"
        type=pierce
        range=melee
        damage=2
        number=5
        movement_used=0
        icon=attacks/claws.png
            {WEAPON_SPECIAL_HIT_AND_RUN}
    [/attack]   
    [abilities]
		{ABILITY_SKIRMISHER}
    [/abilities]
    
[/unit_type]
