#textdomain wesnoth-trader

[unit_type]
    id=Big Racoon
    name= _ "Big Racoon"
    race=monster
    image="units/animals/racoon.png"
    hitpoints=25
	movement_type=elusivefoot
    movement=6
    experience=96
    level=2
    alignment=neutral
    advances_to=null
    cost=24
    usage=fighter
    description= _ "These little creatures can be a real pest and can even grow due to their enormous apetite. While not particularly dangerous, the can be a harm to unprepared travellers."
    {DEFENSE_ANIM "units/animals/racoon.png" "units/animals/racoon.png" {SOUND_LIST:HUMAN_HIT} }
    die_sound={SOUND_LIST:HUMAN_DIE}
    undead_variation=mounted
	
    [attack]
        name=scratch
        description=_"scratch"
        type=pierce
        range=melee
        damage=3
        number=5
        movement_used=0
        icon=attacks/claws.png
            {WEAPON_SPECIAL_HIT_AND_RUN}
    [/attack]   
    [abilities]
		{ABILITY_SKIRMISHER}
        {ABILITY_FEEDING}
    [/abilities]
    
[/unit_type]
