#textdomain wesnoth-trader
[unit_type]
    id=Posion Spider
    name= _ "Posion Spider"
    race=monsters
    image="units/monsters/spider_small.png~CS(0,25,0)"
    hitpoints=25
    movement_type=woodland
    [movement_costs]
        fungus=2
    [/movement_costs]
    movement=6
    experience=90
    level=2
    alignment=chaotic
    advances_to=Spider Venom
    cost=18
    usage=scout
    description= _ "Spiders in the deepth of the forest can grow to an enormous size. Some more experienced spiders can develop deadly toxins."
    die_sound=hiss-big.wav
    {DEFENSE_ANIM "units/monsters/spider_small_melee2.png~CS(0,25,0)" "units/monsters/spider_small_melee1.png~CS(0,25,0)" hiss.wav }
    [attack]
        name=fangs
        description=_"fangs"
        icon=attacks/fangs-spider.png
        type=blade
        range=melee
        damage=4
        number=3
        [specials]
            {WEAPON_SPECIAL_POISON}
        [/specials]
    [/attack]
    [abilities]
        {ABILITY_AMBUSH}
    [/abilities]
    [attack_anim]
        start_time=-400
        [filter_attack]
            name=fangs
        [/filter_attack]
        [frame]
            duration=50
            image="units/monsters/spider_small_melee1.png~CS(0,25,0)"
        [/frame]
        [frame]
            duration=50
            image="units/monsters/spider_small_melee2.png~CS(0,25,0)"
        [/frame]
        [frame]
            duration=50
            image="units/monsters/spider_small_melee3.png~CS(0,25,0)"
        [/frame]
        [frame]
            duration=50
            image="units/monsters/spider_small_melee2.png~CS(0,25,0)"
        [/frame]
        [frame]
            duration=50
            image="units/monsters/spider_small_melee1.png~CS(0,25,0)"
        [/frame]
    [/attack_anim]
[/unit_type]
