#textdomain wesnoth-trader
[unit_type]
    id=Spider Venom
    name= _ "Spider Venom"
    race=monsters
    image="units/monsters/spider_small.png~CS(0,50,0)"
    hitpoints=35
    movement_type=woodland
    [movement_costs]
        fungus=2
    [/movement_costs]
    movement=7
    experience=150
    level=3
    alignment=chaotic
    advances_to=null
    cost=25
    usage=scout
    description= _ "Spiders in the deepth of the forest can grow to an enormous size. The Spider Venom can produce a deadly venom and hide in forests."
    die_sound=hiss-big.wav
    {DEFENSE_ANIM "units/monsters/spider_small_melee2.png~CS(0,50,0)~O(0.7)" "units/monsters/spider_small_melee1.png~CS(0,50,0)~O(0.7)" hiss.wav }
    [attack]
        name=fangs
        description=_"fangs"
        icon=attacks/fangs-spider.png
        type=blade
        range=melee
        damage=5
        number=3
        [specials]
            {WEAPON_SPECIAL_BACKSTAB}
            {WEAPON_SPECIAL_POISON}
        [/specials]
    [/attack]
    [abilities]
        {ABILITY_AMBUSH}
    [/abilities]
    [attack_anim]
        start_time=-400
        [filter_attack]
            name=fangs
        [/filter_attack]
        [frame]
            duration=50
            image="units/monsters/spider_small_melee1.png~CS(0,50,0)"
        [/frame]
        [frame]
            duration=50
            image="units/monsters/spider_small_melee2.png~CS(0,50,0)"
        [/frame]
        [frame]
            duration=50
            image="units/monsters/spider_small_melee3.png~CS(0,50,0)"
        [/frame]
        [frame]
            duration=50
            image="units/monsters/spider_small_melee2.png~CS(0,50,0)"
        [/frame]
        [frame]
            duration=50
            image="units/monsters/spider_small_melee1.png~CS(0,50,0)"
        [/frame]
    [/attack_anim]
[/unit_type]
