#textdomain wesnoth-trader
[unit_type]
    id=Spiderhunter
    name= _ "Spiderhunter"
    race=monsters
    image="units/monsters/spider_small.png"
    hitpoints=25
    movement_type=woodland
    [movement_costs]
        fungus=2
    [/movement_costs]
    movement=6
    experience=90
    level=2
    alignment=chaotic
    advances_to=Spider Venom, Spider Leech
    cost=21
    usage=scout
    description= _ "Spiders in the deepth of the forest can grow to an enormous size. The more experienced Spiderhunter hides in the deepth of the forest and strikes from behind, with a devasting effect."
    die_sound=hiss-big.wav
    {DEFENSE_ANIM "units/monsters/spider_small_melee2.png" "units/monsters/spider_small_melee1.png" hiss.wav }
    [attack]
        name=fangs
        description=_"fangs"
        icon=attacks/fangs-spider.png
        type=blade
        range=melee
        damage=4
        number=3
        [specials]
            {WEAPON_SPECIAL_BACKSTAB}
        [/specials]
    [/attack]
    [abilities]
        {ABILITY_AMBUSH}
    [/abilities]
    [attack_anim]
        start_time=-400
        [filter_attack]
            name=fangs
        [/filter_attack]
        [frame]
            duration=50
            image="units/monsters/spider_small_melee1.png"
        [/frame]
        [frame]
            duration=50
            image="units/monsters/spider_small_melee2.png"
        [/frame]
        [frame]
            duration=50
            image="units/monsters/spider_small_melee3.png"
        [/frame]
        [frame]
            duration=50
            image="units/monsters/spider_small_melee2.png"
        [/frame]
        [frame]
            duration=50
            image="units/monsters/spider_small_melee1.png"
        [/frame]
    [/attack_anim]
[/unit_type]
