#textdomain wesnoth-trader
[unit_type]
    id=Spider
    name= _ "Spider"
    race=monsters
    image="units/monsters/spider_small.png"
    hitpoints=20
    movement_type=woodland
    [movement_costs]
        fungus=2
    [/movement_costs]
    movement=5
    experience=150
    level=1
    alignment=chaotic
    advances_to=Spiderhunter,Poison Spider
    cost=11
    usage=scout
    description= _ "Spiders in the deepth of the forest can grow to an enormous size and have developed an amazing speed in the forests. Their bite however lost the poison, in exchange for their size. This makes a single spider a rather weak foe, but as they hunt in packs they can still be deadly and should not be underestimated."
    die_sound=hiss-big.wav
    {DEFENSE_ANIM "units/monsters/spider_small_melee2.png" "units/monsters/spider_small_melee1.png" hiss.wav }
    [attack]
        name=fangs
        description=_"fangs"
        icon=attacks/fangs-spider.png
        type=blade
        range=melee
        damage=3
        number=3
        [specials]
            {WEAPON_SPECIAL_BACKSTAB}
        [/specials]
    [/attack]
    [attack_anim]
        start_time=-400
        [filter_attack]
            name=fangs
        [/filter_attack]
        [frame]
            duration=50
            image="units/monsters/spider_small_melee1.png"
        [/frame]
        [frame]
            duration=50
            image="units/monsters/spider_small_melee2.png"
        [/frame]
        [frame]
            duration=50
            image="units/monsters/spider_small_melee3.png"
        [/frame]
        [frame]
            duration=50
            image="units/monsters/spider_small_melee2.png"
        [/frame]
        [frame]
            duration=50
            image="units/monsters/spider_small_melee1.png"
        [/frame]
    [/attack_anim]
[/unit_type]
