#textdomain wesnoth-trader
[unit_type]
    id=Spider Leech
    name= _ "Spider Leech"
    race=monsters
    image="units/monsters/spider_small.png~CS(-100,-100,-100)"
    hitpoints=40
    movement_type=woodland
    [movement_costs]
        fungus=2
    [/movement_costs]
    movement=7
    experience=150
    level=3
    alignment=chaotic
    advances_to=null
    cost=30
    usage=scout
    description= _ "Spiders in the deepth of the forest can grow to an enormous size. The Spider Leech is a vampiric specimen that is able to drain lifeforce from its victims."
    die_sound=hiss-big.wav
    {DEFENSE_ANIM "units/monsters/spider_small_melee2.png~CS(-100,-100,-100)" "units/monsters/spider_small_melee1.png~CS(-100,-100,-100)" hiss.wav }
    [attack]
        name=fangs
        description=_"fangs"
        icon=attacks/fangs-spider.png
        type=blade
        range=melee
        damage=6
        number=3
        [specials]
            {WEAPON_SPECIAL_DRAIN}
        [/specials]
    [/attack]
    [abilities]
        {ABILITY_AMBUSH}
    [/abilities]
    [attack_anim]
        start_time=-400
        [filter_attack]
            name=fangs
        [/filter_attack]
        [frame]
            duration=50
            image="units/monsters/spider_small_melee1.png~CS(-100,-100,-100)"
        [/frame]
        [frame]
            duration=50
            image="units/monsters/spider_small_melee2.png~CS(-100,-100,-100)"
        [/frame]
        [frame]
            duration=50
            image="units/monsters/spider_small_melee3.png~CS(-100,-100,-100)"
        [/frame]
        [frame]
            duration=50
            image="units/monsters/spider_small_melee2.png~CS(-100,-100,-100)"
        [/frame]
        [frame]
            duration=50
            image="units/monsters/spider_small_melee1.png~CS(-100,-100,-100)"
        [/frame]
    [/attack_anim]
[/unit_type]
