#textdomain wesnoth-trader
[unit_type]
    id=squirrel
    name= _ "squirrel"
    race=monster
    image="units/animals/squirrel.png"
    hitpoints=15
	movement_type=woodland
    movement=7
    experience=12
    level=0
    alignment=neutral
    advances_to=Squirrel Archer,Killer Squirrel
    cost=5
    usage=scout
    description= _ "These cute little beings collect nuts and hide in the forest in the trees."
    {DEFENSE_ANIM "units/animals/squirrel.png" "units/animals/squirrel.png" {SOUND_LIST:HUMAN_HIT} }
    die_sound={SOUND_LIST:HUMAN_DIE}
    undead_variation=mounted
	
    [abilities]
		{ABILITY_AMBUSH}
    [/abilities]

    
[/unit_type]
