#textdomain wesnoth-trader

[unit_type]
    id=Squirrel Assassin
    name= _ "Squirrel Assassin"
    race=monster
    image="units/animals/squirrel_assassin.png"
    hitpoints=20
	movement_type=elusive
    movement=8
    experience=96
    level=2
    alignment=neutral
    advances_to=null
    cost=28
    usage=fighter
    description= _ "Even a peaceful creature can reveal a darker side, when forced to fight. These creature agressively attack anyone who enters there forest."
    {DEFENSE_ANIM "units/animals/squirrel_assassin.png" "units/animals/squirrel_assassin.png" {SOUND_LIST:HUMAN_HIT} }
    die_sound={SOUND_LIST:HUMAN_DIE}
    undead_variation=mounted
	
    [attack]
        name=bite
        description=_"bite"
        type=pierce
        range=melee
        damage=15
        number=1
        movement_used=0
        icon=attacks/fangs-rodent.png
            {WEAPON_SPECIAL_HIT_AND_RUN}
            {WEAPON_SPECIAL_BACKSTAB}
    [/attack]   
    [attack]
        name=claw
        description=_"claws"
        type=pierce
        range=melee
        damage=3
        number=4
        movement_used=0
        icon=attacks/claws-drake.png
            {WEAPON_SPECIAL_HIT_AND_RUN}
    [/attack]   
    [abilities]
		{ABILITY_AMBUSH}
		{ABILITY_SKIRMISHER}
    [/abilities]
    
[/unit_type]
