#textdomain wesnoth-trader

[unit_type]
    id=Killer Squirrel
    name= _ "Killer Squirrel"
    race=monster
    image="units/animals/squirrel_killer.png"
    hitpoints=17
	movement_type=woodland
    movement=7
    experience=48
    level=1
    alignment=neutral
    advances_to=Squirrel Assassin
    cost=12
    usage=fighter
    description= _ "Even a peaceful creature can reveal a darker side, when forced to fight. These creature agressively attack anyone who enters there forest."
    {DEFENSE_ANIM "units/animals/squirrel_killer.png" "units/animals/squirrel_killer.png" {SOUND_LIST:HUMAN_HIT} }
    die_sound={SOUND_LIST:HUMAN_DIE}
    undead_variation=mounted
	
    [attack]
        name=bite
        description=_"bite"
        type=pierce
        range=melee
        damage=10
        number=1
        movement_used=0
        icon=attacks/fangs-rodent.png
            {WEAPON_SPECIAL_HIT_AND_RUN}
            {WEAPON_SPECIAL_BACKSTAB}
    [/attack]   
    [abilities]
		{ABILITY_AMBUSH}
    [/abilities]
    
[/unit_type]
