#textdomain wesnoth-trader

[unit_type]
    id=Squirrel Archer
    name= _ "Squirrel Archer"
    race=monster
    image="units/animals/squirrel.png"
    hitpoints=17
	movement_type=woodland
    movement=7
    experience=48
    level=1
    alignment=neutral
    advances_to=Squirrel Sharpshooter
    cost=11
    usage=archer
    description= _ "Well now, archer might be an overstatement. Forced into combat these once beautiful creatures throw nuts and small stones with high precision."
    {DEFENSE_ANIM "units/animals/squirrel.png" "units/animals/squirrel.png" {SOUND_LIST:HUMAN_HIT} }
    die_sound={SOUND_LIST:HUMAN_DIE}
    undead_variation=mounted
	
    [attack]
        name=toss
        description=_"toss"
        type=impact
        range=ranged
        damage=3
        number=2
        movement_used=0
        icon=attacks/rock_thrown.png
            {WEAPON_SPECIAL_HIT_AND_RUN}
    [/attack]    
	[attack_anim]
        [filter_attack]
            name=toss
        [/filter_attack]
        [missile_frame]
            begin=-150
            end=0
            image="projectiles/stone.png"
            image_diagonal="projectiles/stone.png"
        [/missile_frame]
        [if]
            hits=yes
            [frame]
                begin=-350
                end=-100
                sound=throw-1.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                begin=-350
                end=-100
                sound=throw-2.wav
            [/frame]
        [/else]
    [/attack_anim]
    [abilities]
		{ABILITY_AMBUSH}
    [/abilities]

[/unit_type]
