#textdomain wesnoth-gce
[unit_type]
    id=EMMR_Crossbow
    name= _ "Crossbow"
    race=human
    gender=male
    image="units/lighting/Crossbow.png"
    hitpoints=32
    movement_type=smallfoot
    movement=5
    experience=70
    level=2
    alignment=neutral
    advances_to=EMMR_Eagleeye
    cost=20
    usage=archer
    description= _ "Crossbow. heavy oneshot damage"
    die_sound={SOUND_LIST:HUMAN_DIE}
{DEFENSE_ANIM "units/lighting/Crossbow-defend.png" "units/lighting/Crossbow.png" {SOUND_LIST:HUMAN_OLD_HIT} }


    [attack]
        name=arrow_bold
        description=_"arrow bold"
        icon=attacks/EMMR_staff-magic.png
		[specials]
		{WEAPON_SPECIAL_MARKSMAN}
		[/specials]
        type=pierce
        range=ranged
        damage=22
        number=1
    [/attack]


    [attack_anim]
        [filter_attack]
            name=arrow_bold
        [/filter_attack]
        start_time=-250
		missile_start_time=-150
        [missile_frame]
            duration=150
            image="projectiles/missile-n.png"
            image_diagonal="projectiles/missile-ne.png"
        [/missile_frame]

        [frame]
            image="units/lighting/Crossbow.png:50"
        [/frame]
        [frame]
            image="units/lighting/Crossbow.png:[100]"
        [/frame]
        {SOUND:HIT_AND_MISS bow.ogg bow-miss -125}
        [frame]
            image="units/lighting/Crossbow.png:50"
        [/frame]
    [/attack_anim]
[/unit_type]

