#textdomain wesnoth-gce
[unit_type]
	id=EMMR_Natureavatar
	name= _ "Natureavatar"
	race=human
	gender=female
	image="units/lighting/EMMR_Natureavatar.png"
	hitpoints=94
	movement_type=fly
	movement=5
	experience=150
	level=6
	alignment=neutral
	advances_to=EMMR_Gaea
	cost=160
	usage=healer
	description= _ "Natureavatar. Resists arcane and impact.
					Heals nearby units up to +12hp or cures poison. Regenerates by 8hp each turn.
					Please leave this forest."
	die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
{DEFENSE_ANIM "units/lighting/EMMR_Natureavatar-defend.png" "units/lighting/EMMR_Natureavatar.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
	[resistance]
		fire=100
		cold=100
		arcane=60
		blade=100
		impact=60
		pierce=100
	[/resistance]
	
	[standing_anim]
		start_time=0
		[frame]
			image="units/lighting/EMMR_Natureavatar.png:[100]"
		[/frame]
		[frame]
			image="units/lighting/EMMR_Natureavatar-stand[1~3].png:[100*3]"
		[/frame]
	[/standing_anim]
	
	[abilities]
		{ABILITY_EMMR_SANCTUUM_HEAL}
		{ABILITY_EMMR_HIGH_REGENERATE}
	[/abilities]

	[attack]
		name=razorvines
		description=_"Razorvines"
		icon=attacks/EMMR_staff-magic.png
		type=blade
		range=melee	
		damage=12
		number=4
	[/attack]	
	
	[attack]
		name=natureswisp
		description=_"Natures Wisp"
		icon=attacks/EMMR_staff-magic.png
		[specials]
		{WEAPON_SPECIAL_SLOW}
		[/specials]
		type=arcane
		range=ranged	
		damage=6
		number=4
	[/attack]	
	
	[attack_anim]
		[filter_attack]
			name=razorvines
		[/filter_attack]	  
		start_time=-650
		[frame]
			image="units/lighting/EMMR_Natureavatar.png:50"
		[/frame]
		[frame]
			image="units/lighting/EMMR_Natureavatar-razor[1~6].png:[150*6]"
			sound=plant.wav
		[/frame]
		[frame]
			image="units/lighting/EMMR_Natureavatar.png:50"
		[/frame]
	[/attack_anim]	
	
	[attack_anim]
		[filter_attack]
			name=natureswisp
		[/filter_attack]	  
		start_time=-650
		[frame]
			image="units/lighting/EMMR_Natureavatar.png:50"
		[/frame]
		[frame]
			image="units/lighting/EMMR_Natureavatar-wisp[1~4].png:[150*4]"
			sound=wail.wav
		[/frame]
		[frame]
			image="units/lighting/EMMR_Natureavatar.png:50"
		[/frame]
	[/attack_anim]
		
[/unit_type]


