#textdomain wesnoth-gce
[unit_type]
    id=EMMR_Heavy_Assault
    name= _ "Heavy-Assault"
    race=human
    gender=male
    image="units/lighting/EMMR_Heavy-Assault.png"
    hitpoints=42
    movement_type=mounted
    movement=7
    experience=90
    level=3
    alignment=neutral
    advances_to=EMMR_Cowboy
    cost=40
    usage=scout
    description= _ "Heavy-Assault slow scout. To heavy to trample, to heavy to skrimish. Heavy fo crush skulls. Better resitances to physical damage"
    die_sound={SOUND_LIST:HUMAN_DIE}
{DEFENSE_ANIM "units/lighting/EMMR_Heavy-Assault-defend.png" "units/lighting/EMMR_Heavy-Assault.png" {SOUND_LIST:HORSE_HIT} }
	[resistance]
        blade=70
        impact=100
		pierce=80
    [/resistance]
	
    [attack]
        name=close_combat
        description=_"close combat"
        icon=attacks/EMMR_staff-magic.png
        type=blade
        range=melee
        damage=11
        number=3
    [/attack]
	
	[attack_anim]
        [filter_attack]
            name=close_combat
        [/filter_attack]
        start_time=-250
        [frame]
            image="units/lighting/EMMR_Heavy-Assault.png:50"
        [/frame]
        [frame]
            image="units/lighting/EMMR_Heavy-Assault-attack[1,2].png:[100,100]"
        [/frame]
        {SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -100}
        [frame]
            image="units/lighting/EMMR_Heavy-Assault.png:50"
        [/frame]
    [/attack_anim]
	
[/unit_type]


