#textdomain wesnoth-gce
[unit_type]
	id=EMMR_Ninjalegend
	name= _ "Ninjalegend"
	race=human
	gender=male
	image="units/lighting/EMMR_Ninjalegend.png"
	hitpoints=55
	movement_type=smallfoot
	movement=5
	experience=110
	level=4
	alignment=neutral
	advances_to=EMMR_Samurai
	cost=80
	usage=mixed fighter
	description= _ "Ninjalegend. Resists arcane. Invisible at night"
	die_sound={SOUND_LIST:HUMAN_DIE}
{DEFENSE_ANIM "units/lighting/EMMR_Ninjalegend-defend.png" "units/lighting/EMMR_Ninjalegend.png" {SOUND_LIST:HUMAN_HIT} }
	[resistance]
		fire=100
		cold=100
		arcane=70
		blade=100
		impact=100
	[/resistance]
	
	[abilities]
		{ABILITY_NIGHTSTALK}
	[/abilities]
	
	[standing_anim]
		start_time=0
		[frame]
			image="units/lighting/EMMR_Ninjalegend.png:[100]"
		[/frame]
		[frame]
			image="units/lighting/EMMR_Ninjalegend-stand[1~5].png:[100*5]"
		[/frame]
	[/standing_anim]

	[attack]
		name=shuriken
		description=_"Shuriken"
		icon=attacks/EMMR_staff-magic.png
		[specials]
			{WEAPON_SPECIAL_POISON}
		[/specials]
		type=blade
		range=ranged	
		damage=6
		number=3
	[/attack]

	[attack]
		name=shuriken_hit
		description=_"Shuriken hit"
		icon=attacks/EMMR_staff-magic.png
		type=blade
		range=melee	
		damage=12
		number=3
	[/attack]		
		
	[attack_anim]
		[filter_attack]
			name=shuriken
		[/filter_attack]	  
		start_time=-500
		[frame]
			image="units/lighting/EMMR_Ninjalegend.png:50"
		[/frame]
		[frame]
			image="units/lighting/EMMR_Ninjalegend-attack[1~8].png:[75*8]"
			sound=throwing-knife.ogg
		[/frame]
		[frame]
			image="units/lighting/EMMR_Ninjalegend.png:50"
		[/frame]
	[/attack_anim]

	[attack_anim]
		[filter_attack]
			name=shuriken_hit
		[/filter_attack]	  
		start_time=-350
		[frame]
			image="units/lighting/EMMR_Ninjalegend.png:50"
		[/frame]
		[frame]
			image="units/lighting/EMMR_Ninjalegend-attack[1,2].png:[150*2]"
			sound=knife.ogg
		[/frame]
		[frame]
			image="units/lighting/EMMR_Ninjalegend.png:50"
		[/frame]
	[/attack_anim]		
		
[/unit_type]


