#textdomain wesnoth-gce
[unit_type]
	id=EMMR_Beastgirl
	name= _ "Beastgirl"
	race=human
	gender=female
	image="units/lighting/EMMR_Beastgirl.png"
	hitpoints=94
	movement_type=smallfoot
	movement=5
	experience=150
	level=6
	alignment=neutral
	advances_to=null
	{AMLA_DEFAULT}
	cost=160
	usage=mixed fighter
	description= _ "Beastgirl. Resists blade. Ambushes. Grrrr..."
	die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
{DEFENSE_ANIM "units/lighting/EMMR_Beastgirl-defend.png" "units/lighting/EMMR_Beastgirl.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
	[resistance]
		blade=40
	[/resistance]
	
	[abilities]
		{ABILITY_AMBUSH}
	[/abilities]
	
	[standing_anim]
		start_time=0
		[frame]
			image="units/lighting/EMMR_Beastgirl-stand[1~5].png:[100*5]"
		[/frame]
	[/standing_anim]

	[attack]
		name=animal_eye
		description=_"Animal Eye"
		icon=attacks/EMMR_staff-magic.png
		[specials]
			{WEAPON_SPECIAL_POISON}
		[/specials]
		type=arcane
		range=ranged	
		damage=6
		number=4
	[/attack]	
	
	[attack]
		name=animal_frenzy
		description=_"Animal frenzy"
		icon=attacks/EMMR_staff-magic.png
		[specials]
		{WEAPON_SPECIAL_EMMR_LESSER_BERSERK}
		[/specials]
		type=pierce
		range=melee	
		damage=10
		number=5
	[/attack]	
	
	[attack_anim]
		[filter_attack]
			name=animal_eye
		[/filter_attack]	  
		start_time=-450
		[frame]
			image="units/lighting/EMMR_Beastgirl.png:50"
		[/frame]
		[frame]
			image="units/lighting/EMMR_Beastgirl-eye[1~5].png:[100*5]"
			sound=lion.wav
		[/frame]
		[frame]
			image="units/lighting/EMMR_Beastgirl.png:50"
		[/frame]
	[/attack_anim] 

	[attack_anim]
		[filter_attack]
			name=animal_frenzy
		[/filter_attack]	  
		start_time=-300
		[frame]
			image="units/lighting/EMMR_Beastgirl.png:50"
		[/frame]
		[frame]
			image="units/lighting/EMMR_Beastgirl-attack[1~3].png:[100*3]"
			sound=claws.ogg
		[/frame]
		[frame]
			image="units/lighting/EMMR_Beastgirl.png:50"
		[/frame]
	[/attack_anim]  	
		
[/unit_type]


