#textdomain wesnoth-gce
[unit_type]
    id=EMMR_Firemage
    name= _ "Firemage"
    race=human
    gender=male
    image="units/lighting/EMMR_Firemage.png"
    hitpoints=55
    movement_type=smallfoot
    movement=5
    experience=110
    level=4
    alignment=neutral
    advances_to=EMMR_Blazemage
    cost=80
    usage=mixed fighter
    description= _ "Firemage. Resists to fire. Weak to cold and imact."
    die_sound={SOUND_LIST:HUMAN_DIE}
{DEFENSE_ANIM "units/lighting/EMMR_Firemage-defend.png" "units/lighting/EMMR_Firemage.png" {SOUND_LIST:HUMAN_OLD_HIT} }
	[resistance]
		fire=70
		cold=130
		arcane=100
		pierce=100
		blade=100
		impact=130
    [/resistance]
	
	[standing_anim]
        start_time=0
        [frame]
            image="units/lighting/EMMR_Firemage.png:[150]"
        [/frame]
		[frame]
            image="units/lighting/EMMR_Firemage-stand[1,2,1].png:[150*3]"
        [/frame]
    [/standing_anim]
	
    [attack]
        name=fireball
        description=_"Fireball"
		icon=attacks/EMMR_staff-magic.png
		[specials]
		{WEAPON_SPECIAL_MAGICAL}
		[/specials]
        type=fire
        range=ranged	
        damage=10
        number=4
    [/attack]	
	
	[attack]
        name=burn
        description=_"Burn"
		icon=attacks/EMMR_staff-magic.png
        type=fire
        range=melee	
        damage=6
        number=3
    [/attack]

	[attack_anim]
        [filter_attack]
            name=fireball
        [/filter_attack]      
        start_time=-800
        [frame]
            image="units/lighting/EMMR_Firemage.png:50"
        [/frame]
        [frame]
            image="units/lighting/EMMR_Firemage-ulti[1~13].png:[75*13]"
            sound=fire.wav
        [/frame]
        [frame]
            image="units/lighting/EMMR_Firemage.png:50"
        [/frame]
    [/attack_anim]	
	
	[attack_anim]
        [filter_attack]
            name=burn
        [/filter_attack]      
        start_time=-450
        [frame]
            image="units/lighting/EMMR_Firemage.png:50"
        [/frame]
        [frame]
            image="units/lighting/EMMR_Firemage-burn[1~7].png:[100*7]"
            sound=fire.wav
        [/frame]
        [frame]
            image="units/lighting/EMMR_Firemage.png:50"
        [/frame]
    [/attack_anim]
{EMMR_SEDUCE}   
		
[/unit_type]


