#textdomain wesnoth-gce
[unit_type]
    id=EMMR_Swordfighter
    name= _ "Swordfighter"
    race=human
    gender=male
    image="units/lighting/Swordfighter.png"
    hitpoints=24
    movement_type=smallfoot
    movement=5
    experience=50
    level=1
    alignment=neutral
    advances_to=EMMR_Assa
    cost=10
    usage=fighter
    description= _ "fighter. A fighter with a sword"
    die_sound={SOUND_LIST:HUMAN_DIE}
{DEFENSE_ANIM "units/lighting/Swordfighter-defend.png" "units/lighting/Swordfighter.png" {SOUND_LIST:HUMAN_OLD_HIT} }

    [attack]
        name=slash
        description=_"slash"
        icon=attacks/EMMR_staff-magic.png
        type=blade
        range=melee
        damage=6
        number=2
    [/attack]


    [attack_anim]
        [filter_attack]
            name=slash
        [/filter_attack]
        start_time=-250
        [frame]
            image="units/lighting/Swordfighter.png:50"
        [/frame]
        [frame]
            image="units/lighting/Swordfighter-attack[1,2,1].png:[100,300,200]"
        [/frame]
        {SOUND:HIT_AND_MISS sword.ogg miss-1.ogg -125}
        [frame]
            image="units/lighting/Swordfighter.png:50"
        [/frame]
    [/attack_anim]
[/unit_type]

