#textdomain wesnoth-gce
[unit_type]
	id=EMMR_Elementaldryad
	name= _ "Elementaldryad"
	race=human
	gender=female
	image="units/lighting/EMMR_Elementaldryad.png"
	hitpoints=72
	movement_type=fly
	movement=5
	experience=130
	level=5
	alignment=neutral
	advances_to=EMMR_Natureavatar
	cost=120
	usage=healer
	description= _ "Elementaldryad. Resists arcane and impact.
					Heals nearby units up to +10hp or cures poison. Regenerates by 6hp each turn.
					Whhhaaat you really thought all dryads are green? *giggle* "
	die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
{DEFENSE_ANIM "units/lighting/EMMR_Elementaldryad-defend.png" "units/lighting/EMMR_Elementaldryad.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
	[resistance]
		fire=100
		cold=100
		arcane=70
		blade=100
		impact=70
		pierce=100
	[/resistance]
	
	[standing_anim]
		start_time=0
		[frame]
			image="units/lighting/EMMR_Elementaldryad-stand[1~11].png:[100*11]"
		[/frame]
	[/standing_anim]
	
	[abilities]
		{ABILITY_EMMR_MIRACLE_HEAL}
		{ABILITY_EMMR_REGENERATE}
	[/abilities]

	[attack]
		name=stormsword
		description=_"Stormsword"
		icon=attacks/EMMR_staff-magic.png
		type=blade
		range=melee	
		damage=10
		number=4
	[/attack]	
	
	[attack]
		name=lightning
		description=_"Lightning"
		icon=attacks/EMMR_staff-magic.png
		[specials]
		{WEAPON_SPECIAL_SLOW}
		[/specials]
		type=arcane
		range=ranged	
		damage=7
		number=3
	[/attack]	
	
	[attack_anim]
		[filter_attack]
			name=stormsword
		[/filter_attack]	  
		start_time=-400
		[frame]
			image="units/lighting/EMMR_Elementaldryad.png:50"
		[/frame]
		[frame]
			image="units/lighting/EMMR_Elementaldryad-lightningslash[1~3].png:[150,150,150]"
			sound=sword-1.ogg
		[/frame]
		[frame]
			image="units/lighting/EMMR_Elementaldryad.png:50"
		[/frame]
	[/attack_anim]	
	
	[attack_anim]
		[filter_attack]
			name=lightning
		[/filter_attack]	  
		start_time=-650
		[frame]
			image="units/lighting/EMMR_Elementaldryad.png:50"
		[/frame]
		[frame]
			image="units/lighting/EMMR_Elementaldryad-lightning[1~3].png:[150,150,150]"
			sound=zap.wav
		[/frame]
		[frame]
			image="units/lighting/EMMR_Elementaldryad.png:50"
		[/frame]
	[/attack_anim]
		
[/unit_type]


