#textdomain wesnoth-gce
[unit_type]
    id=EMMR_Healer
    name= _ "Healer"
    race=human
    gender=male
    image="units/lighting/Healer.png"
    hitpoints=32
    movement_type=smallfoot
    movement=5
    experience=70
    level=2
    alignment=neutral
    advances_to=EMMR_Greathealer
    cost=20
    usage=healer
    description= _ "Healer. Resists arcane, fire and cold "
    die_sound={SOUND_LIST:HUMAN_DIE}
{DEFENSE_ANIM "units/lighting/Healer-defend.png" "units/lighting/Healer.png" {SOUND_LIST:HUMAN_HIT} }
	[resistance]
        arcane=80
		fire=90
		cold=90
    [/resistance]
	
	[abilities]
		{ABILITY_EMMR_HEAL}
	[/abilities]


    [attack]
        name=slash
        description=_"slash"
        icon=attacks/EMMR_staff-magic.png
        type=blade
        range=melee
        damage=5
        number=4
    [/attack]
	
    [attack]
        name=holy_chant
        description=_"holy chant"
        icon=attacks/EMMR_staff-magic.png
        type=arcane
        range=ranged
        damage=2
        number=4
    [/attack]
	
    [attack_anim]
        [filter_attack]
            name=slash
        [/filter_attack]
        start_time=-250
        [frame]
            image="units/lighting/Healer.png:50"
        [/frame]
        [frame]
            image="units/lighting/Healer-attack[1,2,1].png:[100,300,100]"
        [/frame]
        {SOUND:HIT_AND_MISS sword.ogg {SOUND_LIST:MISS} -100}
        [frame]
            image="units/lighting/Healer.png:50"
        [/frame]
    [/attack_anim]
	
	[attack_anim]
        [filter_attack]
            name=holy_chant
        [/filter_attack]
        start_time=-800
        [frame]
            image="units/lighting/Healer.png:50"
        [/frame]
        [frame]
            image="units/lighting/Healer-magic-attack[1,2,1].png:[200,400,100]"
        [/frame]
        {SOUND:HIT_AND_MISS magic-holy-1.ogg {SOUND_LIST:MISS} -150}
        [frame]
            image="units/lighting/Healer.png:50"
        [/frame]
    [/attack_anim]
		
[/unit_type]


