#textdomain wesnoth-gce
[unit_type]
	id=EMMR_Archer
	name= _ "Archer"
	race=human
	gender=male
	image="units/lighting/Archer.png"
	hitpoints=24
	movement_type=smallfoot
	movement=5
	experience=50
	level=1
	alignment=neutral
	advances_to=EMMR_Crossbow
	cost=10
	usage=archer
	description= _ "archer."
	die_sound={SOUND_LIST:HUMAN_DIE}
{DEFENSE_ANIM "units/lighting/Archer-defend.png" "units/lighting/Archer.png" {SOUND_LIST:HUMAN_OLD_HIT} }

	[attack]
		name=arrow_volley
		description=_"arrow volley"
		icon=attacks/EMMR_staff-magic.png
		type=pierce
		range=ranged
		damage=2
		number=6
	[/attack]


	[attack_anim]
		[filter_attack]
			name=slash
		[/filter_attack]
		start_time=-250
		[frame]
			image="units/lighting/Archer.png:50"
		[/frame]
		[frame]
			image="units/lighting/Archer-attack1.png:[100]"
		[/frame]
		{SOUND:HIT_AND_MISS bow.ogg bow-miss.ogg -125}
		[frame]
			image="units/lighting/Archer.png:50"
		[/frame]
	[/attack_anim]
[/unit_type]

