#textdomain wesnoth-gce
[unit_type]
	id=EMMR_Heavyclub
	name= _ "Heavyclub"
	race=human
	gender=male
	image="units/lighting/Heavyclub.png"
	hitpoints=32
	movement_type=armoredfoot
	movement=5
	experience=70
	level=2
	alignment=neutral
	advances_to=EMMR_Steelclub
	cost=20
	usage=fighter
	description= _ "fighter. A fighter with a Heavyclub. Has some resistances to pierce blade and impact"
	die_sound={SOUND_LIST:HUMAN_DIE}
{DEFENSE_ANIM "units/lighting/Heavyclub-defend.png" "units/lighting/Heavyclub.png" {SOUND_LIST:HUMAN_OLD_HIT} }

	[attack]
		name=slam
		description=_"Slam"
		icon=attacks/EMMR_staff-magic.png
		type=impact
		range=melee
		damage=11
		number=2
	[/attack]


	[attack_anim]
		[filter_attack]
			name=slam
		[/filter_attack]
		start_time=-250
		[frame]
			image="units/lighting/Heavyclub.png:50"
		[/frame]
		[frame]
			image="units/lighting/Heavyclub-attack[1,2].png:[100,300]"
		[/frame]
		{SOUND:HIT_AND_MISS club.ogg club-miss.ogg -125}
		[frame]
			image="units/lighting/Heavyclub.png:50"
		[/frame]
	[/attack_anim]
[/unit_type]

