#textdomain wesnoth-gce
[unit_type]
    id=EMMR_Samurai
    name= _ "Samurai"
    race=human
    gender=male
    image="units/lighting/EMMR_Samurai.png"
    hitpoints=72
    movement_type=smallfoot
    movement=5
    experience=130
    level=5
    alignment=neutral
    advances_to=EMMR_Samurailegend
    cost=120
    usage=mixed fighter
    description= _ "Samurai. Resists arcane.Invisible at night"
    die_sound={SOUND_LIST:HUMAN_DIE}
{DEFENSE_ANIM "units/lighting/EMMR_Samurai-defend.png" "units/lighting/EMMR_Samurai.png" {SOUND_LIST:HUMAN_HIT} }
	[resistance]
		fire=100
		cold=100
		arcane=70
		blade=100
		impact=100
    [/resistance]
	
	[abilities]
		{ABILITY_NIGHTSTALK}
	[/abilities]
	
	[standing_anim]
        start_time=0
		[frame]
            image="units/lighting/EMMR_Samurai.png:[100]"
        [/frame]
        [frame]
            image="units/lighting/EMMR_Samurai-stand[1~4,3~1].png:[100*7]"
        [/frame]
    [/standing_anim]

    [attack]
        name=knife
        description=_"Knife"
		icon=attacks/EMMR_staff-magic.png
		[specials]
			{WEAPON_SPECIAL_POISON}
		[/specials]
        type=blade
        range=ranged	
        damage=7
        number=3
    [/attack]

    [attack]
        name=katana
        description=_"Katana"
		icon=attacks/EMMR_staff-magic.png
        type=blade
        range=melee	
        damage=9
        number=5
    [/attack]		
		
	[attack_anim]
        [filter_attack]
            name=knife
        [/filter_attack]      
        start_time=-275
        [frame]
            image="units/lighting/EMMR_Samurai.png:50"
        [/frame]
        [frame]
            image="units/lighting/EMMR_Samurai-knife[1~5].png:[75*5]"
            sound=throwing-knife.ogg
        [/frame]
        [frame]
            image="units/lighting/EMMR_Samurai.png:50"
        [/frame]
    [/attack_anim]

	[attack_anim]
        [filter_attack]
            name=katana
        [/filter_attack]      
        start_time=-300
        [frame]
            image="units/lighting/EMMR_Samurai.png:50"
        [/frame]
        [frame]
            image="units/lighting/EMMR_Samurai-attack[1,2].png:[150*2]"
            sound=sword-1.ogg
        [/frame]
        [frame]
            image="units/lighting/EMMR_Samurai.png:50"
        [/frame]
    [/attack_anim]		
		
[/unit_type]


