#textdomain wesnoth-gce
[unit_type]
	id=EMMR_Eagleeye
	name= _ "Eagleeye"
	race=human
	gender=male
	image="units/lighting/EMMR_Eagleeye.png"
	hitpoints=42
	movement_type=smallfoot
	movement=5
	experience=90
	level=3
	alignment=neutral
	advances_to=EMMR_Sharpshooter
	cost=40
	usage=archer
	description= _ "Eagleeye. heavy shot damage"
	die_sound={SOUND_LIST:HUMAN_DIE}
{DEFENSE_ANIM "units/lighting/EMMR_Eagleeye-defend.png" "units/lighting/EMMR_Eagleeye.png" {SOUND_LIST:HUMAN_OLD_HIT} }


	[attack]
		name=arrow_bold
		description=_"arrow bold"
		icon=attacks/EMMR_staff-magic.png
		[specials]
		{WEAPON_SPECIAL_MARKSMAN}
		[/specials]
		type=pierce
		range=ranged
		damage=11
		number=3
	[/attack]


	[attack_anim]
		[filter_attack]
			name=arrow_bold
		[/filter_attack]
		start_time=-250
		missile_start_time=-150
		[missile_frame]
			duration=150
			image="projectiles/missile-n.png"
			image_diagonal="projectiles/missile-ne.png"
		[/missile_frame]

		[frame]
			image="units/lighting/EMMR_Eagleeye.png:50"
		[/frame]
		[frame]
			image="units/lighting/EMMR_Eagleeye.png:[100]"
		[/frame]
		{SOUND:HIT_AND_MISS bow.ogg bow-miss -125}
		[frame]
			image="units/lighting/EMMR_Eagleeye.png:50"
		[/frame]
	[/attack_anim]
[/unit_type]

