#textdomain wesnoth-gce
[unit_type]
	id=EMMR_Doctor
	name= _ "Doctor"
	race=human
	gender=male
	image="units/lighting/doctor.png"
	hitpoints=22
	movement_type=smallfoot
	movement=5
	experience=50
	level=1
	alignment=neutral
	advances_to=EMMR_Healer
	cost=10
	usage=healer
	description= _ "doctor.Can heal your units slightly and cure poison"
	die_sound={SOUND_LIST:HUMAN_DIE}
{DEFENSE_ANIM "units/lighting/doctor-defend.png" "units/lighting/doctor.png" {SOUND_LIST:HUMAN_OLD_HIT} }
	[abilities]
		{ABILITY_EMMR_DOCTOR}
	[/abilities]
	[attack]
		name=punch
		description=_"punch"
		icon=attacks/EMMR_staff-magic.png
		type=impact
		range=melee
		damage=5
		number=2
	[/attack]
	[attack]
		name=provoke
		description=_"provoke"
		icon=attacks/EMMR_magic-missile.png
		type=arcane
		range=ranged
		damage=2
		number=2
	[/attack]
[attack_anim]
		[filter_attack]
			name=provoke
		[/filter_attack]

		offset=0
		start_time=-800
		[frame]
			image="units/lighting/doctor-attack-magic.png:[100]"
		[/frame]
		# wmlscope: start ignoring
		{SOUND:HIT_AND_MISS magic-missile-[1~3].ogg magic-missile-[1~3]-miss.ogg -350}
		# wmlscope: stop ignoring
		[frame]
			image="units/lighting/doctor-attack-magic.png:[100]"
		[/frame]
	[/attack_anim]

	[attack_anim]
		[filter_attack]
			name=punch
		[/filter_attack]
		start_time=-250
		[frame]
			image="units/lighting/doctor.png:50"
		[/frame]
		[frame]
			image="units/lighting/doctor-attack-[1,2].png:[100,100]"
		[/frame]
		{SOUND:HIT_AND_MISS staff.ogg staff-miss.ogg -125}
		[frame]
			image="units/lighting/doctor-attack-1.png:50"
		[/frame]
		[frame]
			image="units/lighting/doctor.png:50"
		[/frame]
	[/attack_anim]
[/unit_type]

