#textdomain wesnoth-gce
[unit_type]
	id=EMMR_Empress
	name= _ "Empress"
	race=human
	gender=female
	image="units/lighting/EMMR_Empress.png"
	hitpoints=94
	movement_type=smallfoot
	movement=5
	experience=150
	level=6
	alignment=neutral
	advances_to=EMMR_Conqueress
	cost=160
	usage=mixed fighter
	description= _ "Empress. Resists arcane and cold. Gives all your nearby units 25% more damage for each lvl of the attacking unit.
	I am the Empress. Bow to me or die!"
	die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
{DEFENSE_ANIM "units/lighting/EMMR_Empress-defend.png" "units/lighting/EMMR_Empress.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
	[resistance]
		fire=100
		cold=50
		arcane=60
	[/resistance]
	
	[abilities]
		{ABILITY_EMMR_EMPRESS_LEADERSHIP}
	[/abilities]
	
	[standing_anim]
		start_time=0
		[frame]
			image="units/lighting/EMMR_Empress-stand[1~17].png:[75*17]"
		[/frame]
	[/standing_anim]

	[attack]
		name=icesword
		description=_"Icesword"
		icon=attacks/EMMR_staff-magic.png
		type=cold
		range=melee	
		damage=6
		number=4
	[/attack]

	[attack]
		name=swordrain
		description=_"Icewordrain"
		icon=attacks/EMMR_staff-magic.png
		type=cold
		range=ranged	
		damage=11
		number=5
	[/attack]	
	
	[attack_anim]
		[filter_attack]
			name=icesword
		[/filter_attack]	  
		start_time=-550
		[frame]
			image="units/lighting/EMMR_Empress.png:50"
		[/frame]
		[frame]
			image="units/lighting/EMMR_Empress-icesword[1~5].png:[100*5]"
			sound=ice.wav
		[/frame]
		[frame]
			image="units/lighting/EMMR_Empress.png:50"
		[/frame]
	[/attack_anim]
	
	[attack_anim]
		[filter_attack]
			name=swordrain
		[/filter_attack]	  
		start_time=-350
		[frame]
			image="units/lighting/EMMR_Empress.png:50"
		[/frame]
		[frame]
			image="units/lighting/EMMR_Empress-icefall[1~6].png:[100*6]"
			sound=ice.wav
		[/frame]
		[frame]
			image="units/lighting/EMMR_Empress.png:50"
		[/frame]
	[/attack_anim]
		
[/unit_type]


