#textdomain wesnoth-gce
[unit_type]
    id=EMMR_Steelclub
    name= _ "Steelclub"
    race=human
    gender=male
    image="units/lighting/EMMR_Steelclub.png"
    hitpoints=42
    movement_type=armoredfoot
    movement=5
    experience=90
    level=3
    alignment=neutral
    advances_to=EMMR_Ridingclub,EMMR_Macer
    cost=40
    usage=fighter
    description= _ "fighter. A fighter with a Steelclub."
    die_sound={SOUND_LIST:HUMAN_DIE}
{DEFENSE_ANIM "units/lighting/EMMR_Steelclub-defend.png" "units/lighting/EMMR_Steelclub.png" {SOUND_LIST:HUMAN_HIT} }

    [attack]
        name=slam
        description=_"Slam"
        icon=attacks/EMMR_staff-magic.png
        type=impact
        range=melee
        damage=11
        number=3
    [/attack]


    [attack_anim]
        [filter_attack]
            name=slam
        [/filter_attack]
        start_time=-250
        [frame]
            image="units/lighting/EMMR_Steelclub.png:50"
        [/frame]
        [frame]
            image="units/lighting/EMMR_Steelclub-attack[1,2].png:[100,300]"
        [/frame]
        {SOUND:HIT_AND_MISS club.ogg club-miss.ogg -125}
        [frame]
            image="units/lighting/EMMR_Steelclub.png:50"
        [/frame]
    [/attack_anim]
[/unit_type]

