#textdomain wesnoth-gce
[unit_type]
    id=EMMR_Ridingclub
    name= _ "Ridingclub"
    race=human
    gender=male
    image="units/lighting/EMMR_Ridingclub.png"
    hitpoints=55
    movement_type=mounted
    movement=5
    experience=110
    level=4
    alignment=neutral
    advances_to=EMMR_Ridingmacer
    cost=80
    usage=fighter
    description= _ "Ridingclub."
    die_sound={SOUND_LIST:HUMAN_DIE}
{DEFENSE_ANIM "units/lighting/EMMR_Ridingclub-defend.png" "units/lighting/EMMR_Ridingclub.png" {SOUND_LIST:HORSE_HIT} }
	[resistance]
        blade=100
        impact=120
        cold=90
		pierce=100
    [/resistance]
	
	[standing_anim]
        start_time=0
        [frame]
            image="units/lighting/EMMR_Ridingclub-stand[1~2].png:[150*2]"
        [/frame]
    [/standing_anim]
	
    [attack]
        name=trample
        description=_"trample"
        icon=attacks/EMMR_staff-magic.png
        type=impact
		[specials]
			{WEAPON_SPECIAL_EMMR_DISTANT_ATTACK}
		[/specials]
        range=melee
        damage=5
        number=3
    [/attack]
	
    [attack]
        name=club
        description=_"club"
        icon=attacks/EMMR_staff-magic.png
        type=impact
        range=melee
        damage=11
        number=4
    [/attack]

    [attack_anim]
        [filter_attack]
            name=trample
        [/filter_attack]
        start_time=-150
        [frame]
            image="units/lighting/EMMR_Ridingclub.png:50"
        [/frame]
        [frame]
            image="units/lighting/EMMR_Ridingclub.png:[100]"
        [/frame]
        {SOUND:HIT_AND_MISS horse-canter.wav {SOUND_LIST:MISS} -100}
        [frame]
            image="units/lighting/EMMR_Ridingclub.png:50"
        [/frame]
    [/attack_anim]
	
	[attack_anim]
        [filter_attack]
            name=club
        [/filter_attack]
        start_time=-250
        [frame]
            image="units/lighting/EMMR_Ridingclub.png:50"
        [/frame]
        [frame]
            image="units/lighting/EMMR_Ridingclub-attack[1,2].png:[100*2]"
        [/frame]
        {SOUND:HIT_AND_MISS club.ogg {SOUND_LIST:MISS} -100}
        [frame]
            image="units/lighting/EMMR_Ridingclub.png:50"
        [/frame]
    [/attack_anim]

	
	
[/unit_type]


