#textdomain wesnoth-gce
[unit_type]
	id=EMMR_Reaper
	name= _ "Reaper"
	race=human
	gender=male
	image="units/lighting/EMMR_Reaper.png"
	hitpoints=72
	movement_type=smallfoot
	movement=5
	experience=130
	level=5
	alignment=neutral
	advances_to=EMMR_Soulreaper
	cost=120
	usage=fighter
	description= _ "Reaper."
	die_sound={SOUND_LIST:HUMAN_DIE}
{DEFENSE_ANIM "units/lighting/EMMR_Reaper-defend.png" "units/lighting/EMMR_Reaper.png" {SOUND_LIST:HUMAN_OLD_HIT} }
	[resistance]
		blade=70
		impact=120
		cold=90
		pierce=100
	[/resistance]
	
	[standing_anim]
		start_time=0
		[frame]
			image="units/lighting/EMMR_Reaper-stand[1~6].png:[150*6]"
		[/frame]
	[/standing_anim]
	
	[attack]
		name=arrowrain
		description=_"Arrowrain"
		icon=attacks/EMMR_staff-magic.png
		type=pierce
		[specials]
			{WEAPON_SPECIAL_EMMR_DISTANT_ATTACK}
		[/specials]
		range=ranged
		damage=7
		number=3
	[/attack]	
	
	[attack]
		name=slice
		description=_"Slice"
		icon=attacks/EMMR_staff-magic.png
		type=blade
		range=melee
		damage=10
		number=5
	[/attack]

	[attack_anim]
		[filter_attack]
			name=arrowrain
		[/filter_attack]
		start_time=-350
		[frame]
			image="units/lighting/EMMR_Reaper.png:50"
		[/frame]
		[frame]
			image="units/lighting/EMMR_Reaper-arrow[1~9].png:[100*9]"
		[/frame]
		{SOUND:HIT_AND_MISS bow.ogg bow-miss.ogg -100}
		[frame]
			image="units/lighting/EMMR_Reaper.png:50"
		[/frame]
	[/attack_anim]
	
	[attack_anim]
		[filter_attack]
			name=slice
		[/filter_attack]
		start_time=-150
		[frame]
			image="units/lighting/EMMR_Reaper.png:50"
		[/frame]
		[frame]
			image="units/lighting/EMMR_Reaper-attack.png:[100]"
		[/frame]
		{SOUND:HIT_AND_MISS sword-1.ogg {SOUND_LIST:MISS} -100}
		[frame]
			image="units/lighting/EMMR_Reaper.png:50"
		[/frame]
	[/attack_anim]
		
[/unit_type]


