#textdomain wesnoth-gce
[unit_type]
	id=EMMR_Macer
	name= _ "Macer"
	race=human
	gender=male
	image="units/lighting/EMMR_Macer.png"
	hitpoints=55
	movement_type=armoredfoot
	movement=5
	experience=110
	level=4
	alignment=neutral
	advances_to=EMMR_Murderer
	cost=80
	usage=fighter
	description= _ "Macer. A fighter with a Macer. Has some resistances to pierce"
	die_sound={SOUND_LIST:HUMAN_DIE}
{DEFENSE_ANIM "units/lighting/EMMR_Macer-defend.png" "units/lighting/EMMR_Macer.png" {SOUND_LIST:HUMAN_HIT} }

	[attack]
		name=slam
		description=_"Slam"
		icon=attacks/EMMR_staff-magic.png
		type=impact
		range=melee
		damage=9
		number=5
	[/attack]


	[attack_anim]
		[filter_attack]
			name=slam
		[/filter_attack]
		start_time=-250
		[frame]
			image="units/lighting/EMMR_Macer.png:50"
		[/frame]
		[frame]
			image="units/lighting/EMMR_Macer-attack[1,2].png:[100,100]"
		[/frame]
		{SOUND:HIT_AND_MISS club.ogg club-miss.ogg -125}
		[frame]
			image="units/lighting/EMMR_Macer.png:50"
		[/frame]
	[/attack_anim]
[/unit_type]

