#textdomain wesnoth-gce
[unit_type]
    id=EMMR_Clubman
    name= _ "Clubman"
    race=human
    gender=male
    image="units/lighting/Clubman.png"
    hitpoints=24
    movement_type=smallfoot
    movement=5
    experience=50
    level=1
    alignment=neutral
    advances_to=EMMR_Heavyclub
    cost=10
    usage=fighter
    description= _ "fighter. A fighter with a club"
    die_sound={SOUND_LIST:HUMAN_DIE}
{DEFENSE_ANIM "units/lighting/Clubman-defend.png" "units/lighting/Clubman.png" {SOUND_LIST:HUMAN_OLD_HIT} }

    [attack]
        name=club
        description=_"club"
        icon=attacks/EMMR_staff-magic.png
        type=impact
        range=melee
        damage=6
        number=2
    [/attack]


    [attack_anim]
        [filter_attack]
            name=club
        [/filter_attack]
        start_time=-250
        [frame]
            image="units/lighting/Clubman.png:50"
        [/frame]
        [frame]
            image="units/lighting/Clubman-attack[1~3].png:[100,300,200]"
        [/frame]
        {SOUND:HIT_AND_MISS club.ogg club-miss.ogg -125}
        [frame]
            image="units/lighting/Clubman.png:50"
        [/frame]
    [/attack_anim]
[/unit_type]

