#textdomain wesnoth-gce
[unit_type]
    id=EMMR_Lancer
    name= _ "Lancer"
    race=human
    gender=male
    image="units/lighting/EMMR_Lancer.png"
    hitpoints=32
    movement_type=smallfoot
    movement=5
    experience=70
    level=2
    alignment=neutral
    advances_to=EMMR_Heavylancer
    cost=20
    usage=fighter
    description= _ "Lancer."
    die_sound={SOUND_LIST:HUMAN_DIE}
{DEFENSE_ANIM "units/lighting/EMMR_Lancer-defend.png" "units/lighting/EMMR_Lancer.png" {SOUND_LIST:HUMAN_HIT} }
	[resistance]
        blade=80
        impact=120
        cold=90
    [/resistance]
	
	[attack]
        name=spear
        description=_"spear"
        icon=attacks/EMMR_staff-magic.png
        type=pierce
		[specials]
			{WEAPON_SPECIAL_EMMR_DISTANT_ATTACK}
		[/specials]
        range=melee
        damage=5
        number=2
    [/attack]
	
    [attack]
        name=impale
        description=_"impale"
        icon=attacks/EMMR_staff-magic.png
        type=pierce
        range=melee
        damage=10
        number=2
    [/attack]
	
	[attack_anim]
        [filter_attack]
            name=impale,spear
        [/filter_attack]
        start_time=-250
        [frame]
            image="units/lighting/EMMR_Lancer.png:50"
        [/frame]
        [frame]
            image="units/lighting/EMMR_Lancer-spear-attack[1,2,1].png:[100*3]"
        [/frame]
        {SOUND:HIT_AND_MISS spear.ogg {SOUND_LIST:MISS} -100}
        [frame]
            image="units/lighting/EMMR_Lancer.png:50"
        [/frame]
    [/attack_anim]

	
	
[/unit_type]


