#textdomain wesnoth-gce
[unit_type]
    id=EMMR_Archincubus
    name= _ "Archincubus"
    race=human
    gender=male
    image="units/lighting/EMMR_Archincubus.png"
    hitpoints=42
    movement_type=fly
    movement=5
    experience=90
    level=3
    alignment=neutral
    advances_to=EMMR_Supremeincubus
    cost=40
    usage=mixed fighter
    description= _ "Archincubus. Resists cold."
    die_sound={SOUND_LIST:HUMAN_DIE}
{DEFENSE_ANIM "units/lighting/EMMR_Archincubus-defend.png" "units/lighting/EMMR_Archincubus.png" {SOUND_LIST:HUMAN_HIT} }
	[resistance]
		fire=100
		cold=80
		arcane=100

    [/resistance]
	
	[abilities]
		{ABILITY_CONCEALMENT}
	[/abilities]

    [attack]
        name=thunder_storm
        description=_"Thunder storm"
		icon=attacks/EMMR_staff-magic.png
        type=arcane
        range=ranged	
        damage=7
        number=4
    [/attack]	
	

	[attack_anim]
        [filter_attack]
            name=thunder_storm
        [/filter_attack]      
        start_time=-500
        [frame]
            image="units/lighting/EMMR_Archincubus.png:50"
        [/frame]
        [frame]
            image="units/lighting/EMMR_Archincubus-attack.png:[400]"
            sound=zap.wav
        [/frame]
        [frame]
            image="units/lighting/EMMR_Archincubus.png:50"
        [/frame]
    [/attack_anim]	
	
		
[/unit_type]


