#textdomain wesnoth-gce
[unit_type]
	id=EMMR_Miracleweaver
	name= _ "Miracleweaver"
	race=human
	gender=male
	image="units/lighting/EMMR_Miracleweaver.png"
	hitpoints=72
	movement_type=smallfoot
	movement=5
	experience=130
	level=5
	alignment=neutral
	advances_to=EMMR_Sanctuumholder
	cost=120
	usage=healer
	description= _ "Miracleweaver. Resists fire, cold and arcane. Heals your units up to 10hp or cures poison"
	die_sound={SOUND_LIST:HUMAN_DIE}
{DEFENSE_ANIM "units/lighting/EMMR_Miracleweaver-defend.png" "units/lighting/EMMR_Miracleweaver.png" {SOUND_LIST:HUMAN_OLD_HIT} }
	[resistance]
		fire=80
		cold=80
		arcane=50
	[/resistance]
	
	[abilities]
		{ABILITY_EMMR_MIRACLE_HEAL}
	[/abilities]
	
	[standing_anim]
		start_time=0
		[frame]
			image="units/lighting/EMMR_Miracleweaver-stand[1~11,10~1].png:[100*21]"
		[/frame]
	[/standing_anim]

	[attack]
		name=lightray
		description=_"Lightray"
		icon=attacks/EMMR_staff-magic.png
		type=arcane
		range=ranged	
		damage=15
		number=3
	[/attack]	
	
	[attack]
		name=soulray
		description=_"Soulray"
		icon=attacks/EMMR_staff-magic.png
		type=arcane
		range=melee	
		damage=6
		number=3
	[/attack]

	[attack_anim]
		[filter_attack]
			name=soulray
		[/filter_attack]	  
		start_time=-500
		[frame]
			image="units/lighting/EMMR_Miracleweaver.png:50"
		[/frame]
		[frame]
			image="units/lighting/EMMR_Miracleweaver-attack[1~3].png:[150*3]"
			sound=magic-holy-2.ogg
		[/frame]
		[frame]
			image="units/lighting/EMMR_Miracleweaver.png:50"
		[/frame]
	[/attack_anim]	
	
	[attack_anim]
		[filter_attack]
			name=lightray
		[/filter_attack]	  
		start_time=-550
		[frame]
			image="units/lighting/EMMR_Miracleweaver.png:50"
		[/frame]
		[frame]
			image="units/lighting/EMMR_Miracleweaver-ray[1~5].png:[100*5]"
			sound=magic-holy-2.ogg
		[/frame]
		[frame]
			image="units/lighting/EMMR_Miracleweaver.png:50"
		[/frame]
	[/attack_anim]   
		
[/unit_type]


