#textdomain wesnoth-gce
[unit_type]
    id=EMMR_Princess
    name= _ "Princess"
    race=human
    gender=female
    image="units/lighting/EMMR_Princess.png"
    hitpoints=32
    movement_type=smallfoot
    movement=5
    experience=70
    level=2
    alignment=neutral
    advances_to=EMMR_Heir,EMMR_Animaltrainer
    cost=20
    usage=mixed fighter
    description= _ "Princess. Resists arcane. Gives all your nearby units 5% more damage"
    die_sound={SOUND_LIST:HUMAN_FEMALE_DIE}
{DEFENSE_ANIM "units/lighting/EMMR_Princess-defend.png" "units/lighting/EMMR_Princess.png" {SOUND_LIST:HUMAN_FEMALE_HIT} }
	[resistance]
		fire=100
		cold=100
		arcane=70
    [/resistance]
	
	[abilities]
		{ABILITY_EMMR_PRINCESS_LEADERSHIP}
	[/abilities]

    [attack]
        name=princess_order
        description=_"Princess order"
		icon=attacks/EMMR_staff-magic.png
        type=arcane
        range=ranged	
        damage=5
        number=4
    [/attack]	
	
	[attack_anim]
        [filter_attack]
            name=princess_order
        [/filter_attack]      
        start_time=-800
        [frame]
            image="units/lighting/EMMR_Princess.png:50"
        [/frame]
        [frame]
            image="units/lighting/EMMR_Princess-order.png:[700]"
            sound=die2.wav
        [/frame]
        [frame]
            image="units/lighting/EMMR_Princess.png:50"
        [/frame]
    [/attack_anim]  
		
[/unit_type]


