#textdomain wesnoth-gce
[unit_type]
	id=EMMR_Assa
	name= _ "Assa"
	race=human
	gender=male
	image="units/lighting/Assa.png"
	hitpoints=32
	movement_type=smallfoot
	movement=5
	experience=70
	level=2
	alignment=neutral
	advances_to=EMMR_Ninja
	cost=20
	usage=fighter
	description= _ "fighter. Silent killer"
	die_sound={SOUND_LIST:HUMAN_DIE}
{DEFENSE_ANIM "units/lighting/Assa-defend.png" "units/lighting/Assa.png" {SOUND_LIST:HUMAN_OLD_HIT} }

	[abilities]
		{ABILITY_NIGHTSTALK}
		{ABILITY_SKIRMISHER}
	[/abilities]

	[attack]
		name=silent_death
		description=_"silent death"
		icon=attacks/EMMR_staff-magic.png
		[specials]
		{WEAPON_SPECIAL_POISON}
		[/specials]
		type=blade
		range=melee
		damage=6
		number=3
	[/attack]


	[attack_anim]
		[filter_attack]
			name=silent_death
		[/filter_attack]
		start_time=-250
		[frame]
			image="units/lighting/Assa.png:50"
		[/frame]
		[frame]
			image="units/lighting/Assa-attack.png:[100]"
		[/frame]
		{SOUND:HIT_AND_MISS sword-1.ogg miss-1.ogg -125}
		[frame]
			image="units/lighting/Assa.png:50"
		[/frame]
	[/attack_anim]
[/unit_type]

