#textdomain wesnoth-gce
[unit_type]
	id=EMMR_Murderer
	name= _ "Murderer"
	race=human
	gender=male
	image="units/lighting/EMMR_Murderer.png"
	hitpoints=72
	movement_type=armoredfoot
	movement=5
	experience=130
	level=5
	alignment=neutral
	advances_to=null	
	{AMLA_DEFAULT}
	cost=120
	usage=fighter
	description= _ "Murderer."
	die_sound={SOUND_LIST:HUMAN_DIE}
{DEFENSE_ANIM "units/lighting/EMMR_Murderer-defend.png" "units/lighting/EMMR_Murderer.png" {SOUND_LIST:HUMAN_HIT} }

	
	[abilities]
		{ABILITY_NIGHTSTALK}
		{ABILITY_CONCEALMENT}
	[/abilities]

	[attack]
		name=slam
		description=_"Slam"
		icon=attacks/EMMR_staff-magic.png
		type=impact
		range=melee
		damage=10
		number=5
	[/attack]


	[attack_anim]
		[filter_attack]
			name=slam
		[/filter_attack]
		start_time=-250
		[frame]
			image="units/lighting/EMMR_Murderer.png:50"
		[/frame]
		[frame]
			image="units/lighting/EMMR_Murderer-attack[1,2].png:[100,100]"
		[/frame]
		{SOUND:HIT_AND_MISS club.ogg club-miss.ogg -125}
		[frame]
			image="units/lighting/EMMR_Murderer.png:50"
		[/frame]
	[/attack_anim]
[/unit_type]

