#textdomain wesnoth-gce
[unit_type]
	id=EMMR_Sniper
	name= _ "Sniper"
	race=human
	gender=male
	image="units/lighting/EMMR_Sniper.png"
	hitpoints=94
	movement_type=smallfoot
	movement=5
	experience=150
	level=6
	alignment=neutral
	advances_to=null
	{AMLA_DEFAULT}
	cost=160
	usage=archer
	description= _ "Sniper. Shooter with high accuracy"
	die_sound={SOUND_LIST:HUMAN_DIE}
{DEFENSE_ANIM "units/lighting/EMMR_Sniper-defend.png" "units/lighting/EMMR_Sniper.png" {SOUND_LIST:HUMAN_HIT} }


	[attack]
		name=sniping_hit
		description=_"Sniping hit"
		icon=attacks/EMMR_staff-magic.png
		[specials]
		{WEAPON_SPECIAL_EMMR_SNIPE}
		[/specials]
		type=pierce
		range=ranged
		damage=22
		number=3
	[/attack]

	[attack_anim]
		[filter_attack]
			name=sniping_hit
		[/filter_attack]
		start_time=-350
		[frame]
			image="units/lighting/EMMR_Sniper.png:50"			
		[/frame]
		[frame]
			image="units/lighting/EMMR_Sniper-snipe[1~3].png:[150*3]"
			sound=shot.wav
		[/frame]

		[frame]
			image="units/lighting/EMMR_Sniper.png:50"
		[/frame]
	[/attack_anim]
[/unit_type]

