#textdomain wesnoth-gce
[unit_type]
    id=EMMR_Incubus
    name= _ "Incubus"
    race=human
    gender=male
    image="units/lighting/Incubus.png"
    hitpoints=32
    movement_type=fly
    movement=5
    experience=70
    level=2
    alignment=neutral
    advances_to=EMMR_Archincubus
    cost=20
    usage=mixed fighter
    description= _ "Incubus. Resists cold. Is not visible inside towns.
	The Incubus killed his summoner to be free in the human world.
	Now he can fullfill his desires."
    die_sound={SOUND_LIST:HUMAN_DIE}
{DEFENSE_ANIM "units/lighting/Incubus-defend.png" "units/lighting/Incubus.png" {SOUND_LIST:HUMAN_HIT} }
	[resistance]
		fire=100
		cold=90
		arcane=100
    [/resistance]
	
	[abilities]
		{ABILITY_CONCEALMENT}
	[/abilities]

    [attack]
        name=claws
        description=_"claws"
		icon=attacks/EMMR_staff-magic.png
        type=blade
        range=melee
        damage=4
        number=4
    [/attack]	
   
    [attack_anim]
        [filter_attack]
            name=claws
        [/filter_attack]      
        start_time=-575
        [frame]
            image="units/lighting/Incubus.png:50"
        [/frame]
        [frame]
            image="units/lighting/Incubus-attack[1,2].png:[100*2]"
			sound=claws.ogg
        [/frame]
        [frame]
            image="units/lighting/Incubus-attack[3,4].png:[150,150]"
            sound=claws.ogg
        [/frame]
        [frame]
            image="units/lighting/Incubus.png:75"
        [/frame]
    [/attack_anim]
    
		
[/unit_type]


