#textdomain wesnoth-gce
[multiplayer_side]
    id=GCE_RPG_aurelix
    name=_ "Aurelix"
    image="units/heroes/aurelix.png"
    type=random
    leader=EoMa_Water_Elemental,FOW Sea Orc,Skiff,Thug,Thief,Poacher,Footpad,Naga Fighter,Naga Dirkfang
	random_leader=EoMa_Water_Elemental,FOW Sea Orc,Skiff,Thug,Thief,Poacher,Footpad,Naga Fighter,Naga Dirkfang
[/multiplayer_side]