#textdomain wesnoth-gce
[multiplayer_side]
    id=GCE_RPG_darwybfw
    name=_ "DarwyBfW"
#ifver WESNOTH_VERSION <= 1.18.7
	image="units/human-outlaws/shadow-lord.png"
#endif
#ifver WESNOTH_VERSION > 1.18.7
	image="units/rogue-mage/shadow-lord.png"
#endif
    type=random
    leader=Rogue Mage,Wose Sapling,Elvish Spearman GCE,Naga Hunter,Thug,Elvish Hunter,Aragwaith Archer,Aragwaith Adept,Naga Initiate
	random_leader=Rogue Mage,Wose Sapling,Elvish Spearman GCE,Naga Hunter,Thug,Elvish Hunter,Aragwaith Archer,Aragwaith Adept,Naga Initiate
[/multiplayer_side]