#textdomain wesnoth-gce
[multiplayer_side]
    id=GCE_RPG_gg45
    name=_ "GottGestalt45"
    image="units/frakcja5/golem.png"
    type=random
    leader=FLDgolem,Mage,Troll Whelp,EoMa_Bone_Beast,EoMa_Sister_of_Light,EoMa_Cleric,FLDmagz,EoMa_Golem,Phantom Statue
	random_leader=FLDgolem,Mage,Troll Whelp,EoMa_Bone_Beast,EoMa_Sister_of_Light,EoMa_Cleric,FLDmagz,EoMa_Golem,Phantom Statue
[/multiplayer_side]