#textdomain wesnoth-gce
[multiplayer_side]
    id=GCE_RPG_heindal
    name= _ "Heindal"
    image=units/animals/lynx.png
    type=random
    random_leader=Orca Baby,Mole,cat,quetzal,squirrel,Oryx,racoon,Spider,Owl,Lynx,hedgedog,Duck,Butterflies,Bernard,Porcupine
    leader=Orca Baby,Mole,cat,quetzal,squirrel,Oryx,racoon,Spider,Owl,Lynx,hedgedog,Duck,Butterflies,Bernard,Porcupine
[/multiplayer_side]
