#textdomain wesnoth-gce
[multiplayer_side]
    id=GCE_RPG_heindal
    name= _ "Heindal"
    image=units/animals/lynx.png
    type=random
    random_leader=Big Bernard,Young Lion,Big Oryx,quetzal spirit,Big Lynx
    leader=Big Bernard,Young Lion,Big Oryx,quetzal spirit,Big Lynx
[/multiplayer_side]
