#textdomain wesnoth-gce
[multiplayer_side]
    id=GCE_RPG_ihmcheck
    name=_ "Ihmcheck"
    image="units/darkblood-saurians/shaman-magic1.png"
    type=random
    leader=EoMa_Jungle_Pikeman,EoMa_Shamanistic_Adept,EoMa_Jungle_Blowgunner,EoMa_Wyvern,EoMa_Hydra,Ram,Terrapin,Blue_Lizard,AE_ext_monsters_Wingless_Dragon
	random_leader=EoMa_Jungle_Pikeman,EoMa_Shamanistic_Adept,EoMa_Jungle_Blowgunner,EoMa_Wyvern,EoMa_Hydra,Ram,Terrapin,Blue_Lizard,AE_ext_monsters_Wingless_Dragon
[/multiplayer_side]