#textdomain wesnoth-gce
[multiplayer_side]
	id=GCE_RPG_konrad2
	name=_ "Konrad2"
	image="units/konrad-commander-attack-4.png"
	type=random
	leader=Water Spirit,Fire Spirit,Earth Spirit,Air Spirit,Nature Weaver,Orc Bastard Onearm,Zombie Leader,Soulless
	random_leader=Water Spirit,Fire Spirit,Earth Spirit,Air Spirit,Nature Weaver,Orc Bastard Onearm,Zombie Leader,Soulless
[/multiplayer_side]