#textdomain wesnoth-gce
[multiplayer_side]
    id=GCE_RPG_lighting
    name=_"Lighting"
    image="units/Noble.png"
    leader=EMMR_Apprentice,EMMR_Pea,EMMR_Noob,EMMR_Doctor,EMMR_Summoner,EMMR_Clubman,EMMR_Archer,EMMR_Raider,EMMR_Caretaker
	random_leader=EMMR_Apprentice,EMMR_Pea,EMMR_Noob,EMMR_Doctor,EMMR_Summoner,EMMR_Clubman,EMMR_Archer,EMMR_Raider,EMMR_Caretaker
[/multiplayer_side]
