#textdomain wesnoth-gce
[multiplayer_side]
	id=GCE_RPG_lynch
	name=_ "Lynch"
	image="units/orcs/nightblade-defend-se-1-3.png"
	type=random
	leader=Rogue Mage, Giant Scorpion, Ghost, Orcish Grunt, Orcish Assassin, Naga Fighter, Apprentice Mage,Screamer
	random_leader=Rogue Mage, Giant Scorpion, Ghost, Orcish Grunt, Orcish Assassin, Naga Fighter, Apprentice Mage,Screamer
[/multiplayer_side]