#textdomain wesnoth-gce
[multiplayer_side]
    id=GCE_RPG_patience
    name=_ "Patience"
    image="units/heroes/pr_major.png"
    type=random
    leader=Ghost,Vampire Bat,EoMa_Nightmare,EoMa_Pirafly,EoMa_Air_Elemental,EoMa_Jinni,EoMa_Perfect_Drone
	random_leader=Ghost,Vampire Bat,EoMa_Nightmare,EoMa_Pirafly,EoMa_Air_Elemental,EoMa_Jinni,EoMa_Perfect_Drone
[/multiplayer_side]