#textdomain wesnoth-gce
[multiplayer_side]
	id=GCE_RPG_refumee
	name=_ "Refumee"
	image="units/saurians/beast.png"
	type=random
	leader=Saurian Skirmisher, Saurian Augur, Ref Dragonfly Rider, Saurian Scout, Deep Saurian Blacksmith, Deep Saurian Rider,Saurian Husk,Witch Doctor,Deep Saurian Fighter
	random_leader=Saurian Skirmisher, Saurian Augur, Ref Dragonfly Rider, Saurian Scout, Deep Saurian Blacksmith, Deep Saurian Rider,Saurian Husk,Witch Doctor,Deep Saurian Fighter
	terrain_liked=Ss,Sm,Dd,Ds
[/multiplayer_side]