#textdomain wesnoth-gce
[multiplayer_side]
    id=GCE_RPG_refumee
    name=_ "Refumee"
    image="units/saurians/prophet/prophet-se-die1.png"
    type=random
    leader=Saurian Skirmisher, Saurian Augur, Giant Mudcrawler, Fire Guardian, Giant Scorpion, Dragonfly,Snow Golem, Wild Saurian, Dust Devil
	random_leader=Saurian Skirmisher, Saurian Augur, Giant Mudcrawler, Fire Guardian, Giant Scorpion, Dragonfly,Snow Golem, Wild Saurian, Dust Devil
    terrain_liked=Ss,Sm,Dd,Ds
[/multiplayer_side]