#textdomain wesnoth-gce
[unit_type]
    id=Fright
    name= _ "Fright"
    race=undead
    num_traits=2
    {TRAIT_QUICK}
    {TRAIT_INTELLIGENT}
    image="units/Dark_Forces/Fright.png"

    hitpoints=25
    movement_type=smallfly
    [resistance]
        impact=100
        cold=70
        fire=70
        arcane=140
        pierce=120
    [/resistance]
    [abilities]
        {ABILITY_TELEPORT}
    [/abilities]
    movement=8
    experience=80
    level=2
    alignment=chaotic
    advances_to=Fiend
    cost=40
    usage=scout
    die_sound=lich-die.ogg
    {DEFENSE_ANIM "units/Dark_Forces/Fright.png"	"units/Dark_Forces/Fright.png" {SOUND_LIST:LICH_HIT} }
    [attack]
        name=scream
        description=_"scream"
        type=arcane
        [specials]
            {WEAPON_SPECIAL_DRAIN}
        [/specials]
        range=ranged
        damage=9
        number=3
        icon=attacks/curse.png
    [/attack]
    [attack_anim]
        [filter_attack]
            name=scream
        [/filter_attack]
        {MISSILE_FRAME_WAIL}
        start_time=-200

        [if]
            hits=yes
            [frame]
                duration=350
                image="units/Dark_Forces/Fright.png"
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=350
                image="units/Dark_Forces/Fright.png"
            [/frame]
        [/else]
    [/attack_anim]
[/unit_type]
