    [movetype]
        name=ship
        flying=yes # not really flying, it just keeps the sprite baseline from shifting up/down on different terrains
        [movement_costs]
            deep_water=1
            shallow_water=2
            swamp_water=2
            reef=3
            village=1
        [/movement_costs]
        [defense]
            deep_water=60
            shallow_water=70
            swamp_water=80
            reef=90
        [/defense]
        [resistance]
            blade=100
            pierce=100
            impact=110
            fire=130
            cold=70
            arcane=40
        [/resistance]
    [/movetype]
    [race]
        id=ship
        help_taxonomy=mechanical
        name= _ "race^Ship"
        plural_name= _ "race+plural^Ships"
        description= _ "Ships are not living beings, but they are crafted and (usually) controlled by living beings. Most ships neither move nor think on their own, but some do so as a result of magical enchantment."
        num_traits=2
        ignore_global_traits=yes
        {TRAIT_MECHANICAL}
        # these need to span elf/human/orc, so a little vague for now.  Maybe this "race" can be split up
        {SHIP_NAMES}
    [/race]

	
	[movetype]
		name=despair_stone
		[movement_costs]
			shallow_water=2
			deep_water=2
			reef=2
			swamp_water=2
			flat=1
			sand=2
			forest=2
			hills=2
			mountains=2
			village=1
			castle=1
			cave=1
			frozen=1
			fungus=2
		[/movement_costs]

		[defense]
			shallow_water=60
			deep_water=70
			reef=50
			swamp_water=50
			flat=60
			sand=60
			forest=40
			hills=50
			mountains=50
			village=40
			castle=40
			cave=60
			frozen=60
			fungus=50
		[/defense]

		[resistance]
			blade=40
			pierce=40
			impact=70
			fire=90
			cold=90
			arcane=150
		[/resistance]
	[/movetype]
	
	[movetype]
		name=altfoot
		[movement_costs]
			shallow_water=3
			reef=2
			swamp_water=3
			flat=1
			sand=2
			forest=2
			hills=2
			mountains=3
			village=1
			castle=1
			cave=2
			frozen=3
			fungus=2
		[/movement_costs]

		[defense]
			shallow_water=80
			reef=70
			swamp_water=80
			flat=60
			sand=70
			forest=50
			hills=50
			mountains=40
			village=40
			castle=40
			cave=60
			frozen=80
			fungus=50
		[/defense]

		[resistance]
			blade=100
			pierce=100
			impact=100
			fire=100
			cold=100
			arcane=60
		[/resistance]
	[/movetype]