#textdomain wesnoth-gce

#define PATH_TEMP
units/heroes/aurelix#enddef

[unit_type]
	id=Aurelix
	name= _ "Bunny Captain"
	race=monster
	image="{PATH_TEMP}.png"
	hitpoints=48
	movement_type=dunearmoredfoot
	movement=6
	experience=74
	level=2
	alignment=chaotic
	advances_to=Aurelix Captain
	cost=29
	usage=fighter
	[abilities]
		{ABILITY_LEADERSHIP}
	[/abilities]
	description= _ "Käpt'n Black Bunny: Der berüchtigste Piratenkapitän der sieben Weltmeere, mit einer Seele so schwarz, wie sein Fell weiß ist. Niemand weiß, woher Black Bunny kommt, und ob er schon immer ein Kaninchen war. Jeder, der es wagte, ihn zu fragen, machte mit der Klinge seines Säbels oder schlimmer, mit seinen scharfen Nagezähnen Bekanntschaft. Doch selbst um es zu versuchen, müsste man sich zuerst den Weg durch seine Horde blutrünstiger Piraten freikämpfen."
	die_sound={SOUND_LIST:HUMAN_DIE}
	{DEFENSE_ANIM "{PATH_TEMP}.png" "{PATH_TEMP}.png" {SOUND_LIST:HUMAN_HIT} }
	{LEADING_ANIM "{PATH_TEMP}.png" "{PATH_TEMP}.png" (-18,-36)}

		[movement_costs]
			deep_water=3
			shallow_water=2
		[/movement_costs]

		[defense]
			deep_water=60
			shallow_water=50
			reef=50
			swamp_water=50
		[/defense]

	[attack]
		name=saber
		description= _ "saber"
		type=blade
		range=melee
		damage=4
		number=8
		icon=attacks/sword-human-short.png
	[/attack]
	
	[attack]
		name=bite
		description= _ "bite"
		type=pierce
		range=melee
		damage=14
		number=1
		icon=attacks/fangs-animal.png
		[specials]
			{WEAPON_SPECIAL_POISON}
			{WEAPON_SPECIAL_SLOW}
		[/specials]
	[/attack]
	
	[attack_anim]
		[filter_attack]
			name=saber
		[/filter_attack]
		start_time=-200
		[frame]
			image="{PATH_TEMP}.png:300"
		[/frame]
		{SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -100}
	[/attack_anim]

	[attack_anim]
		[filter_attack]
			name=bite
		[/filter_attack]
		start_time=-250
		[frame]
			image="{PATH_TEMP}.png:300"
		[/frame]
		{SOUND:HIT_AND_MISS bite.ogg {SOUND_LIST:MISS} -150}
	[/attack_anim]

[/unit_type]

#undef PATH_TEMP

#define PATH_TEMP
units/heroes/aurelix_captain#enddef
[unit_type]
	[base_unit]
		id=Aurelix
	[/base_unit]
	id=Aurelix Captain
	name= _ "Käpt'n Black Bunny"
	image="{PATH_TEMP}.png"
	alignment=chaotic
	experience=150
	level=3
	hitpoints=65
	cost=53
	advances_to=null
	{AMLA_DEFAULT}
	{DEFENSE_ANIM "{PATH_TEMP}.png" "{PATH_TEMP}.png" {SOUND_LIST:HUMAN_HIT} }
	{LEADING_ANIM "{PATH_TEMP}.png" "{PATH_TEMP}.png" (-18,-36)}
	
	[attack]
		name=saber
		description= _ "saber"
		type=blade
		range=melee
		damage=6
		number=8
		icon=attacks/sword-human-short.png
	[/attack]

	[attack]
		name=bite
		description= _ "bite"
		type=pierce
		range=melee
		damage=14
		number=2
		icon=attacks/fangs-animal.png
		[specials]
			{WEAPON_SPECIAL_POISON}
			{WEAPON_SPECIAL_SLOW}
		[/specials]
	[/attack]

	[attack_anim]
		[filter_attack]
			name=saber
		[/filter_attack]
		start_time=-200
		[frame]
			image="{PATH_TEMP}.png:300"
		[/frame]
		{SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -100}
	[/attack_anim]

	[attack_anim]
		[filter_attack]
			name=bite
		[/filter_attack]
		start_time=-250
		[frame]
			image="{PATH_TEMP}.png:300"
		[/frame]
		{SOUND:HIT_AND_MISS bite.ogg {SOUND_LIST:MISS} -150}
	[/attack_anim]
[/unit_type]
#undef PATH_TEMP