#textdomain wesnoth-gce
[unit_type]
	id=FOW Ocean Orc
	name= _ "Ocean Orc"
	race=orc
	image="units/orcs/ocean-orc.png"
	[standing_anim]
		start_time=-50
		[frame]
			image="units/orcs/ocean-orc.png:50"
		[/frame]
	[/standing_anim]
	[standing_anim]
		start_time=-350
		terrain_type=!,*^B*,S*^Vhs,Kme*^*,!,Km*^*,Cm*^*,Chs*^*,Chw*^*,W*^*,S*^*,*^Vm
		[frame]
			image="units/orcs/ocean-orc-swim[1,2].png:[350,350]"
		[/frame]
	[/standing_anim]
	hitpoints=65
	movement_type=swimmer
	movement=6
	experience=150
	level=3
	alignment=chaotic
	advances_to=null
	{AMLA_DEFAULT}
	cost=43
	usage=mixed fighter
	description= _ "While often viewed as inferior to their land-loving counterparts, Sea Orcs represent a great leap for all goblins as they have adapted to aquatic environments. With their curved swords they are competent fighters, although their lack of a ranged attack and poor defense on land do represent strategic weaknesses."
	die_sound={SOUND_LIST:ORC_DIE}
	{DEFENSE_ANIM "units/orcs/ocean-orc.png" "units/orcs/ocean-orc.png" {SOUND_LIST:ORC_SMALL_HIT} }
	[attack]
		name=sword
		#textdomain wesnoth-units
		description= _"sword"
		#textdomain wesnoth-httt
		icon=attacks/sword-orcish.png
		type=blade
		range=melee
		damage=9
		number=4
	[/attack]
	[attack]
		name=javelin
		description=_"Harpoon"
		icon=attacks/javelin-orcish.png
		type=pierce
		range=ranged
		damage=13
		number=2
	[/attack]
	[attack_anim]
		[filter_attack]
			name=sword
		[/filter_attack]
		start_time=-200
		[frame]
			image="units/orcs/ocean-orc.png:400"
		[/frame]
		{SOUND:HIT_AND_MISS {SOUND_LIST:SWORD_SWISH} {SOUND_LIST:MISS} -75}
	[/attack_anim]
	
	[attack_anim]
		[filter_attack]
			name=javelin
		[/filter_attack]
		missile_start_time=0
		[missile_frame]
			duration=150
			image="projectiles/spear-n.png"
			image_diagonal="projectiles/spear-ne.png"
		[/missile_frame]
		start_time=-250
		[frame]
			image="units/orcs/ocean-orc.png:350"
		[/frame]
		attack_sound_start_time=-50
		[attack_sound_frame]
			duration=100
			sound={SOUND_LIST:THROW}
		[/attack_sound_frame]
		[if]
			hits=yes
			[attack_sound_frame]
				sound=spear.ogg
			[/attack_sound_frame]
		[/if]
	[/attack_anim]

[/unit_type]
